﻿
@{
    ViewBag.Title = "แบบสอบถาม";
}
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/plugins/chart.js/Chart.bundle.min.js"></script>
<script src="~/Content/chartjs-plugin-labels.js"></script>
<script src="~/Scripts/dashboard.js"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ค้นหาข้อมูล</h4>
            </div>
            <div class="card-body style-default-bright" style="padding:10px;">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-md-2 text-right control-label">กลุ่มผู้ตอบคำถาม</label>
                            <div class="col-md-3">
                                <select class="form-control" id="IS_Verify">
                                    <option value=""> ทั้งหมด </option>
                                    <option value="Y"> เฉพาะสมาชิก SB Designer Club</option>
                                </select>
                            </div>

                            <div class="col-md-1 text-center">
                                <button class="btn btn-info" id="bt_Search"><i class="fa fa-search"></i> ค้นหา </button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <hr />
                        </div>
                        <label class="col-md-12 text-left control-label">
                            <h3>
                                <span id="textAllMember">
                                    จำนวนข้อมูลสมาชิกทั้งหมด : <span style="color:red;" id="totalMember"> 0 </span> คน
                                </span>
                                จำนวนผู้ตอบแบบสอบถาม <span style="color:red;" id="totalMemberVQ"> 0 </span> คน</h3></label>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="datavq">


    </div>
</div>