﻿body {
    
}
.btn-sm {
    font-size: 16px;
}
.form-control {
        font-size: 18px;
    }
.btn {
    font-size: 16px;
}
/*----------------------------------------------*/

/*----------------------------------------------*/
.bt_square{
    background-color: #4c4c4c !important;
    color:#fff !important;
    font-size:15px !important;
}
.bt_search{
    color:#fff !important;
    font-size:15px !important;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*----------------------------------------------*/

/* Scrollbar styles */
::-webkit-scrollbar {
width: 5px;
height: 10px;
}

::-webkit-scrollbar-track {
border: 1px solid #80b636;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #80b636;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #088200;  
}

.reward_overflow{
    text-align: center;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

label.error {
    color: red;
    font-weight: 300;
    font-size: 16px;
}