
.main-header .incentive-menu.dropdown-menu {
    margin-top: -2px;
    text-transform: uppercase;
    background: #D7464D;
    width: 300px;
}

.main-header .incentive-menu.btn-default:hover,
.main-header .incentive-menu.btn-default:active,
.open .incentive-menu.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #D7464D;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.main-header .incentive-menu.dropdown-menu .dropdown-header {
    padding: 10px 20px;
    font-weight: 300;
    line-height: 25px;
    font-size: 1.9em;
    text-transform: none;
    color: #fff;
    border-bottom: 3px solid #F2812F;
}

.main-header .incentive-menu.dropdown-menu .dropdown-header .badge {
    margin-top: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    font-size: 0.55em;
    color: #D7464D;
}

.main-header .incentive-menu.dropdown-menu .dropdown-footer {
    padding: 10px 20px;
    font-weight: 300;
    text-transform: none;
    color: #fff;
    border-top: 3px solid #F2812F;
}

.responsive-admin-menu ul li a {
    font-size: 13px;
}

.main-header .labelHeader {
    margin-top: 6px;
    margin-left: 6px;
    margin-right: 6px;
}

.main-header .btn-faq {
    color: #f00;
    padding: 5px 9px;
    background: #fff;
    line-height: 20px;
    font-weight: bold;
}

.main-header .btn-faq:hover {
    color: #fff;
    background-color: #D7464D;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.box-sizing * {
    box-sizing: inherit;
}

.head-collapse {
    text-indent: 20px;
}

.head-collapse a {
    color: #555;
    text-decoration: none;
}

.main-header .dropdown-menu .inbox-dropdown > li > a .user-image img {
    border-radius: 5%;
}

.main-header .dropdown-menu ul > li > a {
    box-shadow: 0px -2px rgb(242, 129, 47) inset;
}

.news-content {
    font-size: 16px;
    text-indent: 50px;
    padding: 0px 20px 0px 20px;
    line-height: 30px;
}

.modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.dataTables_processing {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 10px;
    border-top: 1px #858689 solid;
    border-bottom: 1px #858689 solid;
    text-align: center;
    font-weight: bold;;
    font-size: 1.2em;
    background-color: white;
    color: #33383D;
    z-index: 50;
}

.label-white {
    background-color: #fff;
    color: #555;
    border-color: #555;
    border-style: solid;
    border-width: 1px;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.dropdown-menu.score-card {
    background-color: #5bc0de;
}

.dropdown-menu.score-card a {
    color: #fff;
}

.dropdown-menu.score-card a:hover {
    color: #fff;
    background-color: #286090;
}

.tooltip-head{
    color: #fff;
    background: #000;
    padding: 10px 10px 5px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin-bottom: -2px; /* Hide default tooltip rounded corner from top */
}
.tooltip-head .glyphicon{
    font-size: 22px;
    vertical-align: bottom;
}
.tooltip-head h3{
    margin: 0;
    font-size: 18px;
}

.mobile-responsive {
    overflow-x:scroll;
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    .mobile-responsive {
        overflow-x:scroll;
    }
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    .mobile-responsive {
        overflow-x:scroll;
    }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
    .mobile-responsive {
        overflow-x:scroll;
    }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .mobile-responsive {
        overflow-x:scroll;
    }
}

td.autowidth,th.autowidth {
    width: 1px;
    white-space: nowrap;
}

/* ribbon start */
/*
.black-ribbon {
  position: fixed;
  z-index: 9999;
  width: 70px;
}
@media only all and (min-width: 768px) {
  .black-ribbon {
    width: auto;
  }
}

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }
*/
/* ribbon end */

/*
html {
-moz-filter: grayscale(60%); -webkit-filter: grayscale(60%); filter: gray; filter: grayscale(60%);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

}

img { filter: gray; filter: grayscale(1); -webkit-filter: grayscale(1); }
img:hover { filter: none; -webkit-filter: grayscale(0); }
*/