﻿@font-face {
    font-family: 'DBGillSiam';
    src: url('../fonts/grillsiam/DB Gill Siam X v3.2.ttf') format('truetype');
}
html,
body {
    font-family:DBGillSiam;
	font-size: 18px;
	font-weight: 400;
	color: #555;
	height: 100%;
	width: 100%!important;
/* 	background-color: #33383d;*/
	background-color: #B02D33;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.btn {
    font-family:DBGillSiam !important;  
	font-size: 18px;
}
body > .row {
	margin-left: 0;
	margin-right: 0;
}