﻿/*loading pruksa*/
.loading:before {
    content: '';
    background-image: url(http://sbdesignerclub.com/backend/Content/img/new-logo.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    display: block;
    width: 80px;
    height: 80px;
    padding-top: 32px;
    font-size: 12px;
    font-family: Arial;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
    margin: -40px 0 0 -40px;
    color: #8dc63f;
    text-align: center;
    box-sizing: border-box;
}

.loading:after {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border-width: 4px;
    background-color: #fff;
    border-style: solid;
    border-color: #4267b2 #5bc0de #5bc0de #5bc0de;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 998;
    margin: -40px 0 0 -40px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    transform: rotate(0deg);
    transform: rotate(360deg);
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    
}
.cover-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index:1500;
 }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
