﻿
@{
    ViewBag.Title = "รายงาน";
    ViewBag.Description = "การตั้งเบิกงบประมาณจากการแลกของรางวัล";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title">
                    <h4>เงื่อนไขการออกรายงาน</h4>
                </div>
            </div>
            <div class="box-body">
                <div class="form-horizontal form-padding" role="form">
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <input type="hidden" id="budget_id" value="@ViewBag.budget_id">
                            <label class="col-sm-3 col-md-2 control-label text-right" style="padding-left:0;">การตั้งเบิก ครั้งที่ : </label>
                            <div class="col-sm-6 col-md-5">
                                <select class="form-control select2" id="round_num" name="round_num"></select>
                            </div>
                        </div>
                        <br><br>
                        <div class="col-sm-12 col-md-12">
                            <label class="col-sm-3 col-md-2 control-label text-right" style="padding-left:0;">ประเภทรายงาน</label>
                            <div class="col-sm-6 col-md-5">
                                <select class="form-control select2" id="ddl_type_report" name="ddl_type_report">

                                    <option value="1">รายงานสรุปการแลกของรางวัล</option>
                                    <option value="2">รายงานรายละเอียดการแลกของรางวัลรายสมาชิก</option>
                                </select>
                            </div>
                        </div>
                        <br><br>
                        <div class="col-sm-12 col-md-12">
                            <label class="col-sm-3 col-md-2 control-label text-right">ชื่อ รายงาน</label>
                            <div class="col-sm-5 col-md-5">
                                <input type="text" class="form-control" id="txt_reportname">
                            </div>
                            <div class="col-sm-12 col-md-5" style="text-align:center;">
                                <button class="btn btn-danger" id="bt_ViewData" style="width:100px;"><i class="fa fa-search"></i> ดูข้อมูล </button>
                                <button class="btn btn-info" id="bt_ExportExcel" style="width:100px;"><i class="fa fa-file-excel-o"></i> ออกรายงาน </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <br>

                @*Graph*@
                <div id="graph" style="min-height:650px;">
                    <div class="col-md-12">
                        <div class="col-md-6 col-offset-md-3 col-sm-12" style="width:50%">
                            <canvas id="cat_point" style="width:850px; height:350px;"></canvas>
                        </div>
                    </div><br><br>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/plugins/chart.js/Chart.bundle.js"></script>
<script src="~/Scripts/chartjs-plugin-labels.js"></script>
<script src="~/Scripts/Report/js_ReportBudget.js?v=1.3"></script>