﻿
@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "รูปภาพสไลด์ (Banner)";
}

<style>
    .select2-container .select2-selection--single{
        height: 34px !important;
    }
</style>

<div class="modal fade" id="addBannerModal" tabindex="-1" role="dialog" aria-labelledby="addBannerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:1000px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รายละเอียดรูปภาพสไลด์</b></h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="add-banner-form">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">คำอธิบาย TH</label>
                            <div class="col-md-8">
                                <input class="form-control" id="descriptionTH" name="descriptionTH" type="text" />
                                <input class="form-control" id="slideCode" name="slideCode" type="hidden" value="0" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">คำอธิบาย EN</label>
                            <div class="col-md-8">
                                <input class="form-control" id="descriptionEN" name="descriptionEN" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">ลำดับการแสดง <span class="req_">*</span></label>
                            <div class="col-md-2">
                                <input class="form-control" id="displaySEQ" name="displaySEQ" type="number" min="1" required />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">รูปภาพ TH <span class="req_">*</span><br /> <small>(1920px X 657px)</small></label>
                            <div class="col-md-5">
                                <input class="form-control" id="pathImage_" name="pathImage_" type="file" required />
                                <input class="form-control" id="pathImage" name="pathImage" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2"></label>
                            <div class="col-xs-6 col-md-5">
                                <img class="pathImage" src="~/Content/img/image.png" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">รูปภาพ EN <span class="req_">*</span><br /> <small>(1920px X 657px)</small></label>
                            <div class="col-md-5">
                                <input class="form-control" id="pathImageEn_" name="pathImageEn_" type="file" required />
                                <input class="form-control" id="pathImageEn" name="pathImageEn" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2"></label>
                            <div class="col-xs-6 col-md-5">
                                <img class="pathImageEn" src="~/Content/img/image.png" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">รูปภาพ (Mobile) TH <span class="req_">*</span><br /> <small>(600px X 576px)</small></label>
                            <div class="col-md-5">
                                <input class="form-control" id="pathImageMobile_" name="pathImageMobile_" type="file" required />
                                <input class="form-control" id="pathImageMobile" name="pathImageMobile" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2"></label>
                            <div class="col-xs-6 col-md-5">
                                <img class="pathImageMobile" src="~/Content/img/image.png" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">รูปภาพ (Mobile) EN <span class="req_">*</span><br /> <small>(600px X 576px)</small></label>
                            <div class="col-md-5">
                                <input class="form-control" id="pathImageMobileEn_" name="pathImageMobileEn_" type="file" required />
                                <input class="form-control" id="pathImageMobileEn" name="pathImageMobileEn" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2"></label>
                            <div class="col-xs-6 col-md-5">
                                <img class="pathImageMobileEn" src="~/Content/img/image.png" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">Link To Ads</label>
                            <div class="col-md-5">
                                <select class="form-control select2" id="adsId" name="adsId" style="width:100%">
                                    <option value="promote?ads=3&channel=10">กิจกรรม 1</option>
                                    <option value="promote?ads=3&channel=10">กิจกรรม 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">Url</label>
                            <div class="col-md-5">
                                <input class="form-control" id="linkUrl" name="linkUrl" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <h3 class="text-bold">Member Log in</h3>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">รูปภาพ TH <span class="req_">*</span><br /> <small>(1920px X 657px)</small></label>
                            <div class="col-md-5">
                                <input class="form-control" id="pathImageMember_" name="pathImageMember_" type="file" required />
                                <input class="form-control" id="pathImageMember" name="pathImageMember" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2"></label>
                            <div class="col-xs-6 col-md-5">
                                <img class="pathImageMember" src="~/Content/img/image.png" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">รูปภาพ EN <span class="req_">*</span><br /> <small>(1920px X 657px)</small></label>
                            <div class="col-md-5">
                                <input class="form-control" id="pathImageMemberEn_" name="pathImageMemberEn_" type="file" required />
                                <input class="form-control" id="pathImageMemberEn" name="pathImageMemberEn" type="hidden" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2"></label>
                            <div class="col-xs-6 col-md-5">
                                <img class="pathImageMemberEn" src="~/Content/img/image.png" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">รูปภาพ (Mobile) TH <span class="req_">*</span><br /> <small>(600px X 576px)</small></label>
                            <div class="col-md-5">
                                <input class="form-control" id="pathImageMemberMobile_" name="pathImageMemberMobile_" type="file" required />
                                <input class="form-control" id="pathImageMemberMobile" name="pathImageMemberMobile" type="hidden" />
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2"></label>
                            <div class="col-xs-6 col-md-5">
                                <img class="pathImageMemberMobile" src="~/Content/img/image.png" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">รูปภาพ (Mobile) EN <span class="req_">*</span><br /> <small>(600px X 576px)</small></label>
                            <div class="col-md-5">
                                <input class="form-control" id="pathImageMemberMobileEn_" name="pathImageMemberMobileEn_" type="file" required />
                                <input class="form-control" id="pathImageMemberMobileEn" name="pathImageMemberMobileEn" type="hidden" />
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label col-md-2"></label>
                            <div class="col-xs-6 col-md-5">
                                <img class="pathImageMemberMobileEn" src="~/Content/img/image.png" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">Link To Ads</label>
                            <div class="col-md-5">
                                <select class="form-control select2" id="adsId2" name="adsId2" style="width:100%">
                                    <option value="promote?ads=3&channel=10">กิจกรรม 1</option>
                                    <option value="promote?ads=3&channel=10">กิจกรรม 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label text-right col-md-2">Url</label>
                            <div class="col-md-5">
                                <input class="form-control" id="linkUrlMember" name="linkUrlMember" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label text-right">วันที่เริ่มใช้ <span class="req_">*</span></label>
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control pull-right" id="strStartDate" name="strStartDate" required>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label class="col-md-2 control-label text-right">วันที่สิ้นสุด <span class="req_">*</span></label>
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control pull-right" id="strEndDate" name="strEndDate" required>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-2 control-label text-right">สถานะ</label>
                            <div class="col-md-8">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <input id="radio-active1" class="magic-radio" type="radio" name="active" value="Y" checked>
                                    <label style="padding-left: 5px;" for="radio-active1">ใช้งาน</label>
                                    &emsp;
                                    <input id="radio-active2" class="magic-radio" type="radio" name="active" value="N">
                                    <label style="padding-left: 5px;" for="radio-active2">ยกเลิก</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <a class="btn btn-info btn-sm" id="btn-preview"><i class="fa fa-search"></i>&nbsp;Preview</a>
                <button type="button" class="btn btn-primary btn-sm" id="save_banner"><i class="fa fa-floppy-o"></i>&nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title"><h4>รูปภาพสไลด์</h4></div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button type="button" class="btn btn-success btn-sm bt_square" data-toggle="modal" data-target="#addBannerModal"><i class="fa fa-plus"></i><br /> เพิ่มรูปภาพสไลด์</button>
                    </div>
                </div>

            </div>
            <div class="box-body" style="overflow-x:scroll">
                <table id="banner-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align:middle;" width="5%">ลำดับ</th>
                            <th class="text-center" style="vertical-align:middle;" width="15%">Desktop</th>
                            <th class="text-center" style="vertical-align:middle;" width="15%">Desktop EN</th>
                            <th class="text-center" style="vertical-align:middle;" width="15%">Mobile</th>
                            <th class="text-center" style="vertical-align:middle;" width="15%">Mobile EN</th>
                            <th class="text-center" style="vertical-align:middle;" width="10%">รายละเอียด</th>
                            <th class="text-center" style="vertical-align:middle;" width="15%">วันที่</th>
                            <th class="text-center" style="vertical-align:middle;" width="5%">สถานะ</th>
                            <th class="text-center" style="vertical-align:middle;" width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <td>1</td>
                                <td><img src="https://sf.pruksa.com/hero_banner/ts_PM_BH_01_Desktop1.jpg" style="width:200px;" /></td>
                                <td><img src="https://sf.pruksa.com/hero_banner/ts_PM_BH_01_Desktop1.jpg" style="width:200px;" /></td>
                                <td><img src="https://sf.pruksa.com/hero_banner/ts_PM_BH_01_Desktop1.jpg" style="width:200px;" /></td>
                                <td><img src="https://sf.pruksa.com/hero_banner/ts_PM_BH_01_Desktop1.jpg" style="width:200px;" /></td>

                                <td>
                                    27 กุมภาพันธ์ 2018 - 31 สิงหาคม 2018 <br />
                                    ตำแหน่งที่แสดงผล : หน้าแรก
                                </td>
                                <td>1/6/2018 - 1/7/2018</td>
                                <td>ใช้งาน</td>
                                <td>
                                    <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#addBannerModal"><i class="fa fa fa-pencil"></i>&nbsp; ดู/แก้ไข</button>
                                </td>
                            </tr>*@
                </table>
            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/Scripts/Banner/banner.js"></script>
}
