﻿@using System.Web.Optimization
@{
    ViewBag.Title = "Preview";
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: - Pruksa Member
        }
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/Content/css/font-DBG.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/css/slick/slick-theme.css" rel="stylesheet" />
</head>
<style>
    .w-100 {
        width: 1520px !important;
        height: auto !important;
    }

    div {
        text-align: center;
    }

    .mobile-banner {
        width: 100%;
        height: auto !important;
    }
</style>

<h2>Banner preview</h2>

<div class="hidden-xs hidden-sm">
    <img class="w-100" src="@ViewBag.bannerDTH" />
    <img class="w-100" src="@ViewBag.bannerDEN" />
    <img class="w-100" src="@ViewBag.bannerMTH" />
    <img class="w-100" src="@ViewBag.bannerMEN" />
</div>
<div class="hidden-md hidden-lg" style="width:100%; height:auto !important; text-align:center">
    <img class="mobile-banner" src="@ViewBag.bannerDMTH" />
    <img class="mobile-banner" src="@ViewBag.bannerDMEN" />
    <img class="mobile-banner" src="@ViewBag.bannerMMTH" />
    <img class="mobile-banner" src="@ViewBag.bannerMMEN" />
</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="~/Content/plugins/slick/slick.js"></script>
<script src="~/Content/js/plugins/bootstrap/bootstrap.js"></script>
<script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript">
    $("div").slick({

        slidesToShow: 1,
        slidesToScroll: 1,
        speed: 500,
        autoplay: !0,
        autoplaySpeed: 4e3,
        dots: !0,
        arrows: !0
    })
</script>

