﻿@{
    ViewBag.Title = "VIP";
    ViewBag.Description = "เพิ่มสมาชิก";
}
<div class="row">
    <form action="#" id="vip_form" method="post">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header">
                    <h4>ข้อมูลส่วนตัว</h4>
                </div>
                <div class="card-body style-default-bright" style="padding:10px;">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <label class="col-md-1 text-right control-label">คำนำหน้า*</label>
                                    <div class="col-md-3">
                                        <select name="Title_ID" class="form-control">
                                            <option value="mr">นาย</option>
                                            <option value="mrs">นาง</option>
                                            <option value="miss">นางสาว</option>
                                        </select>
                                    </div>
                                    <label class="col-md-1 text-right control-label">ชื่อ*</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Name" class="form-control require" data-require="กรุณากรอกชื่อ">
                                        <span class="help-block text-right"></span>
                                    </div>
                                    <label class="col-md-1 text-right control-label">นามสกุล*</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Surname" class="form-control require" data-require="กรุณากรอกนามสกุล">
                                        <span class="help-block text-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-12 col-md-12">
                                    <label class="col-md-1 text-right control-label">ชื่อ(EN)</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Name_Eng" class="form-control">
                                    </div>
                                    <label class="col-md-1 text-right control-label">นามสกุล(EN)</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Surname_Eng" class="form-control">
                                    </div>
                                    <label class="col-md-1 text-right control-label">ไอดี ไลน์</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Line_ID" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-12 col-md-12">
                                    <label class="col-md-1 text-right control-label">เบอร์มือถือ*</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Mobile_Phone" class="form-control require" data-require="กรุณากรอกเบอร์มือถือ">
                                        <span class="help-block text-right"></span>
                                    </div>
                                    <label class="col-md-1 text-right control-label">วันเกิด</label>
                                    <div class="col-md-3">
                                        <div class="input-group date">
                                            <input type="text" class="form-control txt_datetime" name="Birthday" readonly>
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-1 text-right control-label">อีเมล์*</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Email" class="form-control require" data-require="กรุณากรอกอีเมล" data-email="รูปแบบอีเมลไม่ถูกต้อง">
                                        <span class="help-block text-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-12 col-md-12">
                                    <label class="col-md-1 text-right control-label">รูปนามบัตร</label>
                                    <div class="col-md-3">
                                        <input type="file" accept="image/*" class="form-control" name="Path_Card" id="Path_Card">
                                    </div>
                                    <label class="col-md-2 text-right control-label"><input type="checkbox" id="IS_Verify" name="IS_Verify" class="form-control">อนุมัติการเป็น Designer</label>
                                    <div class="col-md-2">
                                        <div class="input-group date">
                                            <input type="text" class="form-control txt_datetime" id="Verify_Date"  name="Verify_Date" readonly>
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-md-1 text-right control-label">แนะนำโดย</label>
                                    <div class="col-md-3">
                                        <input type="text"   class="form-control" name="Recommend_By" id="Recommend_By">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header">
                    <h4>ที่อยู่ปัจจุบัน</h4>
                </div>
                <div class="card-body style-default-bright" style="padding:10px;">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <label class="col-md-1 text-right control-label">ชื่ออาคาร</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Building" class="form-control">
                                    </div>
                                    <label class="col-md-1 text-right control-label">บ้าน/อาคารเลขที่*</label>
                                    <div class="col-md-3">
                                        <input type="text" name="House_No" class="form-control require" data-require="กรุณากรอกบ้าน/อาคารเลขที่">
                                        <span class="help-block text-right"></span>
                                    </div>
                                    <label class="col-md-1 text-right control-label">หมู่บ้าน</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Village" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-12 col-md-12">
                                    <label class="col-md-1 text-right control-label">หมู่ที่</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Moo" class="form-control">
                                    </div>
                                    <label class="col-md-1 text-right control-label">ตรอก/ซอย</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Soi" class="form-control">
                                    </div>
                                    <label class="col-md-1 text-right control-label">ถนน*</label>
                                    <div class="col-md-3">
                                        <input type="text" name="Road" class="form-control require" data-require="กรุณากรอกถนน">
                                        <span class="help-block text-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-12 col-md-12">
                                    <label class="col-md-1 text-right control-label">จังหวัด*</label>
                                    <div class="col-md-3">
                                        <select name="Province_ID" class="form-control require" data-require="กรุณากรอกจังหวัด">
                                            <option value="">กรุณาเลือกจังหวัด</option>
                                        </select>
                                        <span class="help-block text-right"></span>
                                    </div>
                                    <label class="col-md-1 text-right control-label">อำเภอ/เขต*</label>
                                    <div class="col-md-3">
                                        <select name="Amphor_ID" class="form-control require" data-require="กรุณากรอกอำเภอ/เขต">
                                            <option value="">อำเภอ / เขต</option>
                                        </select>
                                        <span class="help-block text-right"></span>
                                    </div>
                                    <label class="col-md-1 text-right control-label">ตำบล/แขวง*</label>
                                    <div class="col-md-3">
                                        <select name="Tambon_ID" class="form-control require" data-require="กรุณากรอกตำบล/แขวง">
                                            <option value="">ตำบล / แขวง</option>
                                        </select>
                                        <span class="help-block text-right"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 15px;">
                                <div class="col-xs-12 col-md-12">
                                    <label class="col-md-1 text-right control-label">รหัสไปรษณีย์</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="Post_Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right col-md-12">
            <button type="button" class="btn btn-danger" id="bt_save_vip"><i class="fa fa-save"></i> &nbsp; บันทึก</button>
        </div>
    </form>
</div>

<div class="modal fade" id="modalSuccess" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-check text-success" style="font-size: 3em;"></i>
                <h1 class="text-success">สำเร็จ</h1>
                <h4>เพิ่มข้อมูลสมาชิก VIP ใหม่เรียบร้อย</h4>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm" style="width: 70px;">ปิด</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalError" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fa fa-times text-danger" style="font-size: 3em;"></i>
                <h1 class="text-danger">พบข้อผิดพลาด</h1>
                <h4 class="modal-message"></h4>
                <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm" style="width: 70px;">ปิด</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/js/init.js"></script>
<script>
    $(document).ready(function () {
        $('.date').datepicker({
            autoclose: true,
            orientation: "bottom auto"
        });

        $.post(baseUrl + 'Vip/GetProvince', {}, function (data) {
            let obj = $.parseJSON(data.items);
            $.each(obj, function (key, value) {
                $('#vip_form [name="Province_ID"]').append('<option value="' + value.PRV_ID + '">' + value.PRV_Name + '</option>')
            })
        });

        $('#vip_form [name="Province_ID"]').on('change', function () {
            let post = { province_id: $(this).val() }
            $.post(baseUrl + 'Vip/GetAmphur', post, function (data) {
                // remove option
                $('#vip_form [name="Amphor_ID"] option, #vip_form [name="Tambon_ID"] option').not('option[value=""]').remove();
                // loop append amphur
                let obj = $.parseJSON(data.items);
                $.each(obj, function (key, value) {
                    $('#vip_form [name="Amphor_ID"]').append('<option value="' + value.AMP_ID + '">' + value.AMP_Name + '</option>')
                })
            });
        });

        $('#vip_form [name="Amphor_ID"]').on('change', function () {
            let post = { amphur_id: $(this).val() }
            $.post(baseUrl + 'Vip/GetTambol', post, function (data) {
                // remove option
                $('#vip_form [name="Tambon_ID"] option').not('option[value=""]').remove();
                // loop append amphur
                let obj = $.parseJSON(data.items);
                $.each(obj, function (key, value) {
                    $('#vip_form [name="Tambon_ID"]').append('<option value="' + value.TAM_ID + '">' + value.TAM_Name + '</option>')
                })
            });
        });

        $('#bt_save_vip').on('click', function () {
            let validate = true;

            $('#vip_form .help-block').text('');
            $('#vip_form .has-error').removeClass('has-error');
            $.each($('#vip_form .require'), function (key, value) {
                let input_data = $(value).val();
                if (!input_data) {
                    validate = false;
                    $(value).closest('div').addClass('has-error');
                    $(value).closest('div').find('span').text($(value).data('require'));
                } else {
                    let input_email = $(value).data('email');
                    if (input_email) {
                        if (!isEmail(input_data)) {
                            validate = false;
                            $(value).closest('div').addClass('has-error');
                            $(value).closest('div').find('span').text($(value).data('email'));
                        }
                    }
                }
            });

            if (validate) {
                var formData = new FormData();
                $.each($('#vip_form input, #vip_form select').not('[name="Path_Card"]'), function (key, value) {
                    formData.append($(this).attr('name'), $(this).val());
                });

                if ($('#vip_form [name="Path_Card"]').val()) {
                    var file = $('#Path_Card')[0].files[0];
                    formData.append("Path_Card", file);
                }

                $.ajax({
                    type: 'POST',
                    url: baseUrl + 'Vip/Save',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.status == "True") {
                            $('#vip_form')[0].reset();
                            $('#vip_form [name="Province_ID"]').change();
                            $('#modalSuccess').modal('show');
                        } else {
                            $('#modalError .modal-message').text(data.description);
                            $('#modalError').modal('show');
                        }
                    },
                });
            }

        });

    });


</script>