﻿@{
    Layout = "";
}

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SB Designer Club - Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

    <style type="text/css">
        html, body {
            background-color: #DCDBDB;
        }

        .shadow {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .orb-form .icon-append {
            color: #ff5b35;
        }
    </style>
</head>

<body> 
    <div class="center-block">
        <div class="login-block shadow">
            <form action="@Url.Action("Index","Home")" id="loginForm" method='POST' class="orb-form">
                <header style="background-color: #fff;margin-bottom: 0px;">
                    <section style="margin-top: 5px;">
                        <div class="row">
                            <div class="text-center">
                                <img src="~/Content/img/new-logo.png" style="width:120px;" />
                            </div>
                        </div>
                    </section>
                </header>
                <fieldset>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Username</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-user" style="font-size: 18px;"></i>
                                    <input type="text" id="username" name="username">
                                </label>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="row">
                            <label class="label col col-4">Password</label>
                            <div class="col col-8">
                                <label class="input">
                                    <i class="icon-append fa fa-lock" style="font-size: 18px;"></i>
                                    <input type="password" id="password" name="password">
                                </label>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <footer>
                    <button type="submit" style="background-color:#00acc8;" class="btn btn-success">LOG IN</button>
                </footer>
            </form>
        </div>
    </div>


</body>
