﻿<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels
    <span class="logo-mini"><b>A</b>LT</span>
    Logo for regular state and mobile devices
    <span class="logo-lg"><b>Admin</b>LTE</span>*@
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav"> 
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                        <span class="hidden-xs">@HttpContext.Current.Session["USERNAME"].ToString()</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header"> 

                            <p>
                                @HttpContext.Current.Session["USERNAME"].ToString()
                                <small></small>
                            </p>
                        </li>
                        @*<li class="user-body">
                            <div class="row">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                        </li>*@
                        <li class="user-footer">
                            <div class="pull-left"> 
                                <a  data-toggle="modal" data-target="#Change-pw-Modal" class="btn btn-default btn-flat">เปลี่ยนรหัสผ่าน</a>
                            </div> 
                            <div class="pull-right">
                                <a href="@Url.Action("Logout", "Home")" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                @* END User Account Menu *@ 
            </ul>
        </div>
    </nav>
</header>