﻿@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
@using System.Configuration;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        SB Designer Club
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/css/font-DBG.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap-fileInput/css/fileinput.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    @*<small>@ViewBag.Description</small>*@
                    : @ViewBag.Description
                </h1>
            </section>

            <section class="content">
                @RenderBody()
            </section>
        </div>

        @Html.Partial("_ControlSidebar")
    </div>
    <div class="modal fade" id="Change-pw-Modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title h4"><b>เปลี่ยนรหัสผ่าน</b></h4>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>*@
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" style="padding-left: 30px;" id="change-pw-form">
                        <div class="form-group">
                            <label class="control-label col-md-3" id="">ชื่อผู้ใช้งาน</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="user" id="pw-username" value="@Session["USERNAME"]" placeholder="" required readonly />
                                <input type="hidden" id="pw-userId" value="@Session["USERID"]" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" id="">รหัสผ่านเดิม</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" name="oldPasswd" id="old-password" value="" placeholder="Password" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" id="">รหัสผ่านใหม่</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" name="newPasswd" id="pw-password" value="" placeholder="Password" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" id="">ยืนยันรหัสผ่านใหม่</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" name="pw_confirmPass" id="pw-confirmPass" value="" placeholder="Confirm Password" required />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                    <button type="button" class="btn btn-danger btn-sm" id="btn-save-changePW"><i class="fa fa-floppy-o"></i> &nbsp; บันทึก</button>
                </div>
            </div>
        </div>
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
        @Scripts.Render("~/Bundles/js")
        <script src="~/Scripts/jquery-validate/jquery.validate.min.js"></script>
    @RenderSection("ViewSpecificJavascript", required: false)
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
        var sessionCust_ID = "@HttpContext.Current.Session["Cust_ID"].ToString()";
        sessionStorage.UserName = '@HttpContext.Current.Session["USERNAME"].ToString()';
        sessionStorage.apiUrl = '@ConfigurationManager.AppSettings["EndPoint"].ToString()';
        sessionStorage.mainUrl = '@ConfigurationManager.AppSettings["MainUrl"].ToString()';
        sessionStorage.frontUrl = '@ConfigurationManager.AppSettings["frontUrl"].ToString()';
        //alert(sessionStorage.apiUrl)
    </script>
    <script src="~/Scripts/menu.js"></script>
    <script src="~/Scripts/User/user-change-passwd.js"></script>
</body>
</html>