﻿<div class="form-horizontal" role="form">
    <div class="">
        <div class="col-xs-12 col-md-12" style="padding-bottom:10px;">
            <input type="hidden" value="" id="MID" />
            <input type="hidden" value="0" id="MPoint" />
            <label class="col-xs-2 col-md-1 control-label  text-right">ค้นหา</label>
            <div class="col-xs-10 col-md-11">
                <select id="ddl_search" class="form-control js-example-data-ajax select2"></select>
            </div>
        </div>
    </div>
    <div class="">
        <div class="col-xs-12 col-md-12" style="padding-bottom:10px;">
            <label class="col-xs-2 col-md-2 control-label  text-right">รหัสสมาชิก</label>
            <div class="col-xs-4 col-md-4">
                <input type="text" class="form-control" id="txt_crmid" readonly>
            </div>
            <label class="col-xs-2 col-md-2 control-label  text-right">เลขที่บัตรสมาชิก</label>
            <div class="col-xs-4 col-md-4">
                <input type="text" class="form-control" id="txt_membercard" readonly>
            </div>
        </div>
     </div>
     <div class="">
         <div class="col-xs-12 col-md-12" style="padding-bottom:10px;">
             <label class="col-xs-2 col-md-2 control-label  text-right">ชื่อ-นามสกุล [TH]</label>
             <div class="col-xs-4 col-md-4">
                 <input type="text" class="form-control" id="txt_nameth" readonly>
             </div>
             <label class="col-xs-2 col-md-2 control-label  text-right">ชื่อ-นามสกุล [EN]</label>
             <div class="col-xs-4 col-md-4">
                 <input type="text" class="form-control" id="txt_nameen" readonly>
             </div>
         </div>
     </div>
    <div class="">
        <div class="col-xs-12 col-md-12" style="padding-bottom:10px;">
            <label class="col-xs-2 col-md-2 control-label  text-right">เลขบัตรประชาชน</label>
            <div class="col-xs-4 col-md-4">
                <input type="text" class="form-control" id="txt_idcard" readonly>
            </div>
            <label class="col-xs-2 col-md-2 control-label  text-right">E-mail</label>
            <div class="col-xs-4 col-md-4">
                <input type="text" class="form-control" id="txt_mail" readonly>
            </div>
        </div>
    </div>
     <div class="">
         <div class="col-xs-12 col-md-12" style="padding-bottom:10px;">
             <label class="col-xs-2 col-md-2 control-label  text-right">ประเภทสมาชิก</label>
             <div class="col-xs-2 col-md-2">
                 <input type="text" class="form-control" id="txt_membertype" readonly>
             </div>
             <label class="col-xs-2 col-md-1 text-right control-label" style="padding-right: 0;">วันที่สมัคร</label>
             <div class="col-xs-2 col-md-3">
                 <input type="text" class="form-control" id="txt_regis" readonly>
             </div>
             <label class="col-xs-2 col-md-1 control-label  text-right" style="padding-right: 0;">Passport</label>
             <div class="col-xs-2 col-md-3">
                 <input type="text" class="form-control" id="txt_passport" readonly>
             </div>
         </div>
    </div>
    <div class="">
        <div class="col-xs-12 col-md-12" style="padding-bottom:10px;">
            <label class="col-xs-2 col-md-2 control-label  text-right">เบอร์โทร</label>
            <div class="col-xs-2 col-md-2">
                <input type="text" class="form-control" id="txt_tel" readonly>
            </div>
            <label class="col-xs-2 col-md-1 control-label  text-right" style="padding-right: 0;">ที่อยู่</label>
            <div class="col-xs-6 col-md-7">
                <input type="text" class="form-control" id="txt_address" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <table id="tb_expirepoint" class="table table-bordered table-hover" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th style="text-align:center; padding: 7px 0;" width="15%;">คะแนนสะสม (ปัจจุบัน)</th>
                    <th style="text-align:center; padding: 7px 0;" width="17%;">คะแนนหมดอายุสิ้นปี</th>
                    <th style="text-align:center; padding: 7px 0;" width="17%;">คะแนนหมดอายุสิ้นปี</th>
                    <th style="text-align:center; padding: 7px 0;" width="17%;">คะแนนหมดอายุสิ้นปี</th>
                    <th style="text-align:center; padding: 7px 0;" width="17%;">คะแนนหมดอายุสิ้นปี</th>
                    <th style="text-align:center; padding: 7px 0;" width="17%;">คะแนนหมดอายุสิ้นปี</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Scripts/js_sb/js_Profile.js?v=1.0"></script>

