﻿@using WebHelpers.Mvc5  
<aside class="main-sidebar">
    <section class="sidebar">
        <br />
        <div class="text-center">
            <img src="~/Content/img/new-logo.png" width="40%" />
        </div>
        <div class="text-center">
            <span style="font-size:24px;"> </span>
        </div>
        @* BEGIN Search *@
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree" id="list-menu">
            @*@{
                subMenu = "";
                if (menu != null)
                {
                    foreach (var r in menu)
                    {
                        <li class="treeview">
                            @foreach (var e in r.g.OrderBy(c => c.IS_GRP_ID == null))
                            {
                                if (e.IS_GRP_ID == "Y" || e.IS_GRP_ID != null)
                                {
                                    <a href="@e.URL">
                                        <i class="@e.ICON"></i><span>สมาชิก</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-right pull-right"></i>
                                        </span>
                                    </a>
                                }
                                else
                                {
                                    @subMenu = "<li><a href='Profile'>ข้อมูลสมาชิก</a></li>";
                                    <ul class="treeview-menu">
                                        <li><a href="Profile">ข้อมูลสมาชิก</a></li>
                                        <li><a href="MemberCard">ข้อมูลสมาชิกใหม่ / Member Card</a></li>
                                    </ul>
                                    <ul class="collapse">
                                        <li><a href="~/@e.URL" runat="server">@e.PROGRAM_NAME</a></li>
                                    </ul>
                                }
                            }
                            <ul class="treeview-menu">
                                <li><a href="Profile">ข้อมูลสมาชิก</a></li>
                                <li><a href="MemberCard">ข้อมูลสมาชิกใหม่ / Member Card</a></li>
                            </ul>
                        </li>
                    }
                }*@

            @*<li class="">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span>หน้าหลัก</span></a>
                </li>*@ 
        </ul>
        @* END Menu *@
    </section>
</aside>