﻿
@{
    ViewBag.Title = "ตัวอย่าง";
    ViewBag.Description = "ข้อมูลข่าวสาร / กิจกรรม";
}
<input type="hidden" id="contentCode" value="@ViewBag.ContentCode" />
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ตัวอย่าง ข่าวสาร / กิจกรรม</h4>
            </div>
            <div class="box-body">
                <div>
                    <h1>Thai</h1>
                </div>
                <div id="content_th">

                </div>
                <br /><hr /><br />
                
                @*<div>
                    <h1>Eng</h1>
                </div>
                <div id="content_en">

                </div>*@
            </div>
        </div>
    </div>
</div>

@section scripts{
    
<script src="~/Scripts/ContentBlog/exam-content.js"></script>
    
    }
