﻿@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "ข้อมูลข่าวสาร / กิจกรรม";
}
<style>
    img {
        cursor: pointer;
    }

    .note-form-group, .note-group-image-url {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .note-color .dropdown-menu {
        min-width: 168px !important;
        padding: 0;
    }
</style>
<link href="~/Content/plugins/summernote/summernote.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ข่าวสาร / กิจกรรม</h4>
            </div>
            <div class="box-body">
                <form role="form" class="form-horizontal" id="content-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 text-right control-label">ประเภทข้อมูล <span class="req_">*</span></label>
                            <div class="col-xs-1 col-md-2">
                                <input type="hidden" class="form-control" name="contentCode" id="contentCode" value="0">
                                <select class="form-control select2" id="select_con_type" name="content_type" required>
                                    <option value="1">ข่าวสาร</option>
                                    <option value="2">กิจกรรม</option>
                                    <option value="3">Promotion</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 text-right control-label">ชื่อเรื่อง TH <span class="req_">*</span></label>
                            <div class="col-xs-4 col-md-4">
                                <input type="text" class="form-control" name="content_hearder_th" id="content_hearder_th" required>
                            </div>
                            @*<label class="col-xs-1 col-md-2 text-right control-label">ชื่อเรื่อง EN <span class="req_">*</span></label>
                            <div class="col-xs-4 col-md-4">
                                <input type="text" class="form-control" name="content_hearder_en" id="content_hearder_en" required>
                            </div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-2 col-sm-2 text-right control-label">รายละเอียดแบบย่อ TH</label>
                            <div class="col-md-4">
                                <textarea class="summernote2" id="contentDescTh" name="contentDescTh"></textarea>
                            </div>
                            @*<label class="col-md-2 col-sm-2 text-right control-label">รายละเอียดแบบย่อ EN</label>
                            <div class="col-md-4">
                                <textarea class="summernote2" id="contentDescEn" name="contentDescEn"></textarea>
                            </div>*@
                        </div>
                    </div>
                    @*
                         <div class="form-group">
                             <div class="col-xs-12 col-md-12">
                                 <label class="col-xs-2 col-md-2 control-label  text-right">Url</label>
                                 <div class="col-xs-4 col-md-4">
                                     <input type="text" class="form-control" name="link_url" id="link_url">
                                 </div>
                             </div>
                         </div><div class="form-group">
                             <div class="col-xs-12 col-md-12">
                                 <label class="col-xs-2 col-md-2 control-label  text-right"></label>
                                 <div class="col-xs-4 col-md-4">
                                     <input type="checkbox" class="form-control" name="is_register" id="is_register" value="Y">
                                     <label style="padding-left: 5px;" for="is_register">กิจกรรมให้ลงทะเบียน</label>
                                 </div>
                             </div>
                         </div>

                        <div class="form-group">
                             <div class="col-xs-12 col-md-12">
                                 <label class="col-xs-2 col-md-2 control-label  text-right">จำกัดจำนวนวผู้ลงทะเบียน</label>
                                 <div class="col-xs-5 col-md-2">
                                     <div class="radio">
                                          Inline radio buttons
                                         <input id="radio-limit1" class="magic-radio" type="radio" name="is_limit" value="N" checked>
                                         <label style="padding-left: 5px;" for="radio-limit1">ไม่ใช่</label>
                                         &nbsp;
                                         <input id="radio-limit2" class="magic-radio" type="radio" name="is_limit" value="Y">
                                         <label style="padding-left: 5px;" for="radio-limit2">ใช่</label>
                                     </div>
                                 </div>
                                 <div class="col-xs-1 col-md-1">
                                     <input type="number" class="form-control" name="limit_register" id="limit_register">
                                 </div>
                                 <label class="col-xs-1 col-md-1 control-label  text-left">คน</label>
                             </div>
                         </div>*@
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">รูปหลัก <span class="req_">*</span></label>
                            <div class="col-xs-3 col-md-3">
                                <input type="file" class="form-control" name="content_image_" id="content_image_" required accept="image/*">
                                <input type="hidden" class="form-control" name="content_image" id="content_image">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right"></label>
                            <div class="col-xs-1 col-md-2">
                                <img id="img_preview" src="~/Content/img/ex1.jpg" style="width:300px; border: 1px solid #ccc;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">รายละเอียด TH <span class="req_">*</span></label>
                            <div class="col-xs-10 col-md-10">
                                <textarea class="summernote" id="summernote_th" name="content_text_th" required></textarea>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">รายละเอียด EN <span class="req_">*</span></label>
                            <div class="col-xs-10 col-md-10">
                                <textarea class="summernote" id="summernote_en" name="content_text_en" required></textarea>
                            </div>
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 text-right control-label">วันที่เริ่มใช้ <span class="req_">*</span></label>
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control pull-right" name="start_date" id="start_date" required>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label class="col-xs-1 col-md-1 text-right control-label">วันที่สิ้นสุด <span class="req_">*</span></label>
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control pull-right" name="end_date" id="end_date" required>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-xs-12 col-md-12">
                                <label class="col-xs-2 col-md-2 text-right control-label">รูปแบบ Template</label>
                                <div class="col-xs-1 col-md-2">
                                    <img class="img-side-show" data-tamplateid="1" src="~/Content/img/example/content1.PNG" style="width:200px; " />
                                </div>
                                <div class="col-xs-1 col-md-2">
                                    <img class="img-side-show" data-tamplateid="2" src="~/Content/img/example/content1.PNG" style="width:200px; " />
                                </div>
                                <div class="col-xs-1 col-md-2">
                                    <img class="img-side-show" data-tamplateid="3" src="~/Content/img/example/content2.PNG" style="width:200px; border: 5px solid #80b636" />
                                </div>
                                <div class="col-xs-1 col-md-2">
                                    <img class="img-side-show" data-tamplateid="4" src="~/Content/img/example/content3.PNG" style="width:200px; " />
                                </div>
                            </div>
                        </div>
                        <div class="form-group tamplate3">
                            <div class="col-xs-12 col-md-12">
                                <label class="col-xs-2 col-md-2 control-label  text-right">รูปที่ 1</label>
                                <div class="col-xs-1 col-md-2">
                                    <input type="file" class="form-control">
                                </div>
                                <label class="col-xs-1 col-md-1 control-label  text-right">รูปที่ 2</label>
                                <div class="col-xs-1 col-md-2">
                                    <input type="file" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="form-group tamplate3">
                            <div class="col-xs-12 col-md-12">
                                <label class="col-xs-2 col-md-2 control-label  text-right"></label>
                                <div class="col-xs-1 col-md-2">
                                    <img src="~/Content/img/ex1.jpg" style="width:200px;" />
                                </div>
                                <label class="col-xs-2 col-md-1 control-label  text-right"></label>
                                <div class="col-xs-1 col-md-2">
                                    <img src="~/Content/img/ex2.jpg" style="width:200px;" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group tamplate3">
                            <div class="col-xs-12 col-md-12">
                                <label class="col-xs-2 col-md-2 control-label text-right">รายละเอียด</label>
                                <div class="col-xs-6 col-md-8">
                                    <textarea class="form-control" style="height:200px;"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group tamplate3">
                            <div class="col-xs-12 col-md-12">
                                <label class="col-xs-2 col-md-2 control-label text-right">รายละเอียด EN</label>
                                <div class="col-xs-6 col-md-8">
                                    <textarea class="form-control" style="height:200px;"></textarea>
                                </div>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">สถานะ <span class="req_">*</span></label>
                            <div class="col-xs-2 col-md-2">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <input id="radio-active1" class="magic-radio" type="radio" name="active" value="Y" checked>
                                    <label style="padding-left: 5px;" for="radio-active1">ใช้งาน</label>
                                    &emsp;
                                    <input id="radio-active2" class="magic-radio" type="radio" name="active" value="N">
                                    <label style="padding-left: 5px;" for="radio-active2">ยกเลิก</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-body -->
                    <div class="col-xs-11 col-md-12">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" id="btn_save"><i class="fa fa-save"></i> &nbsp; บันทึก</button>
                            <button type="button" class="btn btn-warning" id="btn_clear"><i class="fa fa-refresh"></i> &nbsp;  เคลีย์ข้อมูล</button>
                            @*<button type="submit" class="btn btn-primary"><i class="fa fa-info-circle"></i> &nbsp; ประวัติการให้คะแนน</button>*@
                        </div>
                    </div>
                </form>
            </div>

            <div class="box-header">
                <h4>รายละเอียด</h4>
            </div>
            <div class="box-body">

                <table id="content_table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">ลำดับ</th>
                            <th class="text-center">ประเภทข้อมูล</th>
                            <th class="text-center">เรื่อง (ไทย)</th>
                            <th class="text-center">เรื่อง (อังกฤษ)</th>
                            <th class="text-center">สถานะ</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody> 
                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th>ลำดับ</th>
                                <th>SBU</th>
                                <th>รายละเอียด</th>
                                <th>คะแนนหลัก</th>
                                <th>คะแนน X (เท่า)</th>
                                <th>วันที่</th>
                                <th>สถานะ</th>
                                <th></th>
                            </tr>
                        </tfoot>*@
                </table>

            </div>
            <br />
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/plugins/summernote/summernote.js"></script>
    <script src="~/Scripts/ContentBlog/content-blog.js"></script>
}