﻿@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "ของรางวัล";
}

 <link href="~/Content/css/switch_onoff.css" rel="stylesheet" />
<style>
    .kv-file-upload{
        display:none;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ของรางวัล</h4>
            </div>
            <div class="card-body style-default-bright" style="padding-top:10px;">
                <form class="form-horizontal" role="form">
                    <div class="tabbable">
                        <div class="col-md-12">
                            <div class="big-icons-buttons clearfix margin-bottom">
                                <a class="btn btn-sm btn-default bt_square" id="bt_newReward" style="width: 80px;"><i class="fa fa-plus" style="font-size:20px;"></i><br /> ของรางวัล</a>
                                <a class="btn btn-sm btn-default bt_square" id="bt_newCatalogue" style="width: 80px;"><i class="fa fa-plus" style="font-size:20px;"></i><br /> แค็ตตาล็อก</a>
                                <a class="btn btn-sm btn-default bt_square" id="bt_newCategory" style="width: 80px;"><i class="fa fa-plus" style="font-size:20px;"></i><br /> &nbsp;&nbsp;ประเภท&nbsp;&nbsp;</a>
                                <a class="btn btn-sm btn-default bt_square" id="bt_newCourier" style="width: 80px;"><i class="fa fa-plus" style="font-size:20px;"></i><br /> &nbsp;&nbsp;&nbsp;จัดส่ง&nbsp;&nbsp;&nbsp;</a>
                                <a class="btn btn-sm btn-default bt_square" id="bt_newSupplier" style="width: 80px;"><i class="fa fa-plus" style="font-size:20px;"></i><br />Supplier</a>
                                <a class="btn btn-sm btn-default bt_square" id="bt_newSort" style="width: 80px;"><i class="fa fa-plus" style="font-size:20px;"></i><br />จัดเรียงลำดับ</a>
                                <div class="btn-group btn-group-sm pull-right">
                                    <a class="btn btn-success bt_square" id="filter_all_reward" style="width: 80px;"><i class="fa fa-bars" style="font-size:20px;"></i><br /> ทั้งหมด</a>
                                    <a class="btn btn-success mark_read bt_search" id="filter_active_reward" style="width: 80px;"><i class="fa fa-check-circle-o" style="font-size:20px;"></i><br /> ใช้งาน</a>
                                    <a class="btn btn-danger mark_unread bt_search" id="filter_not_active_reward" style="width: 80px;"><i class="fa fa-circle-o" style="font-size:20px;"></i><br /> ยกเลิก</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <table class="table table-striped no-margin table-bordered cf" id="tb_Reward">
                                <thead class="cf" style="background-color: #8e8e8e;">
                                    <tr>
                                        <th class="text-center" style="vertical-align:middle;" width="5%">#</th>
                                        <th class="text-center" style="vertical-align:middle;" width="5%">สถานะ</th>
                                        <th class="text-center" style="vertical-align:middle;" width="5%">รหัสรางวัล</th>
                                        <th class="text-center" style="vertical-align:middle;" width="20%">ชื่อรางวัล TH</th>
                                        <th class="text-center" style="vertical-align:middle;" width="20%">ชื่อรางวัล EN</th>
                                        <th class="text-center" style="vertical-align:middle;" width="10%">วันที่เริ่ม</th>
                                        <th class="text-center" style="vertical-align:middle;" width="10%">วันที่สิ้นสุด</th>
                                        <th class="text-center" style="vertical-align:middle;" width="10%">คะแนน</th>
                                        <th class="text-center" style="vertical-align:middle;" width="15%">แค็ตตาล็อก</th>
                                        <th class="text-center" style="vertical-align:middle;" width="15%">ประเภท</th>
                                        <th class="text-center" style="vertical-align:middle;" width="5%">รายละเอียด</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_Reward"></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
@section scripts{
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="~/Content/plugins/bootstrap-fileInput/js/plugins/piexif.js"></script>
    <script src="~/Content/js/plugins/jquery/jquery.form.js"></script>
    <script src="~/Content/js/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/Reward/js_RewardSetting.js?v=1.4"></script>
}

@*@Scripts.Render("~/Scripts/Frontend/Reward/js_Reward.js")*@

<!-- Modal -->
<form id="myModalReward" class="modal fade" role="dialog" enctype="multipart/form-data" style="overflow: auto">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @* <button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>ของรางวัล</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <div class="form-group">
                        @*<div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>Project</b></label><br />
                            <select class="form-control select" id="ddl_project" name="ddl_project" style="width: 100%;"></select>
                        </div>*@
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            <label><b>แค็ตตาล็อก</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vddl_catalogue_type"></span></i></label><br />
                            <select class="form-control select" id="ddl_catalogue_type" name="ddl_reward_catalogue" style="width: 100%;"></select>
                        </div>
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            <div class="input-daterange input-group" id="reward-date-range">
                                <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis" style="padding-left: 0;">
                                    <label for="str_reward_start_date"><b>วันที่เริ่มแลกของ</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_reward_start_date" name="vtxt_reward_start_date"></span></i></label>
                                    <div class="input-group col-md-12" @*data-provide="datepicker" *@ data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control " id="str_reward_start_date" name="str_reward_start_date">
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis" style="padding-right: 0;">
                                    <label for="str_reward_end_date"><b>วันที่สิ้นสุดแลกของ</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_reward_end_date"></span></i></label>
                                    <div class="input-group col-md-12" @*data-provide="datepicker" *@ data-date-format="dd/mm/yyyy">
                                        <input type="text" class="form-control" id="str_reward_end_date" name="str_reward_end_date">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            <input type="hidden" id="hd_reward_id" name="hd_reward_id" value="" />
                            <input type="hidden" id="hd_username" name="hd_username" value="" />
                            <input type="hidden" id="hd_img" name="hd_img" value="" />
                            <label><b>ชื่อของรางวัล TH</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_reward_name" name="vtxt_reward_name"></span></i></label>
                            <input type="text" class="form-control textauto" id="str_reward_name" name="str_reward_name" maxlength="100">
                        </div>
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            <label><b>ชื่อของรางวัล EN</b></label>
                            <input type="text" class="form-control textauto" id="str_reward_name_EN" name="str_reward_name_EN" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>ประเภทของรางวัล</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vddl_category_type"></span></i></label><br />
                            <select class="form-control select" id="ddl_category_type" name="ddl_reward_category" style="width: 100%;"></select>
                        </div>
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>คะแนน</b><span class="font-alert"> * </span> <span class="font-alert valid" id="vstr_reward_point"></span></label>
                            <input type="text" class="form-control textauto text_comma" id="str_reward_point" name="str_reward_point" onkeypress="return isNumber(event)">
                        </div>
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>ราคา</b><span class="font-alert"> * </span><span class="font-alert valid" id="vstr_reward_price"></span></label>
                            <input type="text" class="form-control textauto text_comma" id="str_reward_price" name="str_reward_price" onkeypress="return isNumber(event)">
                        </div>
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>ยี่ห้อ</b></label>
                            <input type="text" class="form-control" id="str_reward_brand" name="str_reward_brand">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>รุ่น</b></label>
                            <input type="text" class="form-control" id="str_reward_model" name="str_reward_model">
                        </div>
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            @*<textarea class="form-control textauto" c maxlength="200" rows="4"></textarea>*@
                            <label><b>จำนวนจำกัด(ชิ้น) / สมาชิก</b></label>
                            <input type="text" class="form-control textauto" id="str_fixed" name="str_fixed" maxlength="100" onkeypress="return isNumber(event)">
                        </div>
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            <label><b>วิธีการจัดส่ง</b><span style="color:red; font-size:14px;">  สามารถเลือกได้มากกว่า 1 รายการ </span><i><span class="font-alert valid" id="vddl_courier_type"></span></i></label><br />
                            <select class="form-control select" id="ddl_courier_type" name="ddl_reward_courier" multiple="multiple" style="width: 100%;"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>Supplier</b></label><br />
                            <select class="form-control select" id="ddl_supplier" style="width: 100%;"></select>
                        </div>
                        @*<div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>ลำดับ</b></label>
                            <input type="text" class="form-control textauto text_comma" id="str_seq" name="str_seq" onkeypress="return isNumber(event)">
                        </div>*@
                        @*<div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>ระดับคะแนนที่ใช้แลก</b></label>
                            <div class="radio">
                                <input id="str_tier1" class="" type="radio" name="str_tier" value="Y" checked>
                                <label style="padding-left: 5px;" for="str_tier1">เท่ากัน</label>
                                &emsp;
                                <input id="str_tier2" class="" type="radio" name="str_tier" value="N">
                                <label style="padding-left: 5px;" for="str_tier2">ไม่เท่ากัน</label>
                            </div>
                        </div>*@
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>แสดงหน้าหลัก</b></label>
                            <div class="radio">
                                <!-- Inline radio buttons -->
                                <input id="str_mainpage1" class="" type="radio" name="str_mainpage" value="Y">
                                <label style="padding-left: 5px;" for="str_mainpage1">ใช่</label>
                                &emsp;
                                <input id="str_mainpage2" class="" type="radio" name="str_mainpage" value="N" checked>
                                <label style="padding-left: 5px;" for="str_mainpage2">ไม่ใช่</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>Highlight</b></label>
                            <div class="radio">
                                <!-- Inline radio buttons -->
                                <input id="str_hilight1" class="" type="radio" name="str_hilight" value="Y">
                                <label style="padding-left: 5px;" for="str_hilight1">พิเศษ</label>
                                &emsp;
                                <input id="str_hilight2" class="" type="radio" name="str_hilight" value="N" checked>
                                <label style="padding-left: 5px;" for="str_hilight2">ปกติ</label>
                            </div>
                        </div>
                        @*<div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>ของรางวัลมี สต๊อก</b></label>
                            <div class="radio">
                                <input id="str_stock1" class="" type="radio" name="str_stock" value="Y" checked>
                                <label style="padding-left: 5px;" for="str_stock1">มีสต๊อก</label>
                                &emsp;
                                <input id="str_stock2" class="" type="radio" name="str_stock" value="N">
                                <label style="padding-left: 5px;" for="str_stock2">ไม่มีสต๊อก</label>
                            </div>
                        </div>*@
                        <div class="col-md-3 col-xs-6 formgroup_new overflow_ellipsis">
                            <label><b>สถานะการใช้งาน</b></label>
                            <div>
                                <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off" id="status_reward">
                                    <div class="handle"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-xs-12 formgroup_new overflow_ellipsis">
                            <label><b>รูปภาพ</b><span style="color:red; font-size:14px;">  สามารถเพิ่มรูปไม่เกิน 4 รูป รูปขนาด 630x430 (เรียงลำดับตามชื่อรูป)</span></label>
                            <div class="file-loading">
                                <input class="images1" id="images1" name="images1" onchange="" type="file" multiple required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            @*<textarea class="form-control textauto" c maxlength="200" rows="4"></textarea>*@
                            <label><b>รายละเอียด TH</b></label>
                            <textarea id="str_reward_detail" name="str_reward_detail" class="control-6-rows" style="height:200px;"></textarea>
                        </div>
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            @*<textarea class="form-control textauto" c maxlength="200" rows="4"></textarea>*@
                            <label><b>รายละเอียด EN</b></label>
                            <textarea id="str_reward_detailEN" name="str_reward_detailEN" class="control-6-rows" style="height:200px;"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            @*<textarea class="form-control textauto" c maxlength="200" rows="4"></textarea>*@
                            <label><b>เงื่อนไข TH</b></label>
                            <textarea id="str_condition" name="str_condition" class="control-6-rows" style="height:200px;"></textarea>
                        </div>
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            @*<textarea class="form-control textauto" c maxlength="200" rows="4"></textarea>*@
                            <label><b>เงื่อนไข EN</b></label>
                            <textarea id="str_conditionEN" name="str_conditionEN" class="control-6-rows" style="height:200px;"></textarea>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            @*<textarea class="form-control textauto" c maxlength="200" rows="4"></textarea>*@
                            <label><b>ขั้นตอนการแลก TH</b></label>
                            <textarea id="str_step" name="str_step" class="control-6-rows" style="height:200px;"></textarea>
                        </div>
                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                            @*<textarea class="form-control textauto" c maxlength="200" rows="4"></textarea>*@
                            <label><b>ขั้นตอนการแลก EN</b></label>
                            <textarea id="str_stepEN" name="str_stepEN" class="control-6-rows" style="height:200px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="bt_clearreward">เคลียร์</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary" id="bt_save_reward"><i class='fa fa-save'></i>บันทึก</button>
            </div>
        </div>
    </div>
</form>
<div id="myModalSetSortReward" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:95%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>เรียงลำดับการแสดงผลของรางวัล</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td style="padding-bottom: 10px;">
                                <div class="col-md-1 col-sm-2 formgroup_new overflow_ellipsis">
                                    <label><b>การแสดงผล</b></label>
                                </div>
                                <div class="col-md-2 col-sm-3 formgroup_new overflow_ellipsis">
                                    <select class="form-control" id="ddl_display">
                                        <option value="M">หน้าหลัก</option>
                                        <option value="R">หน้าแลกของรางวัล</option>
                                    </select>
                                </div>
                                <div class="col-md-1 col-sm-2 formgroup_new overflow_ellipsis">
                                    <label><b>ประเภท</b></label>
                                </div>
                                <div class="col-md-2 col-sm-3 formgroup_new overflow_ellipsis">
                                    <select class="form-control" id="ddl_type">
                                        <option value="H">พิเศษ</option>
                                        <option value="N">ทั่วไป</option>
                                    </select>
                                </div>
                                <div class="col-md-1 col-sm-2 formgroup_new overflow_ellipsis">
                                    <button type="button" class="btn btn-success" id="btn_searchSort">ค้นหา</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group ">
                                    @*<table id="ArgumentsTable" class="table table-striped table-bordered dataTable"></table>*@
                                    <table  class="table table-striped no-margin table-bordered cf" id="ArgumentsTable">
                                        <thead class="cf" style="background-color: #8e8e8e;">
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle;" width="2%">#</th>
                                                <th class="text-center" style="vertical-align:middle;" width="6%">รหัสรางวัล</th>
                                                <th class="text-center" style="vertical-align:middle;" width="41%">ชื่อรางวัล</th>
                                                <th class="text-center" style="vertical-align:middle;" width="6%">คะแนน</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">วันที่เริ่ม</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">วันที่สิ้นสุด</th>
                                                <th class="text-center" style="vertical-align:middle;" width="5%">พิเศษ</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">แสดงหน้าหลัก</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_ArgumentsTable"></tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary" id="bt_save_sortReward"><i class='fa fa-save'></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalCatalogue" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>แค็ตตาล็อก</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <input type="hidden" id="hd_catalogue_id" value="" />
                                    <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                                        <label><b>แค็ตตาล็อก TH</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_catalogue_name"></span></i></label>
                                        <input type="text" class="form-control textauto" id="str_catalogue_name">
                                    </div>
                                    <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                                        <label><b>แค็ตตาล็อก EN</b></label>
                                        <input type="text" class="form-control textauto" id="str_catalogue_name_EN">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="input-daterange input-group col-xs-12" id="catalogue-date-range">
                                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                                            <div class="input-group col-md-12" @*data-provide="datepicker" *@ data-date-format="dd/mm/yyyy">
                                                <label for="str_catalogue_start_date"><b>วันที่เริ่ม</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_catalogue_start_date"></span></i></label>
                                                <input type="text" class="form-control textauto" id="str_catalogue_start_date">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                                            <div class="input-group col-md-12" @*data-provide="datepicker" *@ data-date-format="dd/mm/yyyy">
                                                <label for="str_catalogue_end_date"><b>วันที่สิ้นสุด</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_catalogue_end_date"></span></i></label>
                                                <input type="text" class="form-control textauto" id="str_catalogue_end_date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis" style="padding-right:0;">
                                        <label><b>สถานะแค็ตตาล็อกของรางวัล</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off" id="status_catalogue">
                                            <div class="handle"></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <table class="table table-striped no-margin table-bordered cf" id="tb_catalogue">
                                        <thead class="cf" style="background-color: #8e8e8e;">
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">รหัสแค็ตตาล็อก</th>
                                                <th class="text-center" style="vertical-align:middle;" width="30%">แค็ตตาล็อก TH</th>
                                                <th class="text-center" style="vertical-align:middle;" width="25%">แค็ตตาล็อก EN</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">วันที่เริ่ม</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">วันที่สิ้นสุด</th>
                                                <th class="text-center" style="vertical-align:middle;" width="5%">สถานะ</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">แก้ไข</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_catalogue">
                                            <tr>
                                                <td class="text-center" data-title="#">1</td>
                                                <td class="text-center" data-title="แค็ตตาล็อก[TH]">แค็ตตาล็อก 2561</td>
                                                <td class="text-center" data-title="แค็ตตาล็อก[EN]">Catalogue 2018</td>
                                                <td class="text-center" data-title="วันที่เริ่ม">01/01/2018</td>
                                                <td class="text-center" data-title="วันที่สิ้นสุด">21/12/2018</td>
                                                <td class="text-center" data-title="สถานะ"></td>
                                                <td class="text-center" data-title="แก้ไข"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="bt_clearCatalogue">เคลียร์</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary" id="bt_save_catalogue"><i class='fa fa-save'></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalCategory" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>ประเภทของรางวัล (Category)</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <input type="hidden" id="hd_category_id" value="" />
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ชื่อประเภท TH</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_category_name"></span></i></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6 formgroup_new overflow_ellipsis">
                                        <input type="text" class="form-control textauto" id="str_category_name">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ชื่อประเภท EN</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6 formgroup_new overflow_ellipsis">
                                        <input type="text" class="form-control textauto" id="str_category_name_EN">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ตัวอักษรย่อ (1 digit)</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6 formgroup_new overflow_ellipsis">
                                        <input type="text" class="form-control textauto" maxlength="1" id="str_category_prefixes">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ลำดับการแสดง</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6 formgroup_new overflow_ellipsis">
                                        <input type="text" class="form-control textauto" id="str_seqcate" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis" style="padding-right:0;">
                                        <label><b>สถานะประเภทของรางวัล</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off" id="status_category">
                                            <div class="handle"></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <table class="table table-striped no-margin table-bordered cf" id="tb_category">
                                        <thead class="cf" style="background-color: #8e8e8e;">
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">รหัสประเภท</th>
                                                <th class="text-center" style="vertical-align:middle;" width="30%">ชื่อประเภท TH</th>
                                                <th class="text-center" style="vertical-align:middle;" width="30%">ชื่อประเภท EN</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">สถานะ</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">แก้ไข</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_category"></tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="bt_clearCategory">เคลียร์</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary" id="bt_save_category"><i class='fa fa-save'></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalCourier" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>การจัดส่ง</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <input type="hidden" id="hd_courier_id" value="" />
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ชื่อการจัดส่ง TH</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_courier_name"></span></i></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_courier_name">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ชื่อการจัดส่ง EN</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_courier_name_EN">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ประเภทการจัดส่ง</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_courier_type"></span></i></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <select class="form-control textauto" id="ddl_couier_type">
                                            <option value=""> ---กรุณาเลือก--- </option>
                                            <option value="TF">โอนเงินผ่านบัญชีธนาคาร</option>
                                            <option value="PS">รับที่พฤกษา Open House อาคารเพิร์ล แบงก์ค็อก</option>
                                            <option value="SH">รับที่ SHOP</option>
                                            <option value="PP">พร้อมเพย์</option>
                                            <option value="LG">บริษัทจัดส่งพัสดุและสินค้า</option>
                                            <option value="VD">Vendor</option>
                                            <option value="EM">Email</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="grp_logistics">
                                    <div class="form-group ">
                                        <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                            <label><b>ชื่อบริษัทขนส่ง</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_courier_lt"></span></i></label>
                                        </div>
                                        <div class="col-md-8 col-xs-6">
                                            <input type="text" class="form-control textauto" id="str_courier_logistics">
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                            <label><b>Link สำหรับเช็คสถานะการจัดส่ง</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_courier_url"></span></i></label>
                                        </div>
                                        <div class="col-md-8 col-xs-6">
                                            <input type="text" class="form-control textauto" id="str_courier_url">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>สถานะของรางวัล</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off" id="status_courier">
                                            <div class="handle"></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <table class="table table-striped no-margin table-bordered cf" id="tb_courier">
                                        <thead class="cf" style="background-color: #8e8e8e;">
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">รหัสการจัดส่ง</th>
                                                <th class="text-center" style="vertical-align:middle;" width="30%">ชื่อการจัดส่ง TH</th>
                                                <th class="text-center" style="vertical-align:middle;" width="25%">ชื่อการจัดส่ง EN</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">สถานะ</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">แก้ไข</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_courier" style="text-align:center;"></tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="bt_clearCourier">เคลียร์</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
               <button type="button" class="btn btn-primary" id="bt_save_courier"><i class='fa fa-save'></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalActive" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>ยืนยันการเปลี่ยนสถานะการใช้งาน</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <div class="col-md-12 col-xs-12 formgroup_new overflow_ellipsis" style="padding: 0 !important;">
                                        <input type="hidden" id="hd_status_reward_id" value="" />
                                        <input type="hidden" id="hd_status_reward" value="" />
                                        <div><label style="font-size: 14px; margin: 0 !important;"><b id="status_rw"></b></label></div>
                                        @*<div>
                                            <label class="radio-inline radio-styled col-md-3 col-xs-4" style="margin-left:0px">
                                                <input type="radio" id="rd_active" name="rd_active_case" value="Y"><span for="rd_active" id="txt_active" name="txt_active"> ใช้งาน</span>
                                            </label>
                                            <label class="radio-inline radio-styled col-md-3 col-xs-4" style="margin-left:0px">
                                                <input type="radio" id="rd_not_active" name="rd_active_case" value="N" checked><span for="rd_not_active" id="txt_not_active" name="txt_not_active"> ไม่ใช้งาน</span>
                                            </label>
                                        </div>*@
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary" id="bt_save_statusRW"><i class='fa fa-save'></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalSupplier" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:800px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>Supplier</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <input type="hidden" id="hd_supplier_code" value="" />
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ชื่อ Supplier TH</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_supplier_name"></span></i></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_supplier_name">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ชื่อ Supplier EN</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_supplier_name_EN">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ชื่อผู้ติดต่อ</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_supplier_contact">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>เบอร์โทรศัพท์</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_supplier_tel">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>E-mail</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_supplier_email">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>ที่อยู่</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_supplier_address">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>Line ID</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_supplier_lineID">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>วันเวลาทำการ</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_supplier_working">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>สถานะของ Supplier</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <button type="button" class="btn btn-sm btn-toggle active" data-toggle="button" aria-pressed="true" autocomplete="off" id="status_supplier">
                                            <div class="handle"></div>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <table class="table table-striped no-margin table-bordered cf" id="tb_supplier">
                                        <thead class="cf" style="background-color: #8e8e8e;">
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">รหัส Supplier</th>
                                                <th class="text-center" style="vertical-align:middle;" width="30%">ชื่อ Supplier TH</th>
                                                <th class="text-center" style="vertical-align:middle;" width="25%">ชื่อ Supplier EN</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">สถานะ</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">แก้ไข</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_supplier" style="text-align:center;"></tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="bt_clearSupplier">เคลียร์</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
               <button type="button" class="btn btn-primary" id="bt_save_supplier"><i class='fa fa-save'></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalPointByTier" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>บันทึกคะแนนการแลกแยกตามระดับ</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <input type="hidden" id="hd_courier_id" value="" />
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>Platinum</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_tier_pl" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>Green Plus</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_tier_gp" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-4 col-xs-6 formgroup_new overflow_ellipsis">
                                        <label><b>Green</b></label>
                                    </div>
                                    <div class="col-md-8 col-xs-6">
                                        <input type="text" class="form-control textauto" id="str_tier_gr" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalSpecialPoint" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>บันทึกคะแนนพิเศษ</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <div class="form-group ">
                                    <div class="col-md-12 col-xs-12 formgroup_new overflow_ellipsis">
                                        <div class="col-md-6" style="padding: 0 5px 0 0;">
                                            <p class="text-main text-bold">วันที่เริ่มต้น <span style="color:red;">* <span id="vtxt_special_start_date"></span></span></p>
                                            <div id="dateform">
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" id="str_special_start_date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="padding: 0 0 0 5px;">
                                            <p class="text-main text-bold">ถึงวันที่ <span style="color:red;">* <span id="vtxt_special_end_date"></span></span></p>
                                            <div id="dateto">
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" id="str_special_end_date">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-12 col-xs-12 formgroup_new overflow_ellipsis">
                                        <label><b>คะแนนพิเศษ</b> <span style="color:red;">* <span id="vtxt_special_point"></span></span></label>
                                        <input type="text" class="form-control textauto" id="str_special_point" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div id="alert_modal" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="z-index:9999;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px;" id="Header_Alert">แจ้งเตือน</h5>
      </div>
      <div class="modal-body">
        <div class="text-center">
            <div class="content-text-modal">
                <h3 class="content__title" id="reward_Alert"></h3>
                <h4 class="content__title" id="reward_Alert2" style="font-size:20px;"></h4>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="close_alert">ปิดหน้าต่าง</button>
      </div>
    </div>
  </div>
</div>