﻿@{
    ViewBag.Title = "รายงาน";
    ViewBag.Description = "สมาชิกผู้ใช้งานระบบ";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ค้นหาข้อมูลการเข้าใช้งานระบบ</h4>
            </div>
            <div class="card-body style-default-bright" style="padding:10px;">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-md-1 text-right control-label">จากวันที่</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control txt_datetime" id="date_from" readonly>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label class="col-md-1 text-right control-label">ถึงวันที่</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control txt_datetime" id="date_to" readonly>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-1 text-center">
                                <button class="btn btn-info" id="bt_Search"><i class="fa fa-search"></i> ค้นหา </button>
                            </div>
                            <div class="col-md-1 text-center">
                                <button class="btn btn-success" id="bt_Export"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export </button>
                            </div>*@
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-md-12 text-right">
                            <button class="btn btn-info" id="bt_Search"><i class="fa fa-search"></i> ค้นหา </button>
                            <button class="btn btn-warning" id="bt_Clear"><i class="fa fa-remove"></i> เคลียร์  </button>
                            <button class="btn btn-success" id="bt_Export"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="card-body style-default-bright" style="padding:10px;">
                <div class="box-header">
                    <h4>รายละเอียด</h4>
                </div>
                <div class="card-body style-default-bright" style="padding-top:10px;">
                    <span> จำนวนทั้งหมด : <span id="dataUserLog" style="color:red;"> </span> คน  </span>
                    <table id="tbl_user_login" class="table table-striped no-margin table-bordered cf" id="tb_regis_total">
                        <thead class="cf" style="background-color: #28acbb; color: white;">
                            <tr>
                                <th style="vertical-align:middle;" class="text-center" width="5%">#</th>
                                <th style="vertical-align:middle;" class="text-center" width="20%"><span class="lan_">รหัสสมาชิก</span></th>
                                <th style="vertical-align:middle;" class="text-center" width="25%"><span class="lan_">ชื่อสมาชิก</span></th>
                                <th style="vertical-align:middle;" class="text-center" width="20%"><span class="lan_">ระดับ</span></th>
                                <th style="vertical-align:middle;" class="text-center" width="20%"><span class="lan_">วันที่</span></th>
                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">จำนวนครั้ง</span></th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center;"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/js/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/Report/UserLoginReport.js?v=1.0"></script>
