﻿@{
    ViewBag.Title = "ข้อมูลสมาชิก";
    ViewBag.Description = "รายละเอียดสมาชิก";
    Layout = "~/Views/Shared/_LayoutCall.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>รายละเอียดสมาชิก</h4>
            </div>
            <div class="box-body" style="padding-top:10px;">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-1 control-label" for="demo-hor-inputpass">ค้นหา</label>
                            <div class="col-md-9 col-xs-6 ">
                                <input type="text" class="form-control " id="ddl_cat_reward" placeholder="ค้นหาจาจก รหัสสมาชิก, ชื่อ, นามสกุลม, เบอร์โทร">
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <button class="pull-right btn btn-info" id="btn_searchRedemption"><i class="fa fa-search"></i> &nbsp; ค้นหา</button>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("~/Views/Shared/_Profile.cshtml")
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
