﻿
@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "ตั้งค่าการให้คะแนน";
}
<link href="~/Content/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ตั้งค่าการให้คะแนน</h4>
            </div>
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link active" href="#tab1" aria-expanded="true" data-toggle="tab"> &nbsp; คะแนนปกติ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2" data-toggle="tab"> &nbsp; คะแนนพิเศษ</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="#tab3" data-toggle="tab"> &nbsp; คะแนนกิจกรรม</a>
                        </li>*@
                </ul>
                <div class="tab-content">
                    <div id="tab1" role="tabpanel" class="tab-pane active">
                        <div class="panel-body">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 text-right control-label">วันที่เริ่มต้น</label>
                                        <div class="col-xs-1 col-md-2">
                                            <div class="input-group date">
                                                <input type="text" class="form-control pull-right" id="datepicker">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="col-md-2 text-right control-label">วันที่สิ้นสุด</label>
                                        <div class="col-md-2">
                                            <div class="input-group date">
                                                <input type="text" class="form-control pull-right" id="datepicker">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 control-label  text-right">การสมัครสมาชิก</label>
                                        <div class="col-xs-1 col-md-2">
                                            <input type="text" class="form-control">
                                        </div>
                                        <label class="col-xs-1 col-md-1 text-left control-label">คะแนน</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 control-label  text-right">การแนะนำเพื่อน</label>
                                        <div class="col-xs-1 col-md-2">
                                            <input type="text" class="form-control">
                                        </div>
                                        <label class="col-xs-1 col-md-1 text-left control-label">คะแนน</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 control-label  text-right">เยี่ยมชมโครงการ</label>
                                        <div class="col-xs-1 col-md-2">
                                            <input type="text" class="form-control">
                                        </div>
                                        <label class="col-xs-1 col-md-1 text-left control-label">คะแนน</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 text-right control-label">การชำระเงิน</label>
                                        <div class="col-xs-1 col-md-2">
                                            <input type="text" class="form-control">
                                        </div>
                                        <label class="col-xs-1 col-md-1 text-left control-label">บาท</label>
                                        <label class="col-xs-1 col-md-1 text-right control-label">รับ</label>
                                        <div class="col-xs-1 col-md-2">
                                            <input type="text" class="form-control">
                                        </div>
                                        <label class="col-xs-1 col-md-1 control-label text-left">คะแนน</label>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 control-label text-right">คะแนนมีอายุ</label>
                                        <div class="col-xs-1 col-md-2">
                                            <input type="number" class="form-control">
                                        </div>
                                        <label class="col-xs-2 col-md-2 control-label text-left">ปี <small>(ตามปีปฏิทิน)</small></label>
                                    </div>
                                </div>
                                <br />
                                <!-- /.card-body -->
                                <div class="col-xs-11 col-md-12">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> &nbsp; บันทึก</button>
                                        <button type="submit" class="btn btn-warning"><i class="fa fa-refresh"></i> &nbsp;  เคลีย์ข้อมูล</button>
                                        @*<button type="submit" class="btn btn-primary"><i class="fa fa-info-circle"></i> &nbsp; ประวัติการให้คะแนน</button>*@
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="box-header">
                            <div class="box-title">ประวัติการให้คะแนน</div>
                        </div>
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="2">วันที่ </th>
                                        <th class="text-center" rowspan="2">สมัครสมาชิก</th>
                                        <th class="text-center" rowspan="2">แนะนำเพื่อน / คน</th>
                                        <th class="text-center" rowspan="2">เยี่ยมชมโครงการ</th>
                                        <th class="text-center" colspan="2">ชำระเงิน </th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">เริ่ม</th>
                                        <th class="text-center">สิ้นสุด</th>
                                        <th class="text-center">บาท</th>
                                        <th class="text-center">คะแนน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-right">
                                        <td class="text-center">1/6/2018</td>
                                        <td class="text-center">1/6/2018</td>
                                        <td>25</td>
                                        <td>1,000</td>
                                        <td>2</td>
                                        <td>100,000</td>
                                        <td>2</td>
                                    </tr>
                                    <tr class="text-right">
                                        <td class="text-center">1/6/2018</td>
                                        <td class="text-center">1/6/2018</td>
                                        <td>25</td>
                                        <td>1,000</td>
                                        <td>2</td>
                                        <td>100,000</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="tab2" role="tabpanel" class="tab-pane">
                        <div class="panel-body">
                            <div role="form" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 text-right control-label">งบประมาน</label>
                                        <div class="col-xs-2 col-md-2">
                                            <select class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                        <label class="col-xs-1 col-md-1 text-right control-label">SBU</label>
                                        <div class="col-xs-2 col-md-2">
                                            <select class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 text-right control-label">โครงการ</label>
                                        <div class="col-xs-2 col-md-4">
                                            <div class="radio">
                                                <!-- Inline radio buttons -->
                                                <input id="radio-project1" class="magic-radio" type="radio" name="project" value="Y" checked>
                                                <label style="padding-left: 5px;" for="radio-project1">ทั้งหมด</label>
                                                &emsp;
                                                <input id="radio-project2" class="magic-radio" type="radio" name="project" value="N">
                                                <label style="padding-left: 5px;" for="radio-project2">บางโครงการ</label>
                                                &nbsp;
                                                <button class="btn btn-sm btn-success" id="addProject"><i class="fa fa-plus"></i>  เพิ่ม</button>
                                                <button class="btn btn-sm btn-info" id="seeProject"> <i class="fa fa-info-circle"></i> รายละเอียด</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 text-right control-label">ได้รับคะแนนจาก</label>
                                        <div class="col-xs-2 col-md-2">
                                            <select class="form-control">
                                                <option value="">การสมัครสมาชิก</option>
                                                <option value="">การแนะนำเพื่อน</option>
                                                <option value="">เยี่ยมชมโครงการ</option>
                                                <option value="">การชำระเงิน</option>
                                            </select>
                                        </div>
                                        <label class="col-xs-1 col-md-1 control-label text-right">จาก</label>
                                        <div class="col-xs1 col-md-1">
                                            <select class="form-control">
                                                <option> การจอง</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-1 col-md-1">
                                            <input type="number" class="form-control">
                                        </div>
                                        <div class="col-xs1 col-md-1">
                                            <select class="form-control">
                                                <option> เท่า</option>
                                                <option> บาท</option>
                                            </select>
                                        </div>
                                         
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 control-label  text-right">วันที่เริ่มให้คะแนนพิเศษ</label>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <label class="col-xs-1 col-md-1 text-left control-label text-right">ถึง</label>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="input-group date">
                                                <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 control-label text-right">รายละเอียด</label>
                                        <div class="col-xs-6 col-md-5">
                                            <textarea class="form-control" style="height:100px;"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-md-12">
                                        <label class="col-xs-2 col-md-2 control-label  text-right">สถานะ</label>
                                        <div class="col-xs-2 col-md-2">
                                            <div class="radio">
                                                <!-- Inline radio buttons -->
                                                <input id="radio-active1" class="magic-radio" type="radio" name="active" value="Y" checked>
                                                <label style="padding-left: 5px;" for="radio-active1">ใช้งาน</label>
                                                &emsp;
                                                <input id="radio-active2" class="magic-radio" type="radio" name="active" value="N">
                                                <label style="padding-left: 5px;" for="radio-active2">ยกเลิก</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <!-- /.card-body -->

                                <div class="col-xs-11 col-md-12">
                                    <div class="text-right">
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> &nbsp; บันทึก</button>
                                        <button type="submit" class="btn btn-warning"><i class="fa fa-refresh"></i> &nbsp;  เคลีย์ข้อมูล</button>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center" rowspan="2">ลำดับ</th>
                                            <th class="text-center" rowspan="2">งบประมาน</th>
                                            <th class="text-center" rowspan="2">รายละเอียด</th>
                                            <th class="text-center" rowspan="2">การให้คะแนนพิเศษ</th>
                                            <th class="text-center" rowspan="2">เท่า</th>
                                            <th class="text-center" rowspan="2">จำนวนคะแนน</th>
                                            <th class="text-center" rowspan="2">วันที่</th>
                                            <th class="text-center" rowspan="2">สถานะ</th>
                                            <th class="text-center" rowspan="2"></th>
                                        </tr>
                                        @*<tr>
                                                <th class="text-center">คะแนน</th>
                                                <th class="text-center" style="border-right-width: 1px;">คะแนน X เท่า </th>
                                            </tr>*@
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>
                                                The Plant เทพารักษ์
                                            </td>
                                            <td>คะแนนพิเศษ เมื่อเยี่ยมชมโครงการ</td>
                                            <td class="text-left">คะแนน X เท่า</td>
                                            <td class="text-right">2</td>
                                            <td class="text-right">100</td>
                                            <td>1/7/2018 - 31/7/2018</td>
                                            <td>ใช้งาน</td>
                                            <td class="text-center"><button class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i> แก้ไข</button></td>
                                        </tr>
                                    </tbody>
                                    @*<tfoot>
                                            <tr>
                                                <th>ลำดับ</th>
                                                <th>SBU</th>
                                                <th>รายละเอียด</th>
                                                <th>คะแนนหลัก</th>
                                                <th>คะแนน X (เท่า)</th>
                                                <th>วันที่</th>
                                                <th>สถานะ</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>*@
                                </table>
                            </div>
                        </div>
                    </div>

                    @*<div id="tab3" role="tabpanel" class="tab-pane">
                            <div class="panel-body">
                                <div role="form" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-xs-12 col-md-12">
                                            <label class="col-xs-2 col-md-2 control-label  text-right">ชื่อ</label>
                                            <div class="col-xs-4 col-md-5">
                                                <input type="email" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 col-md-12">
                                            <label class="col-xs-2 col-md-2 control-label  text-right">ช่วงเวลา</label>
                                            <div class="col-xs-2 col-md-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <!-- /.input group -->
                                            </div>
                                            <label class="col-xs-1 col-md-1 text-center control-label">ถึง</label>
                                            <div class="col-xs-2 col-md-2">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 col-md-12">
                                            <label class="col-xs-2 col-md-2 control-label  text-right">ไฟล์ข้อมูล</label>
                                            <div class="col-xs-4 col-md-5">
                                                <input type="file">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12 col-md-12">
                                            <label class="col-xs-2 col-md-2 control-label text-right">รายละเอียด</label>
                                            <div class="col-xs-6 col-md-5">
                                                <textarea class="form-control" style="height:100px;"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-12 col-md-12">
                                            <label class="col-xs-2 col-md-2 control-label  text-right">สถานะ</label>
                                            <div class="col-xs-2 col-md-2">
                                                <div class="radio">
                                                    <!-- Inline radio buttons -->
                                                    <input id="radio-active1" class="magic-radio" type="radio" name="active" value="Y" checked>
                                                    <label style="padding-left: 5px;" for="radio-active1">ใช้งาน</label>
                                                    &emsp;
                                                    <input id="radio-active2" class="magic-radio" type="radio" name="active" value="N">
                                                    <label style="padding-left: 5px;" for="radio-active2">ยกเลิก</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <!-- /.card-body -->

                                    <div class="col-xs-11 col-md-12">
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> &nbsp; บันทึก</button>
                                            <button type="submit" class="btn btn-warning"><i class="fa fa-refresh"></i> &nbsp;  เคลีย์ข้อมูล</button>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center" rowspan="2">ลำดับ</th>
                                                <th class="text-center" rowspan="2">ชื่อ</th>
                                                <th class="text-center" rowspan="2">รายละเอียด</th>
                                                <th class="text-center" rowspan="2">วันที่</th>
                                                <th class="text-center" rowspan="2">สถานะ</th>
                                                <th class="text-center" rowspan="2"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">1</td>
                                                <td>
                                                    The Plant เทพารักษ์
                                                </td>
                                                <td>คะแนนพิเศษ เมื่อเยี่ยมชมโครงการ</td>
                                                <td>01/01/2018 - 30/06/2018</td>
                                                <td>ใช้งาน</td>
                                                <td class="text-center">
                                                    <button class="btn btn-sm btn-info"><i class="fa fa-search"></i> รายชื่อ</button>
                                                    <button class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i> แก้ไข</button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addNotifyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>เลือกโครงการ</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" id="add-notify-form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">โครงการ</label>
                        <div class="col-md-8">

                            <select class="form-control">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2">ลำดับ</th>
                                <th class="text-center" rowspan="2">รหัส</th>
                                <th class="text-center" rowspan="2">โครงการ</th>
                                <th class="text-center" rowspan="2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">001</td>
                                <td>
                                    The Plant เทพารักษ์
                                </td>
                                <td class="text-center"><button class="btn btn-sm btn-warning"><i class="fa fa-minus-circle"></i> &nbsp; ลบ</button></td>
                            </tr>
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>SBU</th>
                                    <th>รายละเอียด</th>
                                    <th>คะแนนหลัก</th>
                                    <th>คะแนน X (เท่า)</th>
                                    <th>วันที่</th>
                                    <th>สถานะ</th>
                                    <th></th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger btn-sm" id="saveEditUser"><i class="fa fa-floppy-o"></i>&nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>
<script>
    $(function () {
        $('#addProject').click(function () {
            $('#addProjectModal').modal('show');
        });
        $('#seeProject').click(function () {
            $('#addProjectModal').modal('show');
        });

        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
        $('#example1').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
    });
    $('.date').datepicker({
        autoclose: true
    })
</script>

