﻿
@{
    ViewBag.Title = "การอนุมัติ";
    ViewBag.Description = "อนุมัติ Portfolio / อนุมัติ Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .modal {
        overflow: auto !important;
    }

    .padding-style {
        padding-right: 30px;
    }

    .bt_square {
        width: 100%;
        text-align: center;
    }

    .padding5 {
        padding: 5px;
    }

    .select2 {
        width: 100% !important;
    }

    .btn {
        cursor: pointer;
    }

    .modal-lg {
        width: 600px;
    }

    .fa.fa-check {
        font-size: 12px;
    }

    .txt-center {
        text-align: center;
    }

    .wait {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
    }

    .approve {
        color: green;
    }

    .no_approve {
        color: red;
    }


    /* hidden btn upload js file input*/
</style>

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>การอนุมัติPortfiloi / Review</h4>
            </div>
            <div class="card-body style-default-bright" style="padding:10px;">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" href="#tab1" aria-expanded="true" data-toggle="tab"><i class="fa fa-address-card"></i>&nbsp;Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2" data-toggle="tab" id="tab_review_cus"><i class="fa fa-picture-o"></i>&nbsp;Review Designer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab3" data-toggle="tab" id="tab_review_project"><i class="fa fa-picture-o"></i>&nbsp;Review Project</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" role="tabpanel" class="tab-pane active">
                        <div class="panel-body" style="padding: 0px;">
                            <div class="row">
                                <br>
                                <div class="col-sm-12 col-md-12">
                                    <label class="col-sm-3 col-md-1 control-label text-right" style="padding-left:0;">สถานะการอนุมัติ</label>
                                    <div class="col-sm-6 col-md-3">
                                        <select class="form-control select2" id="status_approve" name="status_approve">
                                            <option value="1">ทั้งหมด</option>
                                            <option value="A">อนุมัติ</option>
                                            <option value="R">ไม่อนุมัติ</option>
                                            <option value="P">รอตรวจสอบ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div>
                                        <div class="box-body">
                                            <table id="portfolio-detail" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center" width="5%">ลำดับ</th>
                                                        <th style="text-align:center" width="15%">ชื่อ Designer</th>
                                                        <th style="text-align:center" width="10%">ประเภทสมาชิก</th>
                                                        <th style="text-align:center" width="15%">ชื่อโครงการ</th>
                                                        <th style="text-align:center" width="10%">Style</th>
                                                        <th style="text-align:center" width="10%">ประเภท</th>
                                                        <th style="text-align:center" width="10%">วันที่สร้าง</th>
                                                        <th style="text-align:center" width="10%">สถานะ</th>
                                                        <th style="text-align:center" width="10%"></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  <!--Tab1 Portfolio-->

                    <div id="tab2" role="tabpanel" class="tab-pane">
                        <div class="panel-body" style="padding: 0px;">
                            <div class="row">
                                <br>
                                <div class="col-sm-12 col-md-12">
                                    <label class="col-sm-3 col-md-1 control-label text-right" style="padding-left:0;">สถานะการอนุมัติ</label>
                                    <div class="col-sm-6 col-md-3">
                                        <select class="form-control select2" id="review_cus_status" name="review_cus_status">
                                            <option value="1">ทั้งหมด</option>
                                            <option value="A">อนุมัติ</option>
                                            <option value="R">ไม่อนุมัติ</option>
                                            <option value="P">รอตรวจสอบ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div>
                                        <div class="box-body">
                                            <table id="review-cus-detail" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center" width="5%">ลำดับ</th>
                                                        <th style="text-align:center" width="15%">ชื่อ Designer</th>
                                                        <th style="text-align:center" width="10%">Rating</th>
                                                        <th style="text-align:center" width="20%">Detail</th>
                                                        <th style="text-align:center" width="15%">ชื่อผู้ Review</th>
                                                        <th style="text-align:center" width="10%">วันที่สร้าง</th>
                                                        <th style="text-align:center" width="10%">สถานะ</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--Tab2 Review Customer-->

                    <div id="tab3" role="tabpanel" class="tab-pane">
                        <div class="panel-body" style="padding: 0px;">
                            <div class="row">
                                <br>
                                <div class="col-sm-12 col-md-12">
                                    <label class="col-sm-3 col-md-1 control-label text-right" style="padding-left:0;">สถานะการอนุมัติ</label>
                                    <div class="col-sm-6 col-md-3">
                                        <select class="form-control select2" id="review_project_status" name="review_project_status">
                                            <option value="1">ทั้งหมด</option>
                                            <option value="A">อนุมัติ</option>
                                            <option value="R">ไม่อนุมัติ</option>
                                            <option value="P">รอตรวจสอบ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div>
                                        <div class="box-body">
                                            <table id="review-project-detail" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center" width="5%">ลำดับ</th>
                                                        <th style="text-align:center" width="15%">ชื่อ Project</th>
                                                        <th style="text-align:center" width="15%">ประเภท</th>
                                                        <th style="text-align:center" width="10%">Rating</th>
                                                        <th style="text-align:center" width="20%">Detail</th>
                                                        <th style="text-align:center" width="15%">ชื่อผู้ Review</th>
                                                        <th style="text-align:center" width="10%">วันที่สร้าง</th>
                                                        <th style="text-align:center" width="10%">สถานะ</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--Tab3 Review Project-->
                </div>
            </div>
        </div> <!--box body-->
    </div>
</div> <!--div row-->

<div class="modal fade" id="alert_" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
            </div>
            <div class="col-sm-12 col-md-12" style="padding-top: 20px;">
                <input type="hidden" id="project_id" />
                <label class="col-sm-3 col-md-3 control-label text-right" style="padding-left:0;">สถานะการอนุมัติ</label>
                <div class="col-sm-6 col-md-6">
                    <select class="form-control select2" id="approve" name="approve">
                        <option value="A">อนุมัติ</option>
                        <option value="R">ไม่อนุมัติ</option>
                    </select>
                </div>
            </div>
            <br><br class="remark"><br class="remark">
            <div class="col-sm-12 col-md-12 remark">
                <label class="col-sm-3 col-md-3 control-label text-right">หมายเหตุ</label>
                <div class="col-sm-5 col-md-6">
                    <input type="text" class="form-control" id="remark">
                </div>
            </div>
            <br>
            <div class="modal-footer" style="border-top:none;">
                <button type="button" class="btn btn-secondary" id="comfirm_save">ยืนยัน</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div> <!--div modal approve project-->

<div class="modal fade" id="alert_cus_review" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
            </div>
            <div class="col-sm-12 col-md-12" style="padding-top: 20px;">
                <input type="hidden" id="rev_id" />
                <input type="hidden" id="cus_id" />
                <label class="col-sm-3 col-md-3 control-label text-right" style="padding-left:0;">สถานะการอนุมัติ</label>
                <div class="col-sm-6 col-md-6">
                    <select class="form-control select2" id="approve_cus_review" name="approve_cus_review">
                        <option value="A">อนุมัติ</option>
                        <option value="R">ไม่อนุมัติ</option>
                    </select>
                </div>
            </div>
            <br><br class="remark"><br class="remark">
            <div class="col-sm-12 col-md-12 remark">
                <label class="col-sm-3 col-md-3 control-label text-right">หมายเหตุ</label>
                <div class="col-sm-5 col-md-6">
                    <input type="text" class="form-control" id="remark">
                </div>
            </div>
            <br>
            <div class="modal-footer" style="border-top:none;">
                <button type="button" class="btn btn-secondary" id="comfirm_save">ยืนยัน</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div> <!--div modal approve review designer-->

<div class="modal fade" id="alert_project_review" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none;">
            </div>
            <div class="col-sm-12 col-md-12" style="padding-top: 20px;">
                <input type="hidden" id="project_id" />
                <input type="hidden" id="rev_id" />
                <label class="col-sm-3 col-md-3 control-label text-right" style="padding-left:0;">สถานะการอนุมัติ</label>
                <div class="col-sm-6 col-md-6">
                    <select class="form-control select2" id="approve_project_review" name="approve_project_review">
                        <option value="A">อนุมัติ</option>
                        <option value="R">ไม่อนุมัติ</option>
                    </select>
                </div>
            </div>
            <br><br class="remark"><br class="remark">
            <div class="col-sm-12 col-md-12 remark">
                <label class="col-sm-3 col-md-3 control-label text-right">หมายเหตุ</label>
                <div class="col-sm-5 col-md-6">
                    <input type="text" class="form-control" id="remark">
                </div>
            </div>
            <br>
            <div class="modal-footer" style="border-top:none;">
                <button type="button" class="btn btn-secondary" id="comfirm_save">ยืนยัน</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div> <!--div modal approve review project-->

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Scripts/Project/js_ApproveProject.js?v=1.9"></script>

