﻿@{
    ViewBag.Title = "การแนะนำเพื่อน";
    ViewBag.Description = "ข้อมูลการแนะนำเพื่อน";
    Layout = "~/Views/Shared/_LayoutCall.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title">
                    <h4>ข้อมูลสมาชิก</h4>
                </div>
            </div>
            <div class="box-body">
                <div class="form-horizontal form-padding" role="form">
                    @Html.Partial("~/Views/Shared/_Profile.cshtml")
                </div>
            </div>
            <br />
            <div class="box-header">
                <div class="box-title">
                    <h4>ข้อมูลการแนะนำเพื่อน</h4>
                </div>
            </div>
            <div class="box-body">
                <table id="referfriend-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:center" width="5%">ลำดับ</th>
                            <th style="text-align:center" width="10%">วันที่แนะนำ</th>
                            <th style="text-align:center" width="10%">จำนวนผู้ถูกแนะนำ</th>
                            <th style="text-align:center" width="10%">ผ่าน</th>
                            <th style="text-align:center" width="10%">ไม่ผ่าน</th>
                            <th style="text-align:center" width="10%">รอตรวจสอบ</th>
                            <th style="text-align:center" width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">1</td>
                            <td style="text-align:center">3/7/2018</td>
                            <td style="text-align:center">3</td>
                            <td style="text-align:center; color:#009900;">1</td>
                            <td style="text-align:center; color:red;">1</td>
                            <td style="text-align:center;">1</td>
                            <td style="text-align:center"><button type="button" class="btn btn-info btn-sm"><i class="fa fa-search"></i> &nbsp; รายละเอียด</button> </td>
                        </tr>
                        <tr>
                            <td style="text-align:center">2</td>
                            <td style="text-align:center">2/7/2018</td>
                            <td style="text-align:center">10</td>
                            <td style="text-align:center; color:#009900;">4</td>
                            <td style="text-align:center; color:red;">2</td>
                            <td style="text-align:center;">4</td>
                            <td style="text-align:center"><button type="button" class="btn btn-info btn-sm"><i class="fa fa-search"></i> &nbsp; รายละเอียด</button> </td>
                        </tr>
                        <tr>
                            <td style="text-align:center">3</td>
                            <td style="text-align:center">1/7/2018</td>
                            <td style="text-align:center">5</td>
                            <td style="text-align:center; color:#009900;">1</td>
                            <td style="text-align:center; color:red;">4</td>
                            <td style="text-align:center;">-</td>
                            <td style="text-align:center"><button type="button" class="btn btn-info btn-sm"><i class="fa fa-search"></i> &nbsp; รายละเอียด</button> </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
            <div class="box-header">
                <div class="box-title">
                    <h4>รายละเอียด</h4>
                </div>
            </div>
            <div class="box-body">
                <h3> รายชื่อเพื่อนที่แนะนำที่พบ : <span class="text-danger" style="color:red;" id="totRecord"> 3</span> <span>คน</span></h3>
                <table id="detail-referfriend-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:center" width="5%">ลำดับ</th>
                            <th style="text-align:center" width="20%">ผู้ถูกแนะนำ</th>
                            <th style="text-align:center" width="10%">วันที่ Verify</th>
                            <th style="text-align:center" width="10%">สถานะ</th>
                            <th style="text-align:center" width="20%">เหตุผลที่ไม่ผ่านการ Verify</th>
                            <th style="text-align:center" width="20%">โครงการที่สนใจ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">1</td>
                            <td>ทดสอบ ก</td>
                            <td style="text-align:center">5/7/2018</td>
                            <td style="text-align:center">ผ่าน</td>
                            <td></td>
                            <td>The plam เทพารักษ์ 1</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">2</td>
                            <td>ทดสอบ ข</td>
                            <td style="text-align:center">5/7/2018</td>
                            <td style="text-align:center">ไม่ผ่าน</td>
                            <td>ข้อมูลผู้ถูกแนะนำไม่ถูกต้อง</td>
                            <td>The plam เทพารักษ์ x</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">3</td>
                            <td>ทดสอบ ค</td>
                            <td style="text-align:center">5/7/2018</td>
                            <td style="text-align:center">รอตรวจสอบ</td>
                            <td></td>
                            <td>The plam เทพารักษ์ xx</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script>
    $(function () {
        $('#detail-referfriend-table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
        $('#referfriend-table').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
    });

</script>