﻿
@{
    ViewBag.Title = "ข้อมูล";
    ViewBag.Description = "SBU/โครงการ";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title"><h4>ข้อมูล SBU/โครงการ </h4></div>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <label class="control-label col-md-1">SBU</label>
                    <div class="col-md-9">
                        <select class="form-control" name="" id="">
                            <option value="">คอนโด 1</option>
                            <option value="">คอนโด 3</option>
                            <option value="">คอนโด 4</option>
                            <option value="">คอนโด 5</option>
                            <option value="">คอนโด 6</option>
                            <option value="">เดอะคอนเนค</option>
                            <option value="">บ้านพฤกษา 1</option>
                            <option value="">บ้านพฤกษา 2</option>
                            <option value="">บ้านพฤกษา 3</option> 
                            <option value="">พฤกษาทาวน์</option>
                            <option value="">พฤกษาวิลล์ 1</option>
                            <option value="">พฤกษาวิลล์ 2</option>
                            <option value="">พฤกษาวิลเลจ</option>
                            <option value="">ภัสสร 1</option>
                            <option value="">ภัสสร 2</option>
                            <option value="">ภัสสร 3</option>
                            <option value="">PAT</option>
                            <option value="">PHR1</option> 
                            <option value="">PHR2</option>  

                        </select>
                    </div>
                    <button type="button" class="btn btn-danger" id=""><i class="fa fa-search"></i>&nbsp; ค้นหา</button>
                </div>
            </div>
            <br/>
            <div class="box-header">
                <div class="box-title"><h4>รายละเอียด โครงการ</h4></div>
            </div>
            <div class="box-body">
                <h4> จำนวนโครงการที่พบ : <span class="text-danger" id="totRecord"> 2</span> <span>โครงการ</span></h4>
                <table id="sbu-datatable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align:center" width="10%">ลำดับ</th>
                            <th style="text-align:center" width="20%">รหัสโครงการ</th>
                            <th style="text-align:center" width="50%">ชื่อโครงการ</th>
                            <th style="text-align:center" width="20%">สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">1</td>
                            <td>PC0180</td>
                            <td>คอนโดเลต ลาดพร้าว</td>
                            <td style="text-align:center">ปกติ</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">2</td>
                            <td>PC0230</td>
                            <td>คอนโดเลต รัชดา 36</td>
                            <td style="text-align:center">ปกติ</td> 
                        </tr>
                        <tr>
                            <td style="text-align:center">2</td>
                            <td>PC0490</td>
                            <td>คอนโดเลต พิกเซล สาทร</td>
                            <td style="text-align:center">ปกติ</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">2</td>
                            <td>PC0520</td>
                            <td>พลัมคอนโด พระราม 2</td>
                            <td style="text-align:center">ปกติ</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">2</td>
                            <td>PC0270</td>
                            <td>คอนโดเลต ไลท์ คอนแวนต์</td>
                            <td style="text-align:center">ปกติ</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">2</td>
                            <td>PC0290</td>
                            <td>คอนโดเลต ไอซ์ ราชเทวี</td>
                            <td style="text-align:center">ปกติ</td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script>
    $(function () {
        $('#sbu-datatable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
    });

</script>