﻿@{
    ViewBag.Title = "สมาชิก";
    ViewBag.Description = "ข้อมูลการสมัครสมาชิก";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ค้นหาข้อมูลการสมัครสมาชิก</h4>
            </div>
            <div class="card-body style-default-bright" style="padding:10px;">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-md-2 text-right control-label">จากวันที่</label>
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control txt_datetime" id="date_from" readonly>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label class="col-md-2 text-right control-label">ถึงวันที่</label>
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control txt_datetime" id="date_to" readonly>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-md-2 text-right control-label">ประเภทสมาชิก</label>
                            <div class="col-md-3">
                                <select class="form-control" id="vip">
                                    <option value=""> ทั้งหมด </option>
                                    <option value="N"> ทั่วไป </option>
                                    <option value="Y"> VIP </option>
                                </select>
                            </div>
                            <label class="col-md-2 text-right control-label">สถานะการตรวจสอบ</label>
                            <div class="col-md-3">
                                <select class="form-control" id="verifyData">
                                    <option value=""> ทั้งหมด </option>
                                    <option value="E">รอดำเนินการ</option>
                                    <option value="Y">ผ่านการตรวจสอบ</option>
                                    <option value="N">ไม่ผ่านการตรวจสอบ</option>
                                    <option value="C">ติดต่อไม่ได้</option>
                                    <option value="P">เบอร์โทรผิด</option>
                                    <option value="W">รอส่งผลงาน</option>
                                </select>
                            </div>
                            @*<div class="col-md-1 text-center">
                                <button class="btn btn-info" id="bt_Search"><i class="fa fa-search"></i> ค้นหา </button>
                            </div>
                            <div class="col-md-1 text-center">
                                <button class="btn btn-success" id="bt_Export"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export </button>
                            </div>*@
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-12 col-md-12 text-right">
                            <button class="btn btn-info" id="bt_Search"><i class="fa fa-search"></i> ค้นหา </button>
                            <button class="btn btn-warning" id="bt_Clear"><i class="fa fa-remove"></i> เคลียร์  </button>
                            <button class="btn btn-success" id="bt_Export"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="card-body style-default-bright" style="padding:10px;">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" href="#tab1" aria-expanded="true" data-toggle="tab"><i class="fa fa-calendar"></i>&nbsp; ผู้สมัครรายวัน</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2" data-toggle="tab"><i class="fa fa-list"></i>&nbsp; รายละเอียดสมาชิก</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" role="tabpanel" class="tab-pane active">
                        <div class="panel-body">
                            <div class="box box-default">
                                <div class="box-header">
                                    <h4>จำนวนผู้สมัครสมาชิกรายวัน</h4>
                                </div>
                                <div class="card-body style-default-bright" style="padding-top:10px;">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-2 text-right">จำนวนผู้สมัครทั้งหมด</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalRegis" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">รอการตรวจสอบ</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalWaitRegis" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">ผ่านการตรวจสอบ</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalPassRegis" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">ไม่ผ่านการตรวจสอบ</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalNoPassRegis" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-2 text-right"></label>
                                            <div class="col-md-1">
                                            </div>
                                            <label class="col-md-2  text-right">ติดต่อไม่ได้</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalNoContactRegis" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">เบอร์โทรผิด</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalPhoneRegis" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">รอส่งผลงาน</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalWaitPortRegis" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <table class="table table-striped no-margin table-bordered cf" id="tb_regis_total">
                                        <thead class="cf" style="background-color: #28acbb; color: white;">
                                            <tr>
                                                <th style="vertical-align:middle;" class="text-center" width="5%">#</th>
                                                <th style="vertical-align:middle;" class="text-center" width="20%"><span class="lan_">วันที่สมัคร</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">จำนวนทั้งหมด</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">รอตรวจสอบ</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">ผ่านการตรวจสอบ</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">ไม่ผ่านการตรวจสอบ</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">รอส่งผลงาน</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">เบอร์โทรผิด</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">ติดต่อไม่ได้</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">Detail</span></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_regis_total" style="text-align:center;"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" role="tabpanel" class="tab-pane">
                        <div class="panel-body">
                            <div class="box">
                                <div class="box-header">
                                    <h4>รายละเอียด</h4>
                                </div>
                                <div class="card-body style-default-bright" style="padding-top:10px;">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-2 text-right">จำนวนผู้สมัครทั้งหมด</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalRegisDetail" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">รอการตรวจสอบ</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalWaitRegisDetail" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">ผ่านการตรวจสอบ</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalPassRegisDetail" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">ไม่ผ่านการตรวจสอบ</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalNoPassRegisDetail" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-md-2 text-right"></label>
                                            <div class="col-md-1">
                                            </div>
                                            <label class="col-md-2  text-right">ติดต่อไม่ได้</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalNoContactRegisDetail" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">เบอร์โทรผิด</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalPhoneRegisDetail" disabled />
                                            </div>
                                            <label class="col-md-2  text-right">รอส่งผลงาน</label>
                                            <div class="col-md-1">
                                                <input class="form-control text-red text-center" id="totalWaitPortRegisDetail" disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <table class="table table-striped no-margin table-bordered cf" id="tb_regis_detail">
                                        <thead class="cf" style="background-color: #28acbb; color: white;">
                                            <tr>
                                                <th style="vertical-align:middle;" class="text-center" width="3%">#</th>
                                                <th style="vertical-align:middle;" class="text-center" width="5%"><span class="lan_">วันที่สมัคร</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="25%"><span class="lan_">ชื่อ</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="5%"><span class="lan_">อาชีพ</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">เบอร์โทร</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="5%"><span class="lan_">คะแนน</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="5%"><span class="lan_">ประเภทลูกค้า</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">สาขาที่สมัคร</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">การตรวจสอบ</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">วันที่ตรวจสอบ</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="10%"><span class="lan_">แนะนำโดย</span></th>
                                                <th style="vertical-align:middle;" class="text-center" width="8%"><span class="lan_"></span></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_regis_detail"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalConfirmDesigner" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header" style="margin-bottom:0px;">
                <h4 class="modal-title">ยืนยันการตรวจสอบ</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <input type="hidden" id="CustIDVerify" />
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-semibold text-main"><span style="color:red;" id="txtName"></span> </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="text-semibold text-main">วันที่ตรวจสอบ </label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group date">
                                <input type="text" class="form-control verify_date" id="verify_date" readonly>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="text-semibold text-main">ผ่านเงื่อนไข การเป็นสมาชิก </label>
                        </div>
                        <div class="col-md-6">
                            @*<label class="radio-inline">
                                    <input name="verify" class="radioVerify" value="Y" type="radio" /> &nbsp; ผ่าน  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;
                                </label>
                                <label class="radio-inline">
                                    <input name="verify" class="radioVerify" value="N" type="radio" /> &nbsp; ไม่ผ่าน
                                </label>*@
                            <select class="form-control" name="verify" id="verify">
                                <option value="Y">ผ่านการตรวจสอบ</option>
                                <option value="N">ไม่ผ่านการตรวจสอบ</option>
                                <option value="C">ติดต่อไม่ได้</option>
                                <option value="P">เบอร์โทรผิด</option>
                                <option value="W">รอส่งผลงาน</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="text-semibold text-main">เหตุผลกรณีไม่ผ่านเงื่อนไข </label>
                        </div>
                        <div class="col-md-6">
                            <select class="form-control" id="reasonNoVerify" disabled>
                                <option value="">โปรดระบุ</option>
                                <option value="1"> ไม่ผ่านเงื่อนไข </option>
                                <option value="2"> ไม่ส่งผลงาน </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="saveVerify" class="btn btn-danger" type="button">ยืนยัน</button>
                <button data-dismiss="modal" class="btn btn-primary" type="button">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalRegis" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header" style="margin-bottom:0px;">
                <h4 class="modal-title">รายละเอียดการสมัคร</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">ชื่อ-นามสกุล </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="tax_name" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">เลขบัตรประชาชน </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_card" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">อาชีพ </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="tax_Occupation" style="color:#000099;"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">เพศ </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_gender" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">วันเกิด </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_birthday" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">เบอร์โทร </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_mobile" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">E-mail </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_email" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">Line </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_line" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">วันที่สมัคร </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_regis" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">ตรวจสอบโดย </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_verify_by" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">ตรวจสอบวันที่ </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_verify_date" style="color:#000099;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="text-align: right">
                        <label class="text-semibold text-main">แนะนำโดย </label>
                    </div>
                    <div class="col-md-9">
                        <span class="h5" id="txt_recomend" style="color:#000099;"></span>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" type="button">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/js/tinymce/tinymce.min.js"></script>
<script src="~/Scripts/Report/RegisterReport.js?v=2.0"></script>
<script>
    $(document).ready(function () {
        $('.txt_datetime , .verify_date').datepicker({
            autoclose: true,
            format: 'dd-mm-yyyy'
        })
    });
</script>