﻿@{
    ViewBag.Title = "สมาชิก";
    ViewBag.Description = "ข้อมูลสมาชิก";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ข้อมูลสมาชิกและคะแนนสะสม</h4>
            </div>
            <div class="card-body style-default-bright" style="padding-top:10px;">
                <input type="hidden" id="hd_search_refer" value="" />
                <form class="form-horizontal" role="form">
                    <div class="tabbable">
                        <div class="form-group" style="margin-bottom: 0;">
                            @Html.Partial("~/Views/Shared/_Profile.cshtml")
                        </div>
                        <div class="box-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#tab1" aria-expanded="true" data-toggle="tab"><i class="fa fa-users"></i>&nbsp;ประวัติการแนะนำเพื่อน</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab3" data-toggle="tab"><i class="fa fa-database"></i>&nbsp;ประวัติการได้รับคะแนน</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab2" data-toggle="tab"><i class="fa fa-gift"></i>&nbsp;ประวัติการแลกของรางวัล</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab1" role="tabpanel" class="tab-pane active">
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <div> @*class="box box-default">
                                                    <div class="box-header">
                                                        <div class="box-title">
                                                            <h4>ข้อมูลการแนะนำเพื่อน</h4>
                                                        </div>
                                                    </div>*@
                                                    <div class="box-body">
                                                        <table id="referfriend-table" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center" width="5%">ลำดับ</th>
                                                                    <th style="text-align:center" width="10%">วันที่แนะนำ</th>
                                                                    <th style="text-align:center" width="10%">จำนวนผู้ถูกแนะนำ</th>
                                                                    <th style="text-align:center" width="30%">แนะนำแล้วเกิน 1 เดือนยังไม่ไปซื้อ</th>
                                                                    <th style="text-align:center" width="10%">แนะนำแล้วไปซื้อ</th>
                                                                    <th style="text-align:center" width="10%">ยกเลิก</th>
                                                                    <th style="text-align:center" width="15%">แนะนำแล้วยังไม่ไปซื้อ</th>
                                                                    <th style="text-align:center" width="10%"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="referfriend-tbody"></tbody>
                                                        </table>
                                                    </div>
                                                    <div id="detail_refer" style="display:none;">
                                                        <div class="box-header">
                                                            <div class="box-title">
                                                                <h4>รายละเอียดการแนะนำเพื่อนวันที่ <span id="date_refer"></span></h4>
                                                            </div>
                                                        </div>
                                                        <div class="box-body">
                                                            <div class="box-body" style="padding:0px;">
                                                                <ul class="nav nav-tabs">
                                                                    <li class="nav-item active">
                                                                        <a class="nav-link" href="#tab_refer1" aria-expanded="true" data-toggle="tab"><i class="fa fa-user"></i>&nbsp;รายชื่อผู้ถูกแนะนำ</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" href="#tab_refer2" data-toggle="tab"><i class="fa fa-home"></i>&nbsp;โครงการที่ซื้อ</a>
                                                                    </li>
                                                                </ul>
                                                                <div class="tab-content">
                                                                    <div id="tab_refer1" role="tabpanel" class="tab-pane active">
                                                                        <div class="panel-body" style="padding: 10px 0 0 0;">
                                                                            <h3> รายชื่อเพื่อนที่ถูกแนะนำ : <span class="text-danger totRecord" style="color:red;"> 0</span> <span>คน</span></h3>
                                                                            <table id="detail-referfriend-table" class="table table-bordered table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="text-align:center" width="5%">ลำดับ</th>
                                                                                        <th style="text-align:center" width="25%">ผู้ถูกแนะนำ</th>
                                                                                        <th style="text-align:center" width="10%">วันที่แนะนำ</th>
                                                                                        <th style="text-align:center" width="25%">สถานะ</th>
                                                                                        <th style="text-align:center" width="25%">เหตุผลที่ไม่ผ่านการ Verify</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="detail-referfriend-tbody"></tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div id="tab_refer2" role="tabpanel" class="tab-pane">
                                                                        <div class="panel-body" style="padding: 10px 0 0 0;">
                                                                            <h3> 
                                                                                รายชื่อเพื่อนที่ถูกแนะนำ : <span class="text-danger totRecord" style="color:red;"> 0</span> <span>คน / </span>
                                                                                ซื้อโครงการ : <span class="text-danger" style="color:red;" id="totRecord_buy"> 0</span> <span>คน</span>
                                                                            </h3>
                                                                            <table id="tb_detalBuyProject" class="table table-bordered table-hover">
                                                                                <thead>
                                                                                    <tr><th style="text-align:center;" colspan="4">ข้อมูลผู้ถูกแนะนำ</th><th style="text-align:center;" colspan="6">ข้อมูลการซื้อที่อยู่อาศัย</th><th rowspan="2" width="4%;" style="border-left-width: 1px;"></th></tr>
                                                                                    <tr>
                                                                                        <th style="text-align:center;" width="5%;">ลำดับ</th>
                                                                                        <th style="text-align:center;" width="15%;">ชื่อผู้ถูกแนะนำ</th>
                                                                                        <th style="text-align:center;" width="8%;">วันที่แนะนำ</th>
                                                                                        <th style="text-align:center;" width="5%;">สถานะ</th>
                                                                                        <th style="text-align:center;" width="10%;">SBU</th>
                                                                                        <th style="text-align:center;" width="15%;">โครงการ</th>
                                                                                        <th style="text-align:center;" width="13%;">วันที่อนุมัติสัญญา</th>
                                                                                        <th style="text-align:center;" width="10%;">เลขที่สัญญา</th>
                                                                                        <th style="text-align:center;" width="5%;">ยูนิต</th>
                                                                                        <th style="text-align:center;" width="10%;">มูลค่าสุทธิ(บาท)</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tbody_detalBuyProject"></tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="tab3" role="tabpanel" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <label class="col-md-12 control-label" for="demo-hor-inputpass">คะแนนรวมที่ได้รับทั้งหมด <span id="txt_totalpoint" style="color:red;"> 0 </span> คะแนน</label>
                                            
                                        </div>
                                    </div>
                                    <div class="panel-body" style="padding:0px;">
                                        <div class="box-body" style="padding:0px;">
                                            <ul class="nav nav-tabs">
                                                @*<li class="nav-item">
                                                    <a class="nav-link" href="#tab_point1" aria-expanded="true" data-toggle="tab"><i class="fa fa-user"></i>สมัครสมาชิก</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#tab_point2" data-toggle="tab"><i class="fa fa-asl-interpreting"></i>แนะนำเพื่อน</a>
                                                </li>*@
                                                <li class="nav-item active">
                                                    <a class="nav-link" href="#tab_point3" data-toggle="tab"><i class="fa fa-money"></i>การชำระเงิน</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#tab_point4" data-toggle="tab"><i class="fa fa-comments"></i>อื่นๆ</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="tab_point1" role="tabpanel" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <label class="col-md-2 control-label" for="demo-hor-inputpass">คะแนนรวม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="txt_regispoint" value="25" style="text-align:center;"> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab_point2" role="tabpanel" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <label class="col-md-2 control-label" for="demo-hor-inputpass">คะแนนรวม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="txt_pointrefer" value="0" style="text-align:center;">
                                                            </div>
                                                            <label class="col-md-3 control-label text-right" for="demo-hor-inputpass">จากจำนวนผู้ถูกแนะนำ</label>
                                                            <div class="col-md-3 col-xs-6 ">
                                                                <input type="text" class="form-control " id="txt_totalrefer" value="0" style="color:red; text-align:center;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body" style="padding:0px;">
                                                        <table id="tb_pointrefer" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;" width="10%;">ลำดับ</th>
                                                                    <th style="text-align:center;" width="15%;">วันที่แนะนำ</th>
                                                                    <th style="text-align:center;" width="10%;">คะแนน</th>
                                                                    <th style="text-align:center;" width="30%;">ชื่อผู้ถูกแนะนำ</th>
                                                                    <th style="text-align:center;" width="15%;">วันที่ตรวจสอบ</th>
                                                                    <th style="text-align:center;" width="20%;">สถานะ</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody_pointrefer"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div id="tab_point3" role="tabpanel" class="tab-pane active">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <label class="col-md-2 control-label" for="demo-hor-inputpass">คะแนนรวม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="txt_pointpay" value="0" style="text-align:center;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body" style="padding:0px;">
                                                        <table id="tb_detalBuyProjectHistory" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;" width="5%;">ลำดับ</th>
                                                                    <th style="text-align:center;" width="40%;">กิจกรรม</th>
                                                                    <th style="text-align:center;" width="15%;">วันที่</th>
                                                                    <th style="text-align:center;" width="20%;">Sap_Code</th>
                                                                    <th style="text-align:center; color:blue;" width="20%;">คะแนน</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody_detalBuyProjectHistory"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div id="tab_point4" role="tabpanel" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <label class="col-md-2 control-label" for="demo-hor-inputpass">คะแนนรวม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="txt_pointactivities" value="0" style="text-align:center;">
                                                            </div>
                                                            @*<label class="col-md-2 control-label text-right" for="demo-hor-inputpass">จากจำนวนกิจกรรม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="txt_totalactivities" value="2" style="text-align:center;">
                                                            </div>*@
                                                        </div>
                                                    </div>
                                                    <div class="panel-body" style="padding:0px;">
                                                        <table id="tb_activities" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;" width="5%;">ลำดับ</th>
                                                                    <th style="text-align:center;" width="15%;">วันที่</th>
                                                                    <th style="text-align:center;" width="15%;">ประเภท</th>
                                                                    <th style="text-align:center;" width="30%;">รายละเอียด</th>
                                                                    <th style="text-align:center;" width="10%;">คะแนน</th>
                                                                    <th style="text-align:center;" width="25%;">หมายเหตุ</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody_activities"></tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab2" role="tabpanel" class="tab-pane">
                                    <div class="panel-body"style="padding-bottom: 0px;">
                                        <div class="col-md-12">
                                            <label class="col-md-12 control-label" for="demo-hor-inputpass">คะแนนรวมที่ใช้ทั้งหมด <span id="txt_pointredeem" style="color:red;"> 0 </span> คะแนน</label>
                                            @*<div class="col-md-3 col-xs-6 ">
                                                <input type="text" class="form-control " id="txt_pointredeem" value="0" style="color:red; text-align:center;">
                                            </div>*@
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table id="tb_historyredeem" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;" width="4%;">ลำดับ</th>
                                                    <th style="text-align:center;" width="7%;">วันที่แลก</th>
                                                    <th style="text-align:center;" width="15%;">รหัสของรางวัล</th>
                                                    <th style="text-align:center;" width="40%;">ชื่อของรางวัล</th>
                                                    <th style="text-align:center;" width="7%;">จำนวน</th>
                                                    <th style="text-align:center;" width="7%;">คะแนนรวม</th>
                                                    <th style="text-align:center;" width="10%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_historyredeem"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
@section scripts{
    <script src="~/Scripts/Member/js_MemberProfile.js?v=1.0"></script>
    @*<script src="~/Scripts/ReferFriend/js_ReferFriend.js?v=1.6"></script>*@
}

<div id="myModaltab1" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:50%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>รายละเอียดการชำระเงิน</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table id="tb_ReferPaymentDetail" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center;" width="10px;">ลำดับ</th>
                                <th style="text-align:center;" width="30%;">รายการชำระเงิน</th>
                                <th style="text-align:center;" width="30%;">วันที่ชำระเงิน</th>
                                <th style="text-align:center;" width="30%;">มูลค่าที่ชำระ(บาท)</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_ReferPaymentDetail"></tbody>
                    </table>
                    <div style="color:red;">หมายเหตุ: 1. รายละเอียดการชำระเงิน จะแสดงเงินดาวน์จนถึงงวดที่ 4 หรือโอนเท่านั้น</div>
                    <div style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2. การคำนวณคะแนน แนวสูงจะคำนวณเมื่อผ่อนครบ 4 งวด หรือโอนเท่านั้น / แนวราบจะคำนวณคะแนนเมื่อ โอนเท่านั้น</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalRedeemDetail" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:70%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>รายละเอียดการส่งของรางวัล</b></h4>
            </div>
            <div class="modal-body">
                <div id="tb_send">
                    <div class="form-horizontal" role="form" style="margin-left:15px;">
                        <table id="tb_receivedetail" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center;" width="15%;">เลขที่การแลก</th>
                                    <th style="text-align:center;" width="20%;">วิธีการจัดส่ง</th>
                                    <th style="text-align:center;" width="15%;">วันที่จัดส่ง</th>
                                    <th style="text-align:center;" width="20%;">รับสินค้าโดย</th>
                                    <th style="text-align:center;" width="15%;">วันที่รับสินค้า</th>
                                    <th style="text-align:center;" width="15%;">หมายเลขพัสดุ</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_receivedetail"></tbody>
                        </table>
                    </div>
                    <div class="form-row justify-content-center" style="padding-top: 5px; padding-bottom:30px;">
                        <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10" style="padding: 5px 30px;font-weight: bold;">ที่อยู่ในการจัดส่ง</span>
                        <div class="col-md-10 col-sm-8">
                            <input class="form-control font-size-20 bold" type="text" id="txt_detail_send_address" readonly style="margin-bottom: 0;">
                        </div>
                    </div>
                </div>
                <div id="tb_promplay">
                    <div class="form-horizontal" role="form" style="margin-left:15px;">
                        <table id="tb_receivedetail_promplay" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center;" width="15%;">เลขที่การแลก</th>
                                    <th style="text-align:center;" width="20%;">วิธีการจัดส่ง</th>
                                    <th style="text-align:center;" width="15%;">วันที่โอนเงิน</th>
                                    <th style="text-align:center;" width="25%;">หมายเลขพร้อมเพย์</th>
                                    <th style="text-align:center;" width="25%;">เลขบัตรประชาชน</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_receivedetail_promplay"></tbody>
                        </table>
                    </div>
                </div>
                <div id="tb_bank">
                    <div class="form-horizontal" role="form" style="margin-left:15px;">
                        <table id="tb_receivedetail_bank" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center;" width="15%;">เลขที่การแลก</th>
                                    <th style="text-align:center;" width="15%;">วิธีการจัดส่ง</th>
                                    <th style="text-align:center;" width="15%;">วันที่โอนเงิน</th>
                                    <th style="text-align:center;" width="10%;">เลขบัตรประชาชน</th>
                                    <th style="text-align:center;" width="15%;">เลขที่บัญชี</th>
                                    <th style="text-align:center;" width="15%;">ธนาคาร</th>
                                    <th style="text-align:center;" width="15%;">สาขา</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_receivedetail_bank"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
<div id="alert-modal" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 22px;" id="Header_Alert">แจ้งเตือน</h5>
      </div>
      <div class="modal-body">
        <div class="text-center">
            <div class="content-text-modal">
                <h3 class="content__title" id="Reward_Alert"></h3>
                <h4 class="content__title" id="Reward_Alert2" style="font-size:20px;"></h4>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn button button--rounded green large" style="border: 0px solid;" data-dismiss="modal">ปิดหน้าต่าง</button>
      </div>
    </div>
  </div>
</div>

