﻿@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "การตั้งเบิก";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>การตั้งเบิกของรางวัล</h4>
            </div>
            <div class="card-body style-default-bright" style="padding-top:10px;">
                <input type="hidden" id="hd_date_gen" />
                <form class="form-horizontal" role="form">
                    <div class="tabbable">
                        <div class="col-md-12">
                            <label class="col-md-4 col-xs-6 control-label" style="text-align:right; padding:15px;">จำนวนสมาชิกที่แลกและ รอการตั้งเบิก </label>
                            <div class="col-md-1 col-xs-4" style="padding:10px 0;">
                                <input type="text" class="form-control" id="txt_userredeem" value="0" style="color:red; text-align:center;" readonly>
                            </div>
                            <label class="col-md-1 col-xs-2 control-label" style="padding:15px;">ราย </label>
                            <label class="col-md-2 col-xs-6 control-label" style="text-align:right; padding:15px;">รวมคะแนนที่แลก </label>
                            <div class="col-md-2 col-xs-4" style="padding:10px 0;">
                                <input type="text" class="form-control" id="txt_pointredeem" value="0" style="color:red; text-align:center;" readonly>
                            </div>
                            <label class="col-md-1 col-xs-2 control-label" style="padding:15px;">คะแนน </label>
                            <div class="col-md-1 col-xs-12" style="text-align:right; padding:10px 0;">
                                <button type="button" class="btn btn-info btn-sm" id="btn_myGenerate">ตั้งเบิก</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#tab2" aria-expanded="true" data-toggle="tab"><i class="fa fa-gift"></i>&nbsp;รายการแลกรอตั้งเบิก</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab1" data-toggle="tab"><i class="fa fa-truck"></i>&nbsp;รายการตั้งเบิกแล้ว</a>
                                </li>
                            </ul>
                            <input type="hidden" id="hd_sbuCode" />
                            <div class="tab-content">
                                <div id="tab1" role="tabpanel" class="tab-pane">
                                    <div class="panel-body" style="padding: 10px 0 0 0;">
                                        <table id="tb_budget" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center; vertical-align:middle;" width="2%">#</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="8%">วันที่ตั้งเบิก</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="15%">ช่วงวันที่แลก (จาก - ถึง)</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="5%">จำนวนสมาชิก</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="6%">คะแนน</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="9%">มูลค่าของรางวัล(บาท)</th>
                                                    <th style="text-align:center; vertical-align:middle; color:#3c8dbc;" width="17%">วันที่อนุมัติการตั้งเบิก</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="11%">สถานะ</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="9%">ตั้งเบิกโดย</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="18%"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_budget"></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="tab2" role="tabpanel" class="tab-pane active">
                                    <div class="panel-body" style="padding: 10px 0 0 0;">
                                        <table id="tb_waitBudget" class="table table-bordered table-hover">
                                            <thead style="vertical-align:central;">
                                                <tr>
                                                    <th style="text-align:center; vertical-align:middle;" width="2%"><input type="checkbox" class="chkRedeemAll" /></th>
                                                    <th style="text-align:center; vertical-align:middle;" width="2%;">#</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="6%;">วันที่แลก</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="5%;">หมายเลขสมาชิก</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="15%;">ชื่อสมาชิก</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="22%;">ของรางวัล</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="4%;">จำนวน</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="5%;">คะแนนรวม</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="7%;">มูลค่าของรางวัลรวม(บาท)</th>
                                                    <th style="text-align:center; vertical-align:middle;" width="2%;"></th>
                                                    <th style="text-align:center; vertical-align:middle;" width="5%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody_waitBudget"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
@section scripts{
    <script src="~/Scripts/Budget/js_Budget.js?v=1.0"></script>
}
<div id="myGenerate" class="modal fade" role="dialog" tabindex="-1" style="overflow: auto;">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>บันทึกการตั้งเบิก</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="row">
                        <label class="col-md-3 col-xs-3" for="str_budget_start_date" style="padding-top: 5px;"><b>วันที่แลก(ตั้งแต่)</b></label>
                        <div class="col-md-4 col-xs-3">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-end-date="@DateTime.Now.AddDays(-1).ToString("dd/MM/YYYY")" style="padding-top:0px;">
                                <input type="text" class="form-control textauto" id="str_budget_start_date" readonly value="">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <label class="col-md-1 col-xs-2" for="str_budget_end_date" style="padding-top: 5px;"><b>ถึง</b></label>
                        <div class="col-md-4 col-xs-3" style="padding-left:0;">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-end-date="@DateTime.Now.AddDays(-1).ToString("dd/MM/YYYY")" style="padding-top:0px;">
                                <input type="text" class="form-control textauto" id="str_budget_end_date" readonly value="">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="input-daterange input-group" id="reward-date-range">
                            <input type="hidden" id="vtxt_form" />
                            <label class="col-md-3 col-xs-3" for="str_budget_start_date" style="padding-top: 5px;"><b>วันที่แลก(จาก)</b></label>
                            <div class="col-md-3 col-xs-3 formgroup_new overflow_ellipsis" style="padding-left: 0;">
                                <div class="input-group col-md-12" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control " id="str_budget_start_date" name="str_reward_start_date">
                                </div>
                            </div>
                            <label class="col-md-1 col-xs-2" for="str_budget_end_date" style="padding-top: 5px;"><b>ถึง</b></label>
                            <div class="col-md-3 col-xs-3 formgroup_new overflow_ellipsis" style="padding-right: 0;">
                                <div class="input-group col-md-12" data-date-format="dd/mm/yyyy" data-date-end-date="@DateTime.Now.ToString("dd/MM/YYYY")">
                                    <input type="text" class="form-control" id="str_budget_end_date" name="str_reward_end_date">
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-info" id="btn_generateBudget">ตั้งเบิก</button>
            </div>
        </div>
    </div>
</div>
<div id="myBudgetForSBU" class="modal fade" role="dialog" tabindex="-1" style="overflow: auto;">
    <div class="modal-dialog" style="width:95%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รายละเอียดแต่ละ SBU</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <table id="tb_BudgetForSBU" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center;" width="5%;">#</th>
                                <th style="text-align:center;" width="10%;">SBU</th>
                                <th style="text-align:center;" width="30%;">SBU Name</th>
                                <th style="text-align:center;" width="15%;">จำนวนสมาชิก</th>
                                <th style="text-align:center;" width="15%;">คะแนน</th>
                                <th style="text-align:center;" width="15%;">มูลค่าของรางวัล(บาท)</th>
                                <th style="text-align:center;" width="10%;"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary btn-sm btn_reportBudget">รายงาน</button>
            </div>
        </div>
    </div>
</div>
<div id="myDetailBudgetForSBU" class="modal fade" role="dialog" tabindex="-1" style="overflow: auto;">
    <div class="modal-dialog" style="width:98%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รายละเอียดแต่ละ SBU : <span id="namesbu"></span></b></h4>
            </div>
            <div class="modal-body" style="padding:5px 0 0 0;">
                <div class="form-horizontal" role="form">
                    <table id="tb_detailBudget" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center; vertical-align:middle;" width="2%;">#</th>
                                <th style="text-align:center; vertical-align:middle;" width="6%;">วันที่แลก</th>
                                <th style="text-align:center; vertical-align:middle;" width="8%;">หมายเลขสมาชิก</th>
                                <th style="text-align:center; vertical-align:middle;" width="10%;">ชื่อสมาชิก</th>
                                <th style="text-align:center; vertical-align:middle;" width="6%;">ระดับสมาชิก</th>
                                <th style="text-align:center; vertical-align:middle;" width="6%;">รหัสของรางวัล</th>
                                <th style="text-align:center; vertical-align:middle;" width="21%;">ชื่อของรางวัล</th>
                                <th style="text-align:center; vertical-align:middle;" width="3%;">จำนวน</th>
                                <th style="text-align:center; vertical-align:middle;" width="5%;">คะแนน</th>
                                <th style="text-align:center; vertical-align:middle;" width="7%;">มูลค่าของรางวัล(บาท)</th>
                                <th style="text-align:center; vertical-align:middle;" width="26%;">SBU</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_detailBudget"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
<div id="myDetailyByCategory" class="modal fade" role="dialog" tabindex="-1" style="overflow: auto;">
    <div class="modal-dialog" style="width:95%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รายละเอียดของรางวัล</b></h4>
            </div>
            <div class="modal-body" style="padding:5px 0 0 0;">
                <div class="form-horizontal" role="form">
                    <table id="tb_detailByCategory" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center; vertical-align:middle;" width="2%;">#</th>
                                <th style="text-align:center; vertical-align:middle;" width="10%;">Category</th>
                                <th style="text-align:center; vertical-align:middle;" width="10%;">หมายเลขสมาชิก</th>
                                <th style="text-align:center; vertical-align:middle;" width="20%;">ชื่อสมาชิก</th>
                                <th style="text-align:center; vertical-align:middle;" width="10%;">รหัสของรางวัล</th>
                                <th style="text-align:center; vertical-align:middle;" width="30%;">ชื่อของรางวัล</th>
                                <th style="text-align:center; vertical-align:middle;" width="5%;">จำนวน</th>
                                <th style="text-align:center; vertical-align:middle;" width="5%;">คะแนน</th>
                                <th style="text-align:center; vertical-align:middle;" width="8%;">มูลค่าของรางวัล(บาท)</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_detailByCategory"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary btn-sm btn_reportBudget">รายงาน</button>
            </div>
        </div>
    </div>
</div>
<div id="alert_approve_modal" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="z-index:9998;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 22px;" id="Header_Alert">แจ้งเตือน</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="content-text-modal">
                        <h3 class="content__title" id="budget_approve_Alert"></h3>
                        <h4 class="content__title" id="budget_approve_Alert2" style="font-size:20px;"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close_approve_alert">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary btn-sm btn_confirmApprove">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>

<div id="alert_modal" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="z-index:9999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 22px;" id="Header_Alert2">แจ้งเตือน</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="content-text-modal">
                        <h3 class="content__title" id="budget_Alert"></h3>
                        <h4 class="content__title" id="budget_Alert2" style="font-size:20px;"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close_alert">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
<div id="myReceiveReward" class="modal fade" role="dialog" tabindex="-1" style="overflow: auto;">
    <div class="modal-dialog" style="width:95%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รายการรับของรางวัล <span class="txt_receiveBudgetID"></span></b></h4>
            </div>
            <div class="modal-body" style="padding:5px 0 0 0;">
                <div class="form-horizontal" role="form">
                    <table id="tb_receiveReward" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center; vertical-align:middle;" width="3%;" rowspan="2">#</th>
                                <th style="text-align:center; vertical-align:middle;" width="7%;" rowspan="2">รหัสของรางวัล</th>
                                <th style="text-align:center; vertical-align:middle;" width="28%;" rowspan="2">ชื่อของรางวัล</th>
                                <th style="text-align:center; vertical-align:middle;" width="8%;" rowspan="2">จำนวนที่ตั้งเบิก</th>
                                <th style="text-align:center; vertical-align:middle; color:blue;" width="21%;" colspan="3">จำนวนที่ต้องรับของเข้า Stock</th>
                                <th style="text-align:center; vertical-align:middle;" width="28%;" colspan="4">จำนวนที่ไม่ต้องรับของเข้า Stock</th>
                                <th style="text-align:center; vertical-align:middle;border-left-width: thin;" width="6%;" rowspan="2"></th>
                            </tr>
                            <tr>
                                <th style="text-align:center; vertical-align:middle; color:blue;" width="7%;">รวม</th>
                                <th style="text-align:center; vertical-align:middle; color:blue;" width="7%;">รับแล้ว</th>
                                <th style="text-align:center; vertical-align:middle; color:blue;" width="7%;">รอรับของ</th>
                                <th style="text-align:center; vertical-align:middle;" width="7%;">รวม</th>
                                <th style="text-align:center; vertical-align:middle;" width="7%;">ร้านค้าส่ง</th>
                                <th style="text-align:center; vertical-align:middle;" width="7%;">รับที่ร้าน</th>
                                <th style="text-align:center; vertical-align:middle;" width="7%;">เงินสด</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_receiveReward"></tbody>
                    </table>
                </div>
                <div style="padding-left: 50px; color:red;">หมายเหตุ: ของรางวัลที่จัดส่งโดยร้านค้า, รับที่ร้านค้า หรือของรางวัลประเภทเงินสด ไม่ต้องทำการรับของเข้าสต็อก</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close_modalreceive">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
<div id="myReceiveRewardByID" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:50%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รับของรางวัล</b></h4>
            </div>
            <div class="modal-body" style="padding:5px 0 0 0;">
                <div id="grp_recive" class="col-md-12">
                    <input type="hidden" id="hd_receiveRWID" />
                    <input type="hidden" id="hd_receive_qty" />
                    <input type="hidden" id="hd_receive_BgID" />
                    <input type="hidden" id="hd_receive_RwID" />
                    <div class="col-md-12" style="padding-top:10px;">
                        <div class="row">
                            <label class="col-md-3 col-xs-6 control-label" style="text-align:right; padding:5px 15px;">ของรางวัล </label>
                            <div class="col-md-8 col-xs-6" style="padding: 0 0 6px 0;">
                                <input type="text" class="form-control" id="txt_receive_RewardID" readonly value="">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-xs-6 control-label" style="text-align:right; padding:5px 15px;">จำนวนที่ต้องรับ </label>
                            <div class="col-md-2 col-xs-6" style="padding: 0 0 6px 0;">
                                <input type="text" class="form-control" id="txt_qty_budget" value="" style="text-align:center;" readonly onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                            </div>
                            <label class="col-md-4 col-xs-6 control-label" style="text-align:right; padding:5px 15px;">รับของแล้ว </label>
                            <div class="col-md-2 col-xs-6" style="padding: 0 0 6px 0;">
                                <input type="text" class="form-control" id="txt_receive_success" value="" style="text-align:center;" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-xs-6 control-label" style="text-align:right; padding:5px 15px;">วันที่รับ </label>
                            <div class="col-md-3 col-xs-6" style="padding: 0 0 6px 0;">
                                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-end-date="@DateTime.Now.ToString("dd/MM/YYYY")">
                                    <input type="text" class="form-control pull-right" id="txt_dateReceive" required>
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label class="col-md-3 col-xs-6 control-label" style="text-align:right; padding:5px 15px;">จำนวนที่รับ <span style="color:red;">*</span></label>
                            <div class="col-md-2 col-xs-6" style="padding: 0 0 6px 0;">
                                <input type="text" class="form-control" id="txt_receive_qty" value="" style="text-align:center;" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-3 col-xs-6 control-label" style="text-align:right; padding:5px 15px;">เลขที่อ้างอิง(ใบสั่งซื้อ) <span style="color:red;">*</span></label>
                            <div class="col-md-3 col-xs-6" style="padding: 0 0 6px 0;">
                                <input type="text" class="form-control" id="txt_receive_no" value="">
                                <span style="color:red; font-size:15px;" id="vtxt_receive_no"></span>
                            </div>
                            <label class="col-md-3 col-xs-6 control-label" style="text-align:right; padding:5px 15px 5px 0;">สำเนาเลขที่อ้างอิง(ใบสั่งซื้อ) <span style="color:red;">*</span></label>
                            <div class="col-md-2 col-xs-5" style="text-align: left; padding: 0;">
                                <input type="file" id="txt_copyPO" value="เลือกไฟล์" accept=".png, .jpg, .jpeg" size="1024" style="margin-bottom: 0;width: 100%;" />
                                <span style="color:red; font-size:15px;" id="vtxt_copyPO"></span>
                            </div>
                            <div class="col-md-1 col-sm-1" style="text-align: left;">
                                <a style="cursor: pointer;" id="openPOimg"><span class="fa fa-file-photo-o"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="text-align:center; padding:15px;">
                        <button type="button" class="btn btn-primary btn-sm btn_saveReceive">บันทึกการรับของ</button>
                    </div>
                </div>
                <div class="form-horizontal" role="form">
                    <table id="tb_receiveRewardByID_detail" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center; vertical-align:middle;" width="10%;">#</th>
                                <th style="text-align:center; vertical-align:middle;" width="15%;">วันที่รับ</th>
                                <th style="text-align:center; vertical-align:middle;" width="10%;">จำนวนที่รับ</th>
                                <th style="text-align:center; vertical-align:middle;" width="30%;">เลขที่อ้างอิง(ใบสั่งซื้อ)</th>
                                <th style="text-align:center; vertical-align:middle;" width="25%;">ชื่อผู้ที่ทำการรับของ</th>
                                <th style="text-align:center; vertical-align:middle;" width="10%;"></th>
                            </tr>
                        </thead>
                        <tbody id="tbody_receiveRewardByID_detail"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close_ReceiveRewardByID">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
<div id="alert_confirm_modal" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="z-index:9998;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 22px;" id="Header_Alert">แจ้งเตือน</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="content-text-modal">
                        <h3 class="content__title" id="budget_confirm_Alert"></h3>
                        <h4 class="content__title" id="budget_confirm_Alert2" style="font-size:20px;"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close_confirm_alert">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary btn-sm btn_confirmReceive">ยืนยัน</button>
            </div>
        </div>
    </div>
</div>
<div id="modal_openImg" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="z-index: 9999;">
    <div class="modal-dialog modal-dialog-privilege" role="document">
        <div class="modal-content ps-modal-content" style="border-radius: 0;">
            <div class="modal-body">
                <div class="text-center">
                    <div class="welcome-img">
                        <img id="img_file" style="width:100%;" src="" />
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12 col-sm-12 col-xs-12"><button class="btn button button--rounded green large" style="border: 0px solid;" data-dismiss="modal"> ปิดหน้าต่าง </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalUpdateCopy" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" style="width:75%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>แก้ไขสำเนาหลักฐานการแลกของรางวัล</b></h4>
            </div>
            <div class="modal-body" style="padding:5px 0 0 0;">
                <input type="hidden" id="hd_redeemNo" />
                <input type="hidden" id="hd_cash" value="0" />
                <div id="grp_recive" class="col-md-12">
                    <div class="col-md-12" style="padding-top:10px;">
                        <div class="form-row" style="padding-bottom:45px;">
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ชื่อ</span>
                            <div class="col-md-4 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" id="txt_fname" readonly style="background-color: #f1f1f2;margin-bottom: 0;">
                            </div>
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">นามสกุล</span>
                            <div class="col-md-4 col-sm-">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" id="txt_lname" readonly style="background-color: #f1f1f2;margin-bottom: 0;">
                            </div>
                        </div>
                        <div class="form-row" style="padding-bottom:45px;">
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">หมายเลขบัตรประชาชน</span>
                            <div class="col-md-4 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2; margin-bottom: 0;" id="txt_idcard_redeem" maxlength="13" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                            </div>
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">สำเนาบัตรประชาชน <span style="color:red;">*</span></span>
                            <div class="col-md-3 col-sm-6" style="text-align: left;">
                                <input type="file" id="txt_copyfile" value="เลือกไฟล์" accept=".png, .jpg, .jpeg" style="margin-bottom: 0;width: 100%;" />
                                <span style="color:red; font-size:15px;" id="vtxt_copyfile"></span>
                            </div>
                            <div class="col-md-1 col-sm-2" style="text-align: left;"><input type="button" id="openimg" style="width:100%;" value="ดูภาพ" /></div>
                        </div>
                        <div class="form-row" style="padding-bottom:45px;">
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">เบอร์โทรศัพท์</span>
                            <div class="col-md-4 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" readonly style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_tel_redeem" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                            </div>
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">E-mail</span>
                            <div class="col-md-4 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" readonly style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_email">
                                <span style="color:red; font-size:15px;" id="vtxt_email"></span>
                            </div>
                        </div>
                        <div class="form-row" style="padding-bottom:45px;">
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ที่อยู่</span>
                            <div class="col-md-10 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" readonly style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_addr" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                            </div>
                        </div>
                        <div id="grp_bookbank">
                            <div class="form-row" style="padding-bottom:45px;">
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ธนาคาร <span style="color:red;">*</span></span>
                                <div class="col-md-4 col-sm-8">
                                    <select class="form-control font-size-20 bold select" id="ddl_bank" style="background-color: #f1f1f2;margin-bottom: 0 !important;"></select>
                                    <span style="color:red; font-size:15px;" id="vtxt_bank"></span>
                                </div>
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">เลขที่บัญชี <span style="color:red;">*</span></span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_bookbank" maxlength="15" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                    <span style="color:red; font-size:15px;" id="vtxt_bookbank"></span>
                                </div>
                            </div>
                            <div class="form-row" style="padding-bottom:45px;">
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">สาขา <span style="color:red;">*</span></span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_bankBranch" maxlength="50">
                                    <span style="color:red; font-size:15px;" id="vtxt_bankBranch"></span>
                                </div>
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">สำเนาบัญชี <span style="color:red;">*</span></span>
                                <div class="col-md-3 col-sm-6" style="text-align: left;">
                                    <input type="file" id="txt_copybookbank" value="เลือกไฟล์" accept=".png, .jpg, .jpeg" size="1024" style="margin-bottom: 0;width: 100%;" />
                                    <span style="color:red; font-size:15px;" id="vtxt_copybookbank"></span>
                                </div>
                                <div class="col-md-1 col-sm-2" style="text-align: left;"><input type="button" id="openbookimg" style="width:100%;" value="ดูภาพ" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" role="form">
                    <table id="tb_RedeemReward" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center; vertical-align:middle;" width="5%;">#</th>
                                <th style="text-align:center; vertical-align:middle;" width="20%;">รหัสของรางวัล</th>
                                <th style="text-align:center; vertical-align:middle;" width="35%;">ชื่อของรางวัล</th>
                                <th style="text-align:center; vertical-align:middle;" width="10%;">จำนวน</th>
                                <th style="text-align:center; vertical-align:middle;" width="15%;">คะแนน</th>
                                <th style="text-align:center; vertical-align:middle;" width="15%;">ราคาสุทธิ(บาท)</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_RedeemReward"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close_updateCopy">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary btn-sm" id="btn_saveUpdateCopy">บันทึกการแก้ไขสำเนาบัตร</button>
            </div>
        </div>
    </div>
</div>
