﻿@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table style="background-color: #f1f1f1;width: 584px;font-size: 12px;" border="0" cellspacing="0">
        <tr>
            <td colspan="2" style="padding-top: 5px;">
                <label style="color: red;margin-left: 10px;">Option 1 : Notebook</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <img src="~/Content/img/email/logo.jpg" style="margin-bottom: 10px;" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <img src="~/Content/img/email/banner.jpg" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p style="padding: 45px;line-height: 1.8;">
                    คุณ...............
                    <br />
                    <br />
                    ยินดีต้อนรับและขอบคุณสำหรับการเข้าร่วมเป็น SB Designer Club คลับที่สมาชิกดีไซน์สิทธิประโยชน์ได้ เราขอมอบของขวัญชิ้นพิเศษสุดเอ๊กซ์คลูซีฟสำหรับสมาชิก ด้วยสมุดบันทึกแบรนด์ดัง
                    เคียงคู่ดีไซเนอร์ มายาวนาน 'Moleskine' ที่สลักชื่อท่านสมาชิกพร้อมสิทธิประโยชน์ที่เหนือกว่า สัมผัสประสบการณ์ใหม่ บริการสุดประทับใจ แลกของรางวัลถูกใจ ที่เราตั้งใจคัดสรรเพื่อมอบให้สมาชิก SB Designer Club เท่านั้น
                    <br />
                    <br />
                    เพื่อตรวจสอบสิทธิประโยชน์ต่างๆ ท่านสามารถล๊อกอินเข้าสู่ระบบที่เว็บไซต์ www.sbdesignerclub.com พร้อมรับ SB Designer Point 1,000 คะแนน*
                    ด้วยอีเมล์ที่ลงทะเบียนไว้ และพาสเวิร์ดด้านล่างนี้
                    <br />
                    <br />
                    Email : <u>XXXXXXX@XXXXXX.XXX</u><br />
                    Password : <u>XXXXXXXX</u>
                    <br />
                    <br />
                    โดยสมาชิกสามารถเปลี่ยนพาสเวิร์ดเองได้ภายหลัง<br />
                    เมื่อล๊อกอินเข้าสู่ระบบเป็นที่เรียบร้อยแล้ว
                    <br />
                    <br />
                    เราหวังเป็นอย่างยิ่งว่าสิทธิประโยชน์ที่เรามอบให้ จะเป็นส่วนหนึ่งในการสร้างแรงบันดาลใจ เพื่อสร้างสรรค์ผลงานและร่วมกันพัฒนาวงการออกแบบ ตกแต่งให้ดียิ่งขึ้นในวันนี้และอนาคต
                    <br />
                    <br />
                    <i style="color: #777777;">*สำหรับการล๊อกอินครั้งแรกเท่านั้น</i>
                </p>
            </td>
        </tr>
        <tr>
            <td style="width: 292px;"></td>
            <td style="text-align: center;padding-top: 20px;padding-bottom: 50px;">
                ขอแสดงความนับถือ <br />
                SB Designer Club
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left: 45px;">
                <table style="font-size: 12px;width: 100%;margin-bottom: 10px;">
                    <tr>
                        <td style="width: 60px;">
                            <img src="~/Content/img/email/LinkSBDesigner.png" style="width: 60px;" />
                        </td>
                        <td style="padding-top: 5px;">
                            สอบถามเพิ่มเติม <br />
                            <ul style="padding-left: 20px;margin-top: 5px;">
                                <li>LINE &#64;sbdesignerclub</li>
                                <li>อีเมล์ sbdesignerclub&#64;sbdesignsquare.com</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <img src="~/Content/img/email/footer.jpg" />
            </td>
        </tr>
    </table>
    <table style="width: 584px;">
        <tr>
            <td style="text-align: center;">
                <label style="font-size: 12px;">Copyright &copy; 2017 SB Design Square, All rights reserved.</label>
            </td>
        </tr>
    </table>
</body>
</html>

