﻿
@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "ตั้งค่าการแจ้งเตือน / ตามกลุ่มผู้ใช้งาน / รายบุคคล";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header" style="margin-bottom:0px;">
                <h4 class="box-title">ตั้งค่าการแจ้งเตือน</h4>
            </div>
            <div class="box-body">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" href="#tab1" aria-expanded="true" data-toggle="tab"><i class="fa fa-users"></i>&nbsp; ตั้งค่าตามกลุ่มผู้ใช้งาน</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2" data-toggle="tab"><i class="fa fa-user"></i>&nbsp; ตั้งค่ารายบุคคล</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" role="tabpanel" class="tab-pane active">
                        <div class="panel-body">
                            <div class="pull-right" @*style="padding-right:15px;"*@>
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addNotifyModal"><i class="fa fa fa-plus-square"></i>&nbsp; เพิ่มข้อมูลใหม่</button>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:0px;">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-2 pull-left">กลุ่มการแจ้งเตือน</label>
                                    <div class="col-md-5">
                                        <select class="form-control" id="">
                                            <option value="">Platinum</option>
                                            <option value="">Green+</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel-body" @*style="padding:0px 0px 0px 0px;"*@>
                            <table id="notification-tabel" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;" width="10px;">ลำดับ</th>
                                        <th style="text-align:center;" width="30%;">เรื่องแจ้งเตือน</th>
                                        <th style="text-align:center;" width="15%;">กลุ่มผู้ใช้งาน</th>
                                        <th style="text-align:center;" width="30%;">ข้อความ</th>
                                        <th style="text-align:center;" width="10%;">วันที่ใช้</th>
                                        <th style="text-align:center;" width="10%;">วันที่สิ้นสุด</th>
                                        <th width="10%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align:left;">
                                        <td style="text-align:center;">1</td>
                                        <td>การเปลี่ยนแปลงคะแนน</td> 
                                        <td>Platinum</td>
                                        <td>คะแนนที่ท่านได้รับจากการแนะนำเพื่อนคือ 100 คะแนน</td>
                                        <td style="text-align:center;">1/7/2018</td>
                                        <td style="text-align:center;"></td>
                                        <td>
                                            <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#addNotifyModal"><i class="fa fa fa-pencil"></i>&nbsp; ดู/แก้ไข</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">2</td>
                                        <td>การจัดส่งของรางวัล</td> 
                                        <td>ทั้งหมด</td>
                                        <td>ของรางวัลได้ดำเนินการจัดส่งให้ท่านวันที่ 1/7/2018</td>
                                        <td style="text-align:center;">1/7/2018</td>
                                        <td style="text-align:center;"></td>
                                        <td>
                                            <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#addNotifyModal"><i class="fa fa fa-pencil"></i>&nbsp; ดู/แก้ไข</button>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    <div id="tab2" role="tabpanel" class="tab-pane">
                        <div class="panel-body">
                            <div class="pull-right" @*style="padding-right:15px;"*@>
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addNotifyModal"><i class="fa fa fa-plus-square"></i>&nbsp; เพิ่มข้อมูลใหม่</button>
                            </div>
                        </div>
                        @*<div class="panel-body">
                            <div class="form-horizontal" style="padding:0px 10px 0px 10px;">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="input-group input-group">
                                            <input type="text" class="form-control" id="" name="">
                                            <span class="input-group-btn">
                                                <button type="button" id="" class="btn btn-info btn-flat">ค้นหา</button>
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>*@
                        
                        <div class="panel-body" style="padding:0px 0px 0px 0px;">
                            <table id="notification2-tabel" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;" width="5px;">ลำดับ</th>
                                        <th style="text-align:center;" width="20%;">เรื่องแจ้งเตือน</th> 
                                        <th style="text-align:center;" width="15%;">กลุ่มผู้ใช้งาน</th> 
                                        <th style="text-align:center;" width="20%;">ชื่อ - นามสกุล</th>
                                        <th style="text-align:center;" width="20%;">ข้อความ</th>
                                        <th style="text-align:center;" width="10%;">วันที่ใช้</th>
                                        <th style="text-align:center;" width="10%;">วันที่สิ้นสุด</th>
                                        <th width="10%;">#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="text-align:left;">
                                        <td style="text-align:center;">1</td>
                                        <td>การเปลี่ยนแปลงคะแนน</td> 
                                        <td>Platinum</td> 
                                        <td>admin admin</td>
                                        <td>คะแนนที่ท่านได้รับจากการแนะนำเพื่อนคือ 100 คะแนน</td>
                                        <td style="text-align:center;">1/7/2018</td>
                                        <td style="text-align:center;"></td>
                                        <td>
                                            <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#addNotifyForUserModal"><i class="fa fa fa-pencil"></i>&nbsp; ดู/แก้ไข</button>
                                        </td>
                                    </tr>
                                    <tr style="text-align:left;">
                                        <td style="text-align:center;">2</td>
                                        <td>การจัดส่งขอรางวัล</td> 
                                        <td>Green+</td> 
                                        <td>user test</td>
                                        <td>ของรางวัลได้ดำเนินการจัดส่งให้ท่านวันที่ 1/7/2018<</td>
                                        <td style="text-align:center;">1/7/2018</td>
                                        <td style="text-align:center;"></td>
                                        <td>
                                            <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#addNotifyForUserModal"><i class="fa fa fa-pencil"></i>&nbsp; ดู/แก้ไข</button>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="addNotifyModal" tabindex="-1" role="dialog" aria-labelledby="addNotifyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>บันทึกการตั้งค่ากลุ่มผู้ใช้งาน</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="add-notify-form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">กลุ่มการแจ้งเตือน</label>
                        <div class="col-md-8">
                            <select class="form-control" id="" name="">
                                <option value="admin">การเปลี่ยนแปลงระดับสมาชิก</option> 
                                <option value="admin">แลกของรางวัล</option> 
                                <option value="admin">อื่น ๆ</option> 
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">กลุ่มผู้ใช้งาน</label>
                        <div class="col-md-8">
                            <select class="form-control" id="" name="">
                                <option value="admin">ทั้งหมด</option>
                                <option value="admin">Platinum</option>
                                <option value="user">Green+</option> 
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">ข้อความ [TH]</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control pull-right" id="datepicker">
                        </div> 
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">ข้อความ [EN]</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control pull-right" id="datepicker">
                        </div> 
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">วันที่เริ่มใช้</label>
                        <div class="col-md-3">
                            <div class="input-group date">
                                <input type="text" class="form-control pull-right" id="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <label class="col-md-2 control-label">วันที่สิ้นสุด</label>
                        <div class="col-md-3">
                            <div class="input-group date">
                                <input type="text" class="form-control pull-right" id="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">ช่องทาง</label>
                        <div class="col-md-9">
                            <div class=""> 
                                <input type="checkbox" class="form-control" /> SMS  &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="checkbox" class="form-control" /> E-Mail  &nbsp; &nbsp; &nbsp; &nbsp;
                                <input type="checkbox" class="form-control" /> แจ้งเตือน
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger btn-sm" id="saveEditUser"><i class="fa fa-floppy-o"></i>&nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNotifyForUserModal" tabindex="-1" role="dialog" aria-labelledby="addNotifyModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>บันทึกการตั้งค่าแบบรายบุคคล</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="add-notify-form">
                    <div class="form-group">
                        <label class="col-md-3 control-label">ชื่อผู้ใช้งาน</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="" id="" placeholder="" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">ประเภทกลุ่มการแจ้งเตือน</label>
                        <div class="col-md-8">
                            <select class="form-control" id="" name="">
                                <option value="admin">admin</option>
                                <option value="user">user</option>
                                <option value="supervisor">supervisor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">* วันที่เริ่มใช้</label>
                        <div class="col-md-3">
                            <div class="input-group date">
                                <input type="text" class="form-control pull-right" id="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <label class="col-md-2 control-label">วันที่สิ้นสุด</label>
                        <div class="col-md-3">
                            <div class="input-group date">
                                <input type="text" class="form-control pull-right" id="datepicker">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger btn-sm" id="saveEditUser"><i class="fa fa-floppy-o"></i>&nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/plugins/datepicker/bootstrap-datepicker.js"></script>

<script>
    $(function () {
        $('#notification2-tabel').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
    });
    $('#notification-tabel').on('click', 'tr', function () {
        //var data = $(this).cells["0"].innerText();
        //console.log(data);
    })
    $('.date').datepicker({
        autoclose: true
    })
</script>
