﻿
@{
    ViewBag.Title = "ของรางวัล";
    ViewBag.Description = "ข้อมูลของรางวัล";
    Layout = "~/Views/Shared/_LayoutCall.cshtml";
}
<style>
    table {
        width: 100%;
    }
    td {
        max-width: 0;
        word-wrap: break-word;
        /*overflow: hidden;*/
        /*text-overflow: ellipsis;*/
        /*white-space: nowrap;*/
    }
</style>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title"><h4>ค้าหารางวัล</h4></div>
            </div>
            <div class="box-body">
                <form class="form-horizontal" id="search-reward-from" style="padding-left: 15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="radio">
                                <!-- Inline radio buttons -->
                                <input id="active-all" class="magic-radio" type="radio" name="active" value="A" checked>
                                <label style="padding-left: 5px;" for="active-all">All</label>
                                &emsp;
                                <input id="active-all2" class="magic-radio" type="radio" name="active" value="Y">
                                <label style="padding-left: 5px;" for="active-all2">Active</label>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">แคตตาล็อก</label>
                        <div class="col-md-3">
                            <select class="form-control ddl_select" id="search_catalog" name="catalogue_code">
                                <option value="">PS-2018-1</option>
                                <option value="">PS-2018-2</option>
                                <option value="">PS-2018-3</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label">ประเภท</label>
                        <div class="col-md-3">
                            <select class="form-control ddl_select" id="search_type" name="search_type">
                                <option value="">Travel</option>
                                <option value="">Luxury</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label"></label>


                        @*<div class="col-md-5" style="padding-top:10px; ">
                                <span style="color:red;" id="dateCatalog"></span>
                            </div>*@
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 control-label">รหัส</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" name="reward_code" id="" placeholder="รหัสของรางวัล" />
                        </div>
                        @*<label class="col-md-1 control-label">ชื่อของรางวัล</label>*@
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="reward_name" id="" placeholder="ชื่อของรางวัล" />
                        </div>
                        <label class="col-md-1 control-label">คะแนน</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" name="point_from" id="" placeholder="คะแนน" />
                        </div>
                        <label class="col-md-1 control-label">ถึง</label>
                        <div class="col-md-1">
                            <input type="text" class="form-control" name="point_from" id="" placeholder="คะแนน" />
                        </div>
                        <div class="col-md-1 text-right pull-center">
                            <button class="btn btn-info" id="search_btn"><i class="fa fa-search"></i> ค้นหา </button>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="box-header">
                <div class="box-title">รายการของรางวัล</div>
            </div>
            <div class="box-body" style="padding:0px;">
                <div class="col-md-12">
                    <div class="big-icons-buttons clearfix margin-bottom" style="padding-top:5px;">
                        <div class="btn-group btn-group-sm pull-right">
                            <button type="button" class="btn btn-danger btn_all" id="filter_all_reward"><i class="fa fa-bars" style="font-size:20px;"></i><br /> รางวัลทั้งหมด</button>
                            <button type="button" class="btn btn-success btn_redeem" id="filter_active_reward"><i class="fa fa-check-circle-o" style="font-size:20px;"></i><br />รางวัลที่แลกได้</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <h3 style="margin-top:0px;">รายการที่พบ : <span id="" style="color:red;">4</span> รายการ</h3>
                <div id="frm_ShowReward">
                    <div class="myBox">
                        <div class="row">
                            <div class="row pricing pricing-no-gutter-sm" style="padding:0;">
                                <div class="listProd" id="addRewardRedemption">
                                    <div class="col-md-12">
                                        <div class="col-md-3" style="padding-bottom: 20px;">
                                            <div class="card card-type-pricing text-center" style="border: 1px solid #e6e6e6;">
                                                <div class="card-body style-gray" style="height:275px; background-color: #fff; padding:2px !important;">
                                                    <center>
                                                        <img class="img-responsive displayed" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzkl98D3Nojy83lZkW7GNn_RFlL6X_utqPpO_ROYRsUBmbMscF" height="300" style="max-height: 300px;">
                                                    </center>
                                                </div><!--end .card-body -->
                                                <div class="card-body no-padding">
                                                    <ul class="list-unstyled" style="text-align:left; line-height: 25px;">
                                                        <li class="reward_overflow detail_reward" style="cursor: pointer;">
                                                            <b> rolex oyster perpetua </b>
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            ประเภท: Luxury
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            รหัสของรางวัล: L001
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            คะแนน : <span style="color:red;"> 7,000 </span>
                                                        </li>
                                                        <li style="text-align:right; padding-right:15px; padding-bottom:15px;">
                                                            <a href="#RewardDetailModal" data-toggle="modal" data-target="#RewardDetailModal">&laquo;รายละเอียด&raquo;</a>
                                                        </li>
                                                    </ul>
                                                </div><!--end .card-body -->
                                            </div><!--end .card -->
                                        </div><!--end .col -->
                                        <div class="col-md-3" style="padding-bottom: 20px;">
                                            <div class="card card-type-pricing text-center" style="border: 1px solid #e6e6e6;">
                                                <div class="card-body style-gray" style="height:275px; background-color: #fff; padding:2px !important;">
                                                    <center>
                                                        <img class="img-responsive displayed" src="https://www.bhphotovideo.com/images/images2000x2000/leica_20000_m10_digital_rangefinder_camera_1312198.jpg" height="300" style="max-height: 300px;">
                                                    </center>
                                                </div><!--end .card-body -->
                                                <div class="card-body no-padding">
                                                    <ul class="list-unstyled" style="text-align:left; line-height: 25px;">
                                                        <li class="reward_overflow detail_reward" style="cursor: pointer;">
                                                            <b> Leica M10 </b>
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            ประเภท: Luxury
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            รหัสของรางวัล: L002
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            คะแนน : <span style="color:red;"> 4,500 </span>
                                                        </li>
                                                        <li style="text-align:right; padding-right:15px; padding-bottom:15px;">
                                                            <a href="#RewardDetailModal" data-toggle="modal" data-target="#RewardDetailModal">&laquo;รายละเอียด&raquo;</a>
                                                        </li>
                                                    </ul>
                                                </div><!--end .card-body -->
                                            </div><!--end .card -->
                                        </div><!--end .col -->
                                        <div class="col-md-3" style="padding-bottom: 20px;">
                                            <div class="card card-type-pricing text-center" style="border: 1px solid #e6e6e6;">
                                                <div class="card-body style-gray" style="height:275px; background-color: #fff; padding:2px !important;">
                                                    <center>
                                                        <img class="img-responsive displayed" src="https://r-ak.bstatic.com/images/hotel/max1024x768/106/106705747.jpg" height="100" style="max-height:260px;">
                                                    </center>
                                                </div><!--end .card-body -->
                                                <div class="card-body no-padding">
                                                    <ul class="list-unstyled" style="text-align:left; line-height: 25px;">
                                                        <li class="reward_overflow detail_reward" style="cursor: pointer;">
                                                            <b>Grand Hyatt Melbourne</b>
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            ประเภท: Travel
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            รหัสของรางวัล: T001
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            คะแนน : <span style="color:red;"> 15,000 </span>
                                                        </li>
                                                        <li style="text-align:right; padding-right:15px; padding-bottom:15px;">
                                                            <a href="#RewardDetailModal" data-toggle="modal" data-target="#RewardDetailModal">&laquo;รายละเอียด&raquo;</a>
                                                        </li>
                                                    </ul>
                                                </div><!--end .card-body -->
                                            </div><!--end .card -->
                                        </div><!--end .col -->
                                        <div class="col-md-3" style="padding-bottom: 20px;">
                                            <div class="card card-type-pricing text-center" style="border: 1px solid #e6e6e6;">
                                                <div class="card-body style-gray" style="height:275px; background-color: #fff; padding:2px !important;">
                                                    <center>
                                                        <img class="img-responsive displayed" src="https://japan-magazine.jnto.go.jp/jnto2wm/wp-content/uploads/1608_special_TOTO_main.jpg" height="300" style="max-height: 300px;">
                                                    </center>
                                                </div><!--end .card-body -->
                                                <div class="card-body no-padding">
                                                    <ul class="list-unstyled" style="text-align:left; line-height: 25px;">
                                                        <li class="reward_overflow detail_reward" style="cursor: pointer;">
                                                            <b> Japan tour 5 days 3 nights </b>
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            ประเภท: Travel
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            รหัสของรางวัล: T002
                                                        </li>
                                                        <li style="padding-left:15px;">
                                                            <input type="hidden" value="" />
                                                            คะแนน : <span style="color:red;"> 2,500 </span>
                                                        </li>
                                                        <li style="text-align:right; padding-right:15px; padding-bottom:15px;">
                                                            <a href="#RewardDetailModal" data-toggle="modal" data-target="#RewardDetailModal">&laquo;รายละเอียด&raquo;</a>
                                                        </li>
                                                    </ul>
                                                </div><!--end .card-body -->
                                            </div><!--end .card -->
                                        </div><!--end .col -->

                                    </div><!--end .col -->
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row pricing">
                            <div class="row listProd" id="addRewardRedemption"></div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RewardDetailModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h3 class="modal-title">รายละเอียดของรางวัล</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td width="20%;">ของรางวัล</td>
                            <td width="60%;">Japan tour 5 days 3 nights</td>
                        </tr>
                        <tr>
                            <td width="20%;">รหัสรางวัล</td>
                            <td width="60%;">T002</td>
                        </tr>
                        <tr>
                            <td width="20%;">ประเภทรางวัล</td>
                            <td width="60%;">Travel</td>
                        </tr>
                        <tr>
                            <td width="20%;">คะแนน</td>
                            <td width="60%;">2,500</td>
                        </tr>
                        <tr>
                            <td width="20%;">รายละเอียด</td>
                            <td width="60%;">
                                <span style="">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>