﻿
@{
    ViewBag.Title = "สมาชิก";
    ViewBag.Description = "ข้อมูลสมาชิก / Member Card";
}
<style>
    input .form-control {
        font-size: 16px;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title"><h4>การทำบัตรสมาชิก Pruksa Member</h4></div>
            </div>
            <div class="box-body">
                <div class="form-horizontal" id="" role="form">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2">จำนวนสมาชิกทั้งหมด</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="" name="" value="10,000" />
                            </div>
                            <label class="control-label col-md-1 col-sm-1">Platinum : </label>
                            <label class="control-label col-md-1 col-sm-1">2,000</label>
                            <label class="control-label col-md-1 col-sm-1">Green+ : </label>
                            <label class="control-label col-md-1 col-sm-1">3,000  </label>
                            <label class="control-label col-md-1 col-sm-1">Green : </label>
                            <label class="control-label col-md-1 col-sm-1">5,000</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2">จำนวนที่พิมพ์การ์ดแล้ว</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="" name="" value="5,000" />
                            </div>
                            <label class="control-label col-md-1 col-sm-1">Platinum : </label>
                            <label class="control-label col-md-1 col-sm-1">1,000</label>
                            <label class="control-label col-md-1 col-sm-1">Green+ : </label>
                            <label class="control-label col-md-1 col-sm-1">2,000  </label>
                            <label class="control-label col-md-1 col-sm-1">Green : </label>
                            <label class="control-label col-md-1 col-sm-1">2,000</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2" style="color:red;">รอดำเนินการพิมพ์</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="" name="" value="5,000" />
                            </div>
                            <label class="control-label col-md-1 col-sm-1" style="color:red;">Platinum : </label>
                            <label class="control-label col-md-1 col-sm-1" style="color:red;">1,000</label>
                            <label class="control-label col-md-1 col-sm-1" style="color:red;">Green+ : </label>
                            <label class="control-label col-md-1 col-sm-1" style="color:red;">1,000 </label>
                            <label class="control-label col-md-1 col-sm-1" style="color:red;">Green : </label>
                            <label class="control-label col-md-1 col-sm-1" style="color:red;">3,000</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3">สมาชิกใหม่ ตั้งแต่วันที่ 1/7/2018 ถึง 5/7/2018</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12 pull-left">
                    <table id="member-card-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center" width="10%">วันที่พิมพ์การ์ด</th>
                                <th style="text-align:center" width="15%">จำนวนสมาชิกทั้งหมด</th>
                                <th style="text-align:center" width="10%">Platinum</th>
                                <th style="text-align:center" width="10%">Green Plus</th>
                                <th style="text-align:center" width="10%">Green</th>
                                <th style="text-align:center" width="10%">วันที่ส่งออก</th>
                                <th style="text-align:center" width="20%"></th>
                            </tr>
                        </thead>
                        <tbody style="text-align:center">
                            <tr>
                                <td>1/6/2018</td>
                                <td>1,000</td>
                                <td>200</td>
                                <td>300</td>
                                <td>500</td>
                                <td>30/6/2018</td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm" id=""><i class="fa fa fa-list"></i>&nbsp; รายละเอียด</button>
                                    <button class="btn btn-success btn-sm" id=""><i class="fa fa fa-print"></i>&nbsp; Export Excel</button>
                                </td>
                            </tr>
                            <tr>
                                <td>1/6/2018</td>
                                <td>1,000</td>
                                <td>200</td>
                                <td>300</td>
                                <td>500</td>
                                <td>30/6/2018</td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm" id=""><i class="fa fa fa-list"></i>&nbsp; รายละเอียด</button>
                                    <button class="btn btn-success btn-sm" id=""><i class="fa fa fa-print"></i>&nbsp; Export Excel</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @*<div class="col-md-3 pull-right">
                        <div class="col-12" style="height:10px;"></div>
                        <div class="col-12" style="height:40px;">
                            <button type="button" class="btn btn-success btn-md" id="" style="display:block; width:100%;">Export Excel</button>
                        </div>
                    </div>*@

            </div>

            <div class="box-body">
                <div class="col-md-10">
                    <h3>รายชื่อสมาชิกใหม่ที่ยังไม่พิมพ์การ์ด : <span class="text-danger" id="totRecord"> 2 </span> ราย </h3>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-sm">ยืนยันการทำบัตรสมาชิก</button>
                </div>
                @*<input type="hidden" id="deliveryNoTemp" />
                    <input type="hidden" id="deliveryByTemp" />
                    <input type="hidden" id="projectTemp" value="SA" />*@
                <div class="col-md-12">
                    <hr style="border-width: 5px; margin: 0 0 10px;" />
                </div>
                <div class="col-md-12">
                    <table id="detail-delivery-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" rowspan="2" width="3%" style="vertical-align:middle;"><input type="checkbox" class="chkRedeemAll" /></th>
                                <th class="text-center" rowspan="2" width="10%">วันที่สมัครสมาชิก </th>
                                <th class="text-center" colspan="2" width="20%">ชื่อ - นามสกุล</th>
                                <th class="text-center" rowspan="2" width="10%">ระดับสมาชิก</th>
                                <th class="text-center" rowspan="2" width="10%">พนักงาน Pruksa</th>
                                <th class="text-center" rowspan="2" width="20%">ที่อยู่</th>
                                <th class="text-center" rowspan="2" width="10%">เบอร์โทร</th>
                            </tr>
                            <tr>
                                <th class="text-center">TH</th>
                                <th class="text-center">EN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center"><input type="checkbox" class="chkRedeem"></td>
                                <td class="text-center">1/6/2018</td>
                                <td>คุณทดสอบ ก</td>
                                <td>Test A Test A</td>
                                <td class="text-center">Platinum</td>
                                <td class="text-center">ใช่</td>
                                <td>123 คลองเตย คลองเตย กรุงเทพมหานคร</td>
                                <td class="text-center">08123456789</td>
                            </tr>
                            <tr>
                                <td class="text-center"><input type="checkbox" class="chkRedeem"></td>
                                <td class="text-center">1/6/2018</td>
                                <td>คุณทดสอบ ข</td>
                                <td>Test B Test B</td>
                                <td class="text-center">Green</td>
                                <td class="text-center">ใช่</td>
                                <td>123 คลองสาน คลองสาน กรุงเทพมหานคร</td>
                                <td class="text-center">08123456788</td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

