﻿
@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "ข้อมูลผู้ใช้งานระบบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .padding-style {
        padding-right: 30px;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title"><h4>รายละเอียดชื่อผุู้ใช้งาน</h4></div>
            </div>
            <div class="box-body">
                <div class="row pull-right padding-style">
                    <button type="button" class="btn btn-success btn-sm btn" data-toggle="modal" data-target="#AddUserModal"><i class="fa fa-plus-square"></i>&nbsp; เพิ่มผู้ใช้งานระบบ</button>
                    <a href="@Url.Action("ProgramPermissionGrp","User")" class="btn btn-success btn-sm btn" ><i class="fa fa-lock"></i>&nbsp; กำหนดสิทธิ์ตามกลุ่มผู้ใช้งาน</a>
                </div>
            </div>
            <div class="box-body">
                <table id="userManagement" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ชื่อผู้ใช้งาน</th>
                            <th>สิทธิ์การใช้งาน</th>
                            <th>สถานะการใช้งาน</th>
                            <th>วันที่อัพเดต</th>
                            <th>อัพเดตโดย</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>admin</td>
                            <td>admin</td>
                            <td>ใช้งาน</td>
                            <td>1/6/2018</td>
                            <td>admin</td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#editUserModal"><i class="fa fa fa-pencil"></i>&nbsp; แก้ไข</button>
                                <button class="btn btn-danger btn-sm" id="" data-toggle="modal" data-target="#editUserPasswordModal"><i class="fa fa fa-lock"></i>&nbsp; ส่งรหัสผ่านใหม่</button>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" id="" href="@Url.Action("ProgramPermission","User")"><i class="fa fa fa-lock"></i>&nbsp; สิทธิ์การเข้าใช้งานโปรแกรม</a>
                            </td>
                        </tr>
                        <tr>
                            <td>User1</td> 
                            <td>user</td>
                            <td>ใช้งาน</td>
                            <td>1/6/2018</td>
                            <td>admin</td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#editUserModal"><i class="fa fa fa-pencil"></i>&nbsp; แก้ไข</button>
                                <button class="btn btn-danger btn-sm" id="" data-toggle="modal" data-target="#editUserPasswordModal"><i class="fa fa fa-lock"></i>&nbsp; ส่งรหัสผ่านใหม่</button>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" id="" href="@Url.Action("ProgramPermission","User")"><i class="fa fa fa-lock"></i>&nbsp; สิทธิ์การเข้าใช้งานโปรแกรม</a>
                            </td>
                        </tr>
                        <tr>
                            <td>User2</td> 
                            <td>user</td>
                            <td>ใช้งาน</td>
                            <td>1/6/2018</td>
                            <td>admin</td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#editUserModal"><i class="fa fa fa-pencil"></i>&nbsp; แก้ไข</button>
                                <button class="btn btn-danger btn-sm" id="" data-toggle="modal" data-target="#editUserPasswordModal"><i class="fa fa fa-lock"></i>&nbsp; ส่งรหัสผ่านใหม่</button>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" id="" href="@Url.Action("ProgramPermission","User")"><i class="fa fa fa-lock"></i>&nbsp; สิทธิ์การเข้าใช้งานโปรแกรม</a>
                            </td>
                        </tr>
                        <tr>
                            <td>User3</td> 
                            <td>user</td>
                            <td>ใช้งาน</td>
                            <td>1/6/2018</td>
                            <td>admin</td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#editUserModal"><i class="fa fa fa-pencil"></i>&nbsp; แก้ไข</button>
                                <button class="btn btn-danger btn-sm" id="" data-toggle="modal" data-target="#editUserPasswordModal"><i class="fa fa fa-lock"></i>&nbsp; ส่งรหัสผ่านใหม่</button>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" id="" href="@Url.Action("ProgramPermission","User")"><i class="fa fa fa-lock"></i>&nbsp; สิทธิ์การเข้าใช้งานโปรแกรม</a>
                            </td>
                        </tr>
                        <tr>
                            <td>User4</td> 
                            <td>user</td>
                            <td>ใช้งาน</td>
                            <td>1/6/2018</td>
                            <td>admin</td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#editUserModal"><i class="fa fa fa-pencil"></i>&nbsp; แก้ไข</button>
                                <button class="btn btn-danger btn-sm" id="" data-toggle="modal" data-target="#editUserPasswordModal"><i class="fa fa fa-lock"></i>&nbsp; ส่งรหัสผ่านใหม่</button>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" id="" href="@Url.Action("ProgramPermission","User")"><i class="fa fa fa-lock"></i>&nbsp; สิทธิ์การเข้าใช้งานโปรแกรม</a>
                            </td>
                        </tr>
                        <tr>
                            <td>User5</td> 
                            <td>user</td>
                            <td>ใช้งาน</td>
                            <td>1/6/2018</td>
                            <td>admin</td>
                            <td class="text-center">
                                <button class="btn btn-warning btn-sm" id="" data-toggle="modal" data-target="#editUserModal"><i class="fa fa fa-pencil"></i>&nbsp; แก้ไข</button>
                                <button class="btn btn-danger btn-sm" id="" data-toggle="modal" data-target="#editUserPasswordModal"><i class="fa fa fa-lock"></i>&nbsp; ส่งรหัสผ่านใหม่</button>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" id="" href="@Url.Action("ProgramPermission","User")"><i class="fa fa fa-lock"></i>&nbsp; สิทธิ์การเข้าใช้งานโปรแกรม</a>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showPassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"><b>รหัสผ่าน</b></h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="padding-left: 30px;">
                    <div class="form-group">
                        <label class="control-label col-md-4" id="">ชื่อผู้ใช้งาน</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="txt_username" style="color: red;" value="User1" />
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label col-md-4" id="">รหัสผ่าน</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="txt_pass" style="color: red;" value="123456"/>
                        </div>
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AddUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h5"><b>เพิ่มผู้ใช้งานระบบ</b></h5>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" style="padding-left: 30px;">
                    <div class="form-group">
                        <label class="control-label col-md-3" id="">ชื่อผู้ใช้งาน</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" name="Username" id="Username" value="" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" id="">รหัสผ่าน</label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3" id="">ยืนยันรหัสผ่าน</label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" name="confirmPass" id="confirmPass" value="" placeholder="Confirm Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">สิทธิ์การใช้งาน</label>
                        <div class="col-md-5">
                            <select class="form-control ddl_select" id="permission" name="permission">
                                <option value="user">user</option>
                                <option value="supervisor">supervisor</option>
                                <option value="admin">admin</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn-save"><i class="fa fa-floppy-o"></i> &nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>ผู้ใช้งานระบบ</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="EditUser">
                    <div style="margin: 0 15px;">
                        <div class="form-group">
                            <label class="col-md-4 control-label">ชื่อผู้ใช้งาน</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="username" readonly>
                                <input type="hidden" class="form-control" name="usercode">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-md-4 control-label">รหัสผ่าน</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" name="password">
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="col-md-4 control-label">สิทธิ์การใช้งาน</label>
                            <div class="col-md-5">
                                <select class="form-control ddl_select" id="permission2" name="permission">
                                    <option value="user">user</option>
                                    <option value="supervisor">supervisor</option>
                                    <option value="admin">admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">สถานะ</label>
                            <div class="col-md-8">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <input id="radio-active1" class="magic-radio" type="radio" name="active" value="Y" checked>
                                    <label style="padding-left: 5px;" for="radio-active1">ใช้งาน</label>
                                    &emsp;
                                    <input id="radio-active2" class="magic-radio" type="radio" name="active" value="N">
                                    <label style="padding-left: 5px;" for="radio-active2">ยกเลิก</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger btn-sm" id="saveEditUser"><i class="fa fa-floppy-o"></i> &nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editUserPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>ผู้ใช้งานระบบ</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="EditUser">
                    <div style="margin: 0 15px;">
                        <div class="form-group">
                            <label class="col-md-4 control-label">ชื่อผู้ใช้งาน</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="username" readonly>
                                <input type="hidden" class="form-control" name="usercode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">email</label>
                            <div class="col-md-5">
                                <input type="password" class="form-control" name="password">
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger btn-sm" id="saveEditUser"><i class="fa fa-floppy-o"></i> &nbsp; ส่งรหัสใหม่</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script>
    $(function () {
        $('#userManagement').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
    });

</script>
