﻿
@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "สิทธิ์การเข้าใช้งานโปรแกรม / รายบุคคล";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/plugins/jstree/themes/default/style.css" rel="stylesheet" />
<link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6 col-lg-6 pull-left">
        <div class="box box-default">
            <div class="box-header" style="margin-bottom:0px;">
                <div class="box-title"><h4>สิทธิ์การใช้งานโปรแกรม</h4></div>
            </div>
            <div class="box-body">
                <input type="hidden" id="usercode" value="@ViewBag.usercode" />
                <div id="demo-jstree-1"></div>
                <div class="pull-right" style="padding-top:10px; padding-left:10px;">
                    <button class="btn btn-danger btn-sm" id="getCheck"><i class="fa fa-floppy-o"></i> &nbsp; บันทึก</button>
                    <button class="btn btn-success btn-sm" id="add_program_grp" data-toggle="modal" data-target="#addProgramGroupModal"><i class="fa fa-plus-square"></i> &nbsp; เพิ่มกลุ่มโปรแกรม</button>
                    <button class="btn btn-primary btn-sm" id="add-Program" data-toggle="modal" data-target="#addProgramModal"><i class="fa fa fa-plus-square"></i> &nbsp; เพิ่มโปรแกรม</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-6 pull-right">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title"><h4>ชื่อผู้ใช้งานระบบ</h4></div>
            </div>
            <div class="box-body text-center">
                <div class="user-header">
                    <img src="~/Content/img/user.jpg" class="img-circle" alt="User Image">
                    <br /><br />
                    <p >
                        <span id="text-username" class="h4" style="">นายทดสอบ นามสุกล</span>
                        <br /><span class="text-sm">สิทธิ์การใช้งาน <span id="text-permission" style="color:blue; font-size:16px;">&nbsp;Admin</span></span>
                        <br /><span class="text-sm">สถานะ <span id="text-active" style="color:lightgreen; font-size:16px;">ใช้งาน</span></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProgramGroupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>กลุ่มโปรแกรม</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="program-group-form">
                    <div style="margin: 0 15px;">
                        <div class="form-group">
                            <label class="col-md-3 control-label">ชื่อเมนู</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="grp_mune_name" id="grp_mune_name" placeholder="ขื่อเมนู">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">ชื่อโปรแกรม</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="program_name" id="program_name" placeholder="ขื่อโปรแกรม">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">สิทธิ์ผู้ใช้งาน</label>
                            <div class="col-md-8">
                                <select class="form-control select2" multiple="multiple" data-placeholder="Select a Permission" style="width: 100%;">
                                    <option value="admin">admin</option>
                                    <option value="user">user</option>
                                    <option value="supervisor">supervisor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger btn-sm" id="saveEditUser"><i class="fa fa-floppy-o"></i>&nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addProgramModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>กลุ่มโปรแกรม</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="program-group-form">
                    <div style="margin: 0 15px;">
                        <div class="form-group">
                            <label class="col-md-3 control-label">ชื่อเมนู</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="grp_mune_name" id="grp_mune_name" placeholder="ขื่อเมนู">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">ชื่อโปรแกรม</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="program_name" id="program_name" placeholder="ขื่อโปรแกรม">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Url</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="url" id="txt_url" placeholder="Example/User">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">สิทธิ์ผู้ใช้งาน</label>
                            <div class="col-md-8">
                                <select class="form-control select2" id="select-permission" multiple="multiple" data-placeholder="Select a Permission" style="width: 100%;">
                                    <option value="admin">admin</option>
                                    <option value="user">user</option>
                                    <option value="supervisor">supervisor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger btn-sm" id="saveAddProgram"><i class="fa fa-floppy-o"></i>&nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/plugins/jstree/jstree.js"></script>
<script src="~/Content/plugins/select2/select2.full.min.js"></script>
<script src="~/Content/plugins/select2/select2.min.js"></script>
<script>
    var dataRoot = new Array();
    var children = new Array();
    dataRoot = [];
    children = [];
    $('.select2').select2();
    var dataprogram = [
        {
            Key: "หน้าหลัก",
            grp: [{ PROGRAM_ID: "1", PROGRAM_NAME: "หน้าหลัก", ACTIVE: "Y" }, ]
        },
        {
            Key: "สมาชิก",
            grp: [
                
                { PROGRAM_ID: "3", PROGRAM_NAME: "ข้อมูลสมาชิก", ACTIVE: "Y" },
                { PROGRAM_ID: "4", PROGRAM_NAME: "ข้อมูลสมาชิกใหม่ / Member Card", ACTIVE: "Y" },
            ]
        },
        {
            Key: "ของรางวัล",
            grp: [
                { PROGRAM_ID: "5", PROGRAM_NAME: "Stock ของราวัล", ACTIVE: "Y" },
            ]
        },
        {
            Key: "การแลกของรางวัล",
            grp: [
                { PROGRAM_ID: "6", PROGRAM_NAME: "การแลกของรางวัล", ACTIVE: "Y" },
                { PROGRAM_ID: "7", PROGRAM_NAME: "การจัดการของราวัล", ACTIVE: "Y" },
                { PROGRAM_ID: "8", PROGRAM_NAME: "การพิมพ์เอกสาร", ACTIVE: "Y" },
            ]
        },
        {
            Key: "การจัดการ",
            grp: [
                { PROGRAM_ID: "9", PROGRAM_NAME: "ของรางวัล", ACTIVE: "Y" },
                { PROGRAM_ID: "10", PROGRAM_NAME: "ตั้งค่าคะแนน", ACTIVE: "Y" },
                { PROGRAM_ID: "11", PROGRAM_NAME: "ผู้ใช้งาน / สิทธิ์การใช้งานระบบ", ACTIVE: "Y" },
                { PROGRAM_ID: "12", PROGRAM_NAME: "ข่าว / กิจกรรม", ACTIVE: "Y" },
                { PROGRAM_ID: "13", PROGRAM_NAME: "ตั้งค่าการแจ้งเตือน", ACTIVE: "Y" },
                { PROGRAM_ID: "14", PROGRAM_NAME: "ตั้งค่า Banner", ACTIVE: "Y" },
                { PROGRAM_ID: "15", PROGRAM_NAME: "ตั้งค่า FAQ", ACTIVE: "Y" },
                { PROGRAM_ID: "16", PROGRAM_NAME: "SBU / โครงการ", ACTIVE: "Y" },
            ]
        },
        {
            Key: "สิทธิประโยชน์",
            grp: []
        },
        {
            Key: "แนะนำเพื่อน",
            grp: []
        },
        {
            Key: "รายละเอียดคะแนน",
            grp: []
        },
        
    ];

    $.each(dataprogram, function (i, value) {
        children = [];
        $.each(value.grp, function (i, e) {
            children.push({
                "id": e.PROGRAM_ID,
                "text": e.PROGRAM_NAME,
                "state": { "opened": true },
                "state": { "selected": e.ACTIVE == 'Y' ? true : false },
                'icon': 'fa fa-file-text-o'
            })
        });
        dataRoot.push({
            "text": value.Key,
            "state": { "opened": false },
            "state": { "selected": true },
            "children": children,
        })
    });
    var dataJStree = function (dataRoot) {
        $('#demo-jstree-1').jstree({
            'core': {
                'check_callback': true,
                'data': dataRoot
            },
            'plugins': ['checkbox'],
        });
        return false;
    };
    dataJStree(dataRoot);
    $('#saveAddProgram').click(function () {
        var da1 = $('#select-permission').val();
        console.log(da1);
    })
</script>