﻿@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "ข้อมูลข่าวสาร / กิจกรรม";
}
<style>
    img {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>ข่าวสาร / กิจกรรม</h4>
            </div>
            <div class="box-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 text-right control-label">ประเภทข้อมูล</label>
                            <div class="col-xs-1 col-md-2">
                                <select class="form-control">
                                    <option>ข่าวสาร</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 text-right control-label">เรื่อง TH</label>
                            <div class="col-xs-1 col-md-3">
                                <input type="email" class="form-control">
                            </div>
                            <label class="col-xs-1 col-md-1 text-right control-label">เรื่อง EN</label>
                            <div class="col-xs-1 col-md-3">
                                <input type="email" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">Url</label>
                            <div class="col-xs-3 col-md-3">
                                <input type="text" class="form-control">
                            </div>
                            @*<label class="col-xs-1 col-md-1 control-label  text-right">Url</label>
                                <div class="col-xs-1 col-md-2">
                                    <input type="url" class="form-control">
                                </div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right"></label>
                            <div class="col-xs-2 col-md-2">
                                <input type="checkbox" class="form-control"> &nbsp; กิจกรรมให้ลงทะเบียน
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">จำกัดจำนวนวผู้ลงทะเบียน</label>
                            <div class="col-xs-3 col-md-1">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <input id="radio-active1" class="magic-radio" type="radio" name="active" value="Y" checked>
                                    <label style="padding-left: 5px;" for="radio-active1">ไม่ใช่</label>
                                    &nbsp;
                                    <input id="radio-active2" class="magic-radio" type="radio" name="active" value="N">
                                    <label style="padding-left: 5px;" for="radio-active2">ใช่</label>
                                </div>
                            </div>
                            <div class="col-xs-1 col-md-1">
                                <input type="text" class="form-control">
                            </div>
                            <label class="col-xs-1 col-md-1 control-label  text-left">คน</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">รูปหลัก</label>
                            <div class="col-xs-3 col-md-3">
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right"></label>
                            <div class="col-xs-1 col-md-2">
                                <img src="~/Content/img/ex1.jpg" style="width:200px;" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 text-right control-label">* วันที่เริ่มใช้</label>
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control pull-right" id="datepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <label class="col-xs-1 col-md-1 text-right control-label">วันที่สิ้นสุด</label>
                            <div class="col-md-3">
                                <div class="input-group date">
                                    <input type="text" class="form-control pull-right" id="datepicker">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 text-right control-label">รูปแบบ Template</label>
                            <div class="col-xs-1 col-md-2">
                                <img class="img-side-show" data-tamplateid="1" src="~/Content/img/example/content1.PNG" style="width:200px; " />
                            </div>
                            <div class="col-xs-1 col-md-2">
                                <img class="img-side-show" data-tamplateid="2" src="~/Content/img/example/content1.PNG" style="width:200px; " />
                            </div>
                            <div class="col-xs-1 col-md-2">
                                <img class="img-side-show" data-tamplateid="3" src="~/Content/img/example/content2.PNG" style="width:200px; border: 5px solid #80b636" />
                            </div>
                            <div class="col-xs-1 col-md-2">
                                <img class="img-side-show" data-tamplateid="4" src="~/Content/img/example/content3.PNG" style="width:200px; " />
                            </div>
                        </div>
                    </div>
                    <div class="form-group tamplate3">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">รูปที่ 1</label>
                            <div class="col-xs-1 col-md-2">
                                <input type="file" class="form-control">
                            </div>
                            <label class="col-xs-1 col-md-1 control-label  text-right">รูปที่ 2</label>
                            <div class="col-xs-1 col-md-2">
                                <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group tamplate3">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right"></label>
                            <div class="col-xs-1 col-md-2">
                                <img src="~/Content/img/ex1.jpg" style="width:200px;" />
                            </div>
                            <label class="col-xs-2 col-md-1 control-label  text-right"></label>
                            <div class="col-xs-1 col-md-2">
                                <img src="~/Content/img/ex2.jpg" style="width:200px;" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group tamplate3">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label text-right">รายละเอียด</label>
                            <div class="col-xs-6 col-md-8">
                                <textarea class="form-control" style="height:200px;"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group tamplate3">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label text-right">รายละเอียด EN</label>
                            <div class="col-xs-6 col-md-8">
                                <textarea class="form-control" style="height:200px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-md-12">
                            <label class="col-xs-2 col-md-2 control-label  text-right">สถานะ</label>
                            <div class="col-xs-2 col-md-2">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <input id="radio-active1" class="magic-radio" type="radio" name="active" value="Y" checked>
                                    <label style="padding-left: 5px;" for="radio-active1">ใช้งาน</label>
                                    &emsp;
                                    <input id="radio-active2" class="magic-radio" type="radio" name="active" value="N">
                                    <label style="padding-left: 5px;" for="radio-active2">ยกเลิก</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!-- /.card-body -->
                    <div class="col-xs-11 col-md-12">
                        <div class="text-right">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-save"></i> &nbsp; บันทึก</button>
                            <button type="submit" class="btn btn-warning"><i class="fa fa-refresh"></i> &nbsp;  เคลีย์ข้อมูล</button>
                            @*<button type="submit" class="btn btn-primary"><i class="fa fa-info-circle"></i> &nbsp; ประวัติการให้คะแนน</button>*@
                        </div>
                    </div>
                </form>
            </div>

            <div class="box-header">
                <h4>รายละเอียด</h4>
            </div>
            <div class="box-body">
                <form role="form" class="form-horizontal">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">ลำดับ</th>
                                <th class="text-center">ประเภทข้อมูล</th>
                                <th class="text-center">เรื่อง</th>
                                <th class="text-center">เรื่อง (อังกฤษ)</th>
                                <th class="text-center">สถานะ</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-left">ข่าวสาร</td>
                                <td>
                                    โครงการ The Plant เทพารักษ์ ราคาพิเศษ
                                </td>
                                <td>
                                    โครงการ The Plant เทพารักษ์ ราคาพิเศษ
                                </td>
                                <td>ใช้งาน</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-info"><i class="fa fa-search"></i> ตัวอย่าง</button>
                                    <button class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i> แก้ไข</button>
                                </td>
                            </tr>
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>ลำดับ</th>
                                    <th>SBU</th>
                                    <th>รายละเอียด</th>
                                    <th>คะแนนหลัก</th>
                                    <th>คะแนน X (เท่า)</th>
                                    <th>วันที่</th>
                                    <th>สถานะ</th>
                                    <th></th>
                                </tr>
                            </tfoot>*@
                    </table>
                </form>
            </div>
            <br />
        </div>
    </div>
</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>

<script>
    $('.img-side-show').click(function () {
        $('#img_showpicdamage').attr('src', $(this).attr('src'));
        $('.img-side-show').css('border', 'none');
        $(this).css('border', '5px solid #80b636');
        var id = $(this).data("tamplateid");
        for (var i = 1; i <= 4; i++) {
            if (id == i) {
                $('.tamplate' + i).removeClass("hidden");
            }
            else {
                $('.tamplate' + i).addClass("hidden");
            }
        }
    });
</script>

