﻿
@{
    ViewBag.Title = "รายงาน";
    ViewBag.Description = "สถานะการแลกของรางวัล";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title">
                    <h4>เงื่อนไขการออกรายงาน</h4>
                </div>
            </div>
            <div class="box-body">
                <div class="form-horizontal form-padding" role="form">
                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <label class="col-sm-3 col-md-2 control-label text-right" style="padding-left:0;">ประเภทรายงาน :</label>
                            <div class="col-sm-6 col-md-6">
                                <select class="form-control select2" id="ddl_type_report" name="ddl_type_report">
                                    <option value="1">รายงานสถานะการแลกของรางวัลรายสมาชิก</option>
                                </select>
                            </div>
                        </div>
                        <br><br>
                        <div class="col-sm-12 col-md-12">
                            <label class="col-sm-3 col-md-2 control-label text-right" style="padding-left:0;">สถานะ :</label>
                            <div class="col-sm-6 col-md-6">
                                <select class="form-control select2" id="status_redeem" name="status_redeem">
                                    <option value="A">ทั้งหมด</option>
                                    <option value="1">จัดส่งแล้ว</option>
                                    <option value="2">รอจัดส่ง</option>
                                </select>
                            </div>
                        </div>
                        <br><br>
                        <div class="col-sm-12 col-md-12">
                            <label class="col-sm-3 col-md-2 control-label text-right">ชื่อ รายงาน</label>
                            <div class="col-sm-5 col-md-6">
                                <input type="text" class="form-control" id="txt_reportname">
                            </div>
                        </div>
                    </div>
                    <div id="grp_date" class="col-md-8" style="display:none;">
                        <label class="col-sm-3 col-md-3 text-right control-label" id="date_btw" style="padding:0 22px 0 0; ">วันที่สมัคร <span style="color:red;" id="v_txt_datef"></span></label>
                        <div class="col-sm-4 col-md-4" style="padding-left:7px;">
                            <div class="input-group date">
                                <input type="text" class="form-control pull-right" id="txt_datef" readonly>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <label class="col-sm-2 col-md-1 text-right control-label">ถึง <span style="color:red;" id="v_txt_datet"></span></label>
                        <div class="col-sm-4 col-md-4">
                            <div class="input-group date">
                                <input type="text" class="form-control pull-right" id="txt_datet" readonly>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4" style="text-align:center;">
                        <button class="btn btn-danger" id="bt_ViewData" style="width:100px;"><i class="fa fa-search"></i> ดูข้อมูล </button>
                        <button class="btn btn-info" id="bt_ExportExcel" style="width:100px;"><i class="fa fa-file-excel-o"></i> ออกรายงาน </button>
                    </div>
                </div>

                <hr>
                <br><br>
                @*Graph*@
                <div id="graph" style="min-height:650px;">
                    <div class="col-md-12" style="font-size: 22px;font-weight:22px;">
                        <div class="col-md-12 col-sm-12 text-center">
                            <p>จำนวนรายการแลกของรางวัลทั้งหมด : <label id="count_redeem_all">0</label></p>
                        </div>
                    </div><br><br>
                    <div class="col-md-12">
                        <div class="col-md-6 col-sm-12" style="width:50%">
                            <canvas id="delivery" style="width:850px; height:350px;"></canvas>
                        </div>
                        <div class="col-md-6 col-sm-12" style="width:50%">
                            <canvas id="no_delivery" style="width:850px; height:350px;"></canvas>
                        </div>
                    </div><br><br>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Content/plugins/chart.js/Chart.bundle.js"></script>
<script src="~/Scripts/chartjs-plugin-labels.js"></script>
<script src="~/Scripts/Report/js_ReportRedeemStatus.js?v=1.2"></script>