﻿@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "สต็อกของรางวัล";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>การจัดการสต็อกของรางวัล</h4>
            </div>
            <div class="card-body style-default-bright" style="padding-top:10px;">
                <form class="form-horizontal" role="form">
                    <div class="tabbable">
                        <div class="col-md-12">
                            <div class="big-icons-buttons clearfix margin-bottom">
                                <a class="btn btn-sm btn-default bt_square" id="bt_newProduct" href="~/RewardSetting"><i class="fa fa-plus" style="font-size:20px;"></i><br /> ของรางวัล</a>
                                <div class="btn-group btn-group-sm pull-right">
                                    <a class="btn btn-success" style="font-size: 15px;" id="filter_stock"><i class="fa fa-bars" style="font-size:20px;"></i><br /> ประวัติ Stock</a>
                                    @*<a class="btn btn-success mark_read bt_search" id="filter_stockbyagent"><i class="fa fa-check-circle-o" style="font-size:20px;"></i><br /> จัดการ Stock รายสาขา</a>*@
                                    <a class="btn btn-info mark_unread bt_search" id="filter_stockbyproduct"><i class="fa fa-check-circle-o" style="font-size:20px;"></i><br /> จัดการ Stock</a>
                                    <a class="btn btn-primary mark_unread bt_search" id="export_stock"><i class="fa fa-file-excel-o" style="font-size:20px;"></i><br /> Export สต๊อก</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12" style="padding-bottom:15px;">
                            <label class="col-xs-4 col-md-2 control-label  text-right">ตัวกรอง</label>
                            <div class="col-xs-8 col-md-3">
                                <select class="form-control select required" id="ddl_stock">
                                    <option value="1">ทั้งหมด</option>
                                    <option value="2">มีของรางวัลใน สต็อก</option>
                                    <option value="3">ไม่มีของรางวัลใน สต็อก</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <table class="table table-striped no-margin table-bordered cf" id="gridReward">
                                <thead class="cf" style="background-color: #8e8e8e;">
                                    <tr>
                                        <th class="text-center" width="5%">#</th>
                                        <th class="text-center" width="10%">รหัสรางวัล</th>
                                        <th class="text-center" width="50%">ชื่อรางวัล</th>
                                        <th class="text-center" width="15%">จำนวนใน Stock</th>
                                        <th class="text-center" width="20%"></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_gridReward"></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
@section scripts{
    @*<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
    <script src="~/Content/js/tinymce/tinymce.min.js"></script>*@
    <script src="~/Scripts/Reward/js_RewardAdjust.js?v=1.0"></script>
}
<!-- Modal -->
<div action="Reward/saveReward_new" method="post" id="myModalReward" class="modal fade" role="dialog" enctype="multipart/form-data">
    <div class="modal-dialog" style="width:95%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @* <button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>ประวัติ Stock</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <div class="form-group">
                        <label class="col-md-1 col-xs-2" style="padding-top:5px;"><b>ตั้งแต่วันที่</b></label>
                        <div class="col-md-2 col-xs-4 formgroup_new">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" style="padding-top:0px;">
                                <input type="text" class="form-control textauto" id="str_reward_start_date" readonly value="">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <label class="col-md-1 col-xs-2" style="padding-top:5px;"><b>ถึง</b></label>
                        <div class="col-md-2 col-xs-4 formgroup_new">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-end-date="@DateTime.Now.ToString("dd/MM/YYYY")" style="padding-top:0px;">
                                <input type="text" class="form-control textauto" id="str_reward_end_date" readonly value="">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <label class="col-md-1 col-xs-2" style="text-align:right; padding-top:5px;"><b>ของรางวัล</b></label>
                        <div class="col-md-5 col-xs-4">
                            <select class="form-control select" id="ddl_Reward_history" style="width:100%;"></select>
                        </div>
                    </div>
                    @*<div class="form-group ">
                            <div class="col-md-6 col-xs-12 formgroup_new overflow_ellipsis">
                                <label><b>ของรางวัล</b><span class="font-alert"> * </span><i><span class="font-alert valid" id="vtxt_Reward_history"></span></i></label>
                                <select class="form-control ddl_select required textauto" id="ddl_Reward_history"></select>
                            </div>
                        </div>*@
                    <div class="form-group ">
                        <div class="col-md-10 col-xs-12 formgroup_new overflow_ellipsis">
                            <label><b>ประเภท</b></label>
                            <div>
                                <label>
                                    <input type="radio" name="type_stock" value="A" checked>&nbsp;ทั้งหมด
                                </label>&nbsp;&nbsp;
                                <label>
                                    <input type="radio" name="type_stock" value="I">&nbsp;ของรางวัลเข้า Stock
                                </label>&nbsp;&nbsp;
                                <label>
                                    <input type="radio" name="type_stock" value="O">&nbsp;ของรางวัลออกจาก Stock
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped no-margin table-bordered cf" id="tb_StockHistory">
                            <thead class="cf" style="background-color: #8e8e8e;">
                                <tr>
                                    <th class="text-center" width="5%">#</th>
                                    <th class="text-center" width="8%">วันที่</th>
                                    <th class="text-center" width="7%">รหัสรางวัล</th>
                                    <th class="text-center" width="20%">ชื่อรางวัล</th>
                                    <th class="text-center" width="10%">จำนวนนำเข้า/ออก</th>
                                    <th class="text-center" width="10%">ผู้รับของเข้า/ออก</th>
                                    <th class="text-center" width="20%">เหตุผล</th>
                                    <th class="text-center" width="20%">หมายเหตุ</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_StockHistory"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>

<div method="post" id="myModalAdjByReward" class="modal fade" role="dialog" enctype="multipart/form-data">
    <div class="modal-dialog" style="width:95%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                @* <button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>จัดการของรางวัล</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <div class="form-group ">
                        <div class="col-md-2 col-xs-3" style="text-align:right; padding-top:10px;">
                            <label><b>ของรางวัล</b></label>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <select class="form-control select" id="ddl_AdjReward" style="width:100%;"></select>
                        </div>
                        <div class="col-md-4 col-xs-3">
                            <button type="button" class="btn btn-info btn-sm" id="btn_addRewardAdj" style="padding: 7px 10px 0;"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-3 col-xs-3" style="text-align:right;">
                            <label><b>รูปแบบการจัดการของรางวัล</b></label>
                        </div>
                        <div class="col-md-8 col-xs-8 formgroup_new overflow_ellipsis">
                            <div>
                                <label>
                                    <input type="radio" name="rd_adjReward" id="rd_adjReward_I" value="I" class="flat-red" checked>
                                    ของรางวัลเข้า Stock
                                </label>&nbsp;&nbsp;
                                <label>
                                    <input type="radio" name="rd_adjReward" id="rd_adjReward_O" value="O" class="flat-red">
                                    ของรางวัลออกจาก Stock
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped no-margin table-bordered cf" id="tb_adjustReward">
                            <thead class="cf" style="background-color: #8e8e8e;">
                                <tr>
                                    <th class="text-center" width="5%">#</th>
                                    <th class="text-center" width="10%">รหัสของรางวัล</th>
                                    <th class="text-center" width="20%">ชื่อของรางวัล</th>
                                    <th class="text-center" width="5%">คงเหลือ</th>
                                    <th class="text-center" width="10%">จำนวนเข้า/ออก</th>
                                    <th class="text-center" width="20%">เหตุผล</th>
                                    <th class="text-center" width="25%">หมายเหตุ</th>
                                    <th class="text-center" width="5%"></th>
                                </tr>
                            </thead>
                            <tbody id="tbody_adjustReward"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close_modalAdj">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary" id="bt_Adjust_reward"><i class="fa fa-save"></i>บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div id="alert_modal" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" style="z-index:9999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 22px;" id="Header_Alert">แจ้งเตือน</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="content-text-modal">
                        <h3 class="content__title" id="Adjust_Alert"></h3>
                        <h4 class="content__title" id="Adjust_Alert2" style="font-size:20px;"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close_alert">ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
