﻿@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "จัดส่งของรางวัล";
}
<style>
    .rowSelect {
        background-color: #e1e1e1;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="panel">
                <div class="box-header">
                    <h4>รายการที่ตั้งเบิกรอจัดส่ง</h4>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <table class="table no-margin table-bordered cf" id="tblDataBudget">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; vertical-align:middle;" width="5%">ลำดับ</th>
                                        <th style="text-align:center; vertical-align:middle;" width="10%">วันที่ตั้งเบิก</th>
                                        <th style="text-align:center; vertical-align:middle;" width="15%">ช่วงวันที่แลก (จาก - ถึง)</th>
                                        <th style="text-align:center; vertical-align:middle;" width="10%">จำนวนสมาชิก</th>
                                        <th style="text-align:center; vertical-align:middle;" width="10%">คะแนน</th>
                                        <th style="text-align:center; vertical-align:middle;" width="10%">มูลค่าของรางวัล</th>
                                        <th style="text-align:center; vertical-align:middle;" width="10%">สถานะการตั้งเบิก</th>
                                        <th style="text-align:center; vertical-align:middle;" width="10%">สถานะการจัดส่ง</th>
                                        <th style="text-align:center; vertical-align:middle;" width="20%"></th>
                                    </tr>

                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-header">
                <h4>รายการของรางวัล</h4>
            </div>
            <div class="card-body style-default-bright" style="padding-top:10px;">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label text-right" style="padding-top: 6px;"><b>สถานะการจัดส่ง</b></label>
                        <div class="col-md-3">
                            <select class="form-control" id="deliveryType">
                                <option value="N" selected> รอการจัดส่ง </option>
                                <option value="Y"> จัดส่งแล้ว </option>
                                <option value="A"> ทั้งหมด </option>
                            </select>
                        </div>
                        <label class="col-md-2 control-label text-right" style="padding-top: 6px;"><b>ประเภทของรางวัล</b></label>
                        <div class="col-md-3">
                            <select class="form-control" id="rewardType">
                                <option value="A" selected> ทั้งหมด </option>
                                <option value="C"> เงินสด </option>
                            </select>
                        </div>
                        @*<label class="col-md-2 control-label text-right" style="padding-top: 6px;"><b>ประเภท ของรางวัล</b></label>
                            <div class="col-md-3">
                                <select class="form-control" id="rewardType">
                                    <option value="A"> ทั้งหมด </option>
                                    <option value="Y" selected> มีสินค้า </option>
                                </select>
                            </div>*@

                        <input type="hidden" id="bgstatus" />
                        <input type="hidden" id="budgetid" />
                        <div class="col-md-2 col-xs-8 formgroup_new overflow_ellipsis">
                            <button type="button" class="btn ink-reaction btn-raised btn-sm btn-primary" id="btn_search_Reward"><i class="fa fa-search"></i> ค้นหา</button>
                        </div>
                    </div>
                    <table class="table no-margin table-bordered cf" id="tblDataReward">
                        <thead class="cf">
                            <tr>
                                <th class="text-center" rowspan="2" width="10%" style="vertical-align:middle;">ลำดับ</th>
                                <th class="text-center" rowspan="2" width="10%" style="vertical-align:middle;">รหัสของรางวัล</th>
                                <th class="text-center" rowspan="2" width="40%" style="vertical-align:middle;">ของรางวัล</th>
                                <th class="text-center" rowspan="2" width="10%" style="vertical-align:middle;">จำนวน <br /> ที่แลก</th>
                                <th class="text-center" colspan="3" width="10%" style="vertical-align:middle;">จำนวนของรางวัล</th>
                                <th class="text-center" rowspan="2" width="10%" style="vertical-align:middle;color:blue;">จำนวนส่ง</th>
                                <th class="text-center" rowspan="2" width="10%" style="vertical-align:middle;"></th>
                            </tr>
                            <tr>
                                <th class="text-center" width="10%" style="vertical-align:middle;">  ส่งแล้ว</th>
                                <th class="text-center" width="10%" style="vertical-align:middle;">  รอจัดส่ง</th>
                                <th class="text-center" width="10%" style="vertical-align:middle;border-right-width: thin;">  ในสต๊อก</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div><!--end .card-body -->
            <div class="panel">
                <div class="panel-body">
                    <div class="form-horizontal" role="form">
                        @*<div class="form-group">
                                <label class="col-md-2 control-label text-right">ชื่อสมาชิก</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="editShopName" readonly />
                                </div>
                                <label class="col-md-2 control-label text-right">รหัสการแลก</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="editRedeemNo" readonly />
                                </div>
                                <label class="col-md-1 control-label text-right">วันที่แลก</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="editRedeemDate" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label text-right">รหัสของรางวัล</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="editRewardCode" readonly />
                                </div>
                                <label class="col-md-2 control-label text-right">ของรางวัล</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="editRewardName" readonly />
                                </div>
                                <label class="col-md-1 control-label text-right">จำนวน</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="editQty" readonly />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label text-right">Agent</label>
                                <div class="col-md-2">
                                    <select class="form-control" id="editSendAgent" readonly></select>
                                </div>
                                <label class="col-md-2 control-label text-right">ส่งโดย</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="editCourier" readonly></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-warning" id="editCOURIER"><i class="fa fa-pencil"></i> แก้ไข</button>
                                    <button type="button" class="btn btn-danger" id="saveCOURIER"><i class="fa fa-save"></i> บันทึก</button>
                                </div>
                            </div>*@

                        <header><h3 style="margin-top:0;">รายละเอียดรายการแลกของรางวัล / จัดส่งของ</h3></header>
                        <hr style="border-width: 5px; margin: 0 0 10px;" />
                        <div class="form-group">
                            <label class="col-md-1 control-label text-right" style="padding:6px 0;">จำนวนรายการ:</label>
                            <div class="col-md-2 col-xs-8">
                                <input type="text" class="form-control" id="totalShop" value="0" readonly style="text-align:center; color:red;">
                            </div>
                            <label class="col-md-1 control-label text-right" style="padding:6px 0;">จำนวนชิ้น :</label>
                            <div class="col-md-2 col-xs-8">
                                <input type="text" class="form-control" id="totalReward" value="0" readonly style="text-align:center; color:red;">
                            </div>
                        </div>
                        <div class="form-group">
                            <table class="table no-margin table-bordered cf" id="tblDataRedeem">
                                <thead class="cf" style="vertical-align:middle;">
                                    <tr>
                                        <th class="text-center" width="3%" style="vertical-align:middle;"><input type="checkbox" class="chkRedeemAll" /></th>
                                        <th class="text-center" width="7%" style="vertical-align:middle;">Redeem No</th>
                                        <th class="text-center" width="7%" style="vertical-align:middle;">วันที่แลก</th>
                                        <th class="text-center" width="20%" style="vertical-align:middle;">ชื่อ สมาชิก</th>
                                        <th class="text-center" width="10%" style="vertical-align:middle;">ระดับ สมาชิก</th>
                                        <th class="text-center" width="7%" style="vertical-align:middle;">รหัสของรางวัล</th>
                                        <th class="text-center" width="22%" style="vertical-align:middle;">ของรางวัล</th>
                                        <th class="text-center" width="5%" style="vertical-align:middle;">จำนวน</th>
                                        <th class="text-center" width="15%" style="vertical-align:middle;">จัดส่งโดย</th>
                                        <th class="text-center" width="10%" style="vertical-align:middle;">วันที่จัดส่ง</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-primary" id="saveData"><i class="fa fa-save"></i> ยืนยันการจัดส่ง</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
<div class="modal fade" id="myModalDelivery" role="dialog">
    <div class="modal-dialog  " style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title"><b>กรุณาเลือกวันที่ส่ง </b></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="col-md-12 col-xs-12 formgroup_new" style="margin: 0 0 10px 0; padding:0 !important;">
                        <div class="col-md-4 col-xs-12 formgroup_new">
                            <label style="padding-top: 8px;"><b>วันที่:</b></label>
                        </div>
                        <div class="col-md-8 col-xs-12 formgroup_new">
                            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-start-date="@DateTime.Now.ToString("dd/MM/YYYY")" style="padding-top:0px;">
                                <input type="text" class="form-control textauto" id="deliveryDate" readonly value="">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary" id="saveDelivery">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalEditCourier" role="dialog">
    <div class="modal-dialog  " style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header tab_red">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title"><b>รายละเอียด </b></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="col-md-12 col-xs-12 formgroup_new" style="margin: 0 0 10px 0; padding:0 !important;">
                        <div class="col-md-4 col-xs-12 formgroup_new">
                            <label style="padding-top: 8px;"><b>Redeem No :</b></label>
                        </div>
                        <div class="col-md-8 col-xs-12 formgroup_new">
                            <input type="text" class="form-control" id="redeemNoEdit" readonly value="">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 formgroup_new" style="margin: 0 0 10px 0; padding:0 !important;">
                        <div class="col-md-4 col-xs-12 formgroup_new">
                            <label style="padding-top: 8px;"><b>ชื่อสมาชิก:</b></label>
                        </div>
                        <div class="col-md-8 col-xs-12 formgroup_new">
                            <input type="text" class="form-control" id="nameEdit" readonly value="">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 formgroup_new" style="margin: 0 0 10px 0; padding:0 !important;">
                        <div class="col-md-4 col-xs-12 formgroup_new">
                            <label style="padding-top: 8px;"><b>รหัสของรางวัล:</b></label>
                        </div>
                        <div class="col-md-8 col-xs-12 formgroup_new">
                            <input type="text" class="form-control" id="rewardCodeEdit" readonly value="">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 formgroup_new" style="margin: 0 0 10px 0; padding:0 !important;">
                        <div class="col-md-4 col-xs-12 formgroup_new">
                            <label style="padding-top: 8px;"><b>ของรางวัล:</b></label>
                        </div>
                        <div class="col-md-8 col-xs-12 formgroup_new">
                            <input type="text" class="form-control" id="rewardNameEdit" readonly value="">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12 formgroup_new" style="margin: 0 0 10px 0; padding:0 !important;">
                        <div class="col-md-4 col-xs-12 formgroup_new">
                            <label style="padding-top: 8px;"><b>จัดส่งโดย:</b></label>
                        </div>
                        <div class="col-md-8 col-xs-12 formgroup_new">
                            <select class="form-control" id="rewardCourier"></select>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary" id="saveCourier">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Scripts/Delivery/delivery.js?v=1.1"></script>
<script type="text/javascript">
</script>
