﻿@{
    ViewBag.Title = "สต๊อก";
    ViewBag.Description = "ของรางวัล";
    Layout = "~/Views/Shared/_LayoutCall.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-body style-default-bright">
                <div class="col-md-offset-6 col-md-6 col-xs-12 linkmonitor linkstock">
                    <u><a href="Monitor_Stock"><span class="lan_ViewStock"></span></a></u>
                </div>
                <div class="card-head tab_red">
                    <header><span class="lan_ProductDetail"></span></header>
                </div>
                <br />
                <div class="table-responsive no-margin">
                    <form class="form-horizontal" role="form">

                        <table class="table table-striped no-margin table-bordered cf tb_SO" id="no-more-tables">
                            <thead class="cf">
                                <tr>
                                    <th class="text-center" width="5%">#</th>
                                    <th class="text-center" width="20%">รหัสของรางวัล</th>
                                    <th class="text-center" width="55%">ชื่อของรางวัล</th>
                                    <th class="text-center" width="20%">จำนวน</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0; }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @{ i = i + 1; }
                                        <td class="text-center" data-title="#"> @i </td>
                                        <td data-title="">
                                            @*@Html.DisplayFor(modelItem => item.prod_code)
                                                @Html.Hidden("pro_code[]", item.prod_code)*@
                                        </td>
                                        <td data-title="">
                                            @*@if(Session["Language"].ToString() == "EN") {@Resources.en.Product} else {@Resources.local.Product}">
                                                @Html.DisplayFor(modelItem => item.prod_name)
                                                @Html.Hidden("pro_name[]", item.prod_name)*@
                                    </td>
                                    <td class="text-right" data-title="">
                                        @*@if(Session["Language"].ToString() == "EN") {@Resources.en.Qty} else {@Resources.local.Qty}">
                                            @Html.TextBox("num_pro[]", item.qty.ToString(), new { @class = "required form-control txt_temp", style = "text-align:right; padding-right:5px;", maxlength = "7", onkeyup = "this.value=this.value.replace(/[^0-9,]/g,'');" })*@
                                </td>
                            </tr>
                                            }
                            </tbody>
                        </table>
                    </form>
                </div><!--end .table-responsive -->
            </div><!--end .card-body -->
            <div class="card-actionbar">
                <div class="card-actionbar-row">
                    <button type="button" class="btn ink-reaction btn-raised btn-sm btn-danger" id="bt_savestock"> บันทึก </button>
                </div>
            </div>
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script src="~/Scripts/js-psm/js_HeaderReport.js"></script>