﻿
@{
    ViewBag.Title = "ของรางวัล";
    ViewBag.Description = "พิมพ์การส่งของรางวัล";
}

<style>
    .btn-del-detail {
        font-size: 14px;
    }

    #delivery-table tbody tr:hover {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
        <div class="box box-default">
            <div class="box-header">
                <div class="box-title"><h4>การส่งของรางวัล</h4></div>
            </div>
            <div class="box-body">
                <div class="col-md-9 pull-left">
                    <table id="delivery-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">วิธีการจัดส่ง</th>
                                <th class="text-center">วันที่จัดส่ง</th>
                                <th class="text-center">เลขที่การจัดส่ง</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td>บริษัทขนส่ง</td>
                                    <td>D1806001</td>
                                    <td>1/6/2018</td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-sm" id=""><i class="fa fa fa-list"></i>&nbsp; รายละเอียด</button>
                                    </td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3 pull-right">
                    <div class="col-12" style="height:10px;"></div>
                    <div class="col-12" style="height:40px;">
                        <button type="button" class="btn btn-success btn-sm" id="btn_reward_report" style="display:block; width:100%;">พิมพ์สรุปการส่งของ</button>
                    </div>
                    <div class="col-12" style="height:40px;">
                        <button type="button" class="btn btn-success btn-sm" id="btn_detail_report" style="display:block; width:100%;">พิมพ์รายละเอียดการส่งของ</button>
                    </div>
                    <div class="col-12" style="height:40px;" id="div_btn_order_report">
                        <button type="button" class="btn btn-success btn-sm" id="btn_order_report" style="display:block; width:100%;">พิมพ์ใบรับของรางวัล</button>
                    </div>
                    <div class="col-12" style="height:40px;" id="div_btn_label_report">
                        <button type="button" class="btn btn-success btn-sm" id="btn_label_report" style="display:block; width:100%;">พิมพ์สติกเกอร์ Label</button>
                    </div>
                    <div class="col-12" style="height:40px;">
                        <button type="button" class="btn btn-success btn-sm" id="btn_excel_report" style="display:block; width:100%;">Export Excel</button>
                    </div>
                </div>

            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <h3>เลขที่การจัดส่ง : <span class="text-danger" id="delilveryNoChose">-</span> จำนวน : <span class="text-danger" id="totRecord"> - </span> รายการ </h3>
                    <input type="hidden" id="deliveryNoTemp" />
                    <input type="hidden" id="deliveryByTemp" />
                    <input type="hidden" id="projectTemp" value="SB" />
                    <hr style="border-width: 5px; margin: 0 0 10px;" />
                </div>
                <div class="col-md-12" style="overflow-x:scroll">
                    <table id="detail-delivery-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" width="8%">เลขการแลก</th>
                                <th class="text-center" width="8%">วันที่แลก</th>
                                <th class="text-center" width="18%">ชื่อลูกค้า/ผู้แลก</th>
                                <th class="text-center" width="18%">ผู้รับ</th>
                                <th class="text-center" width="8%">รหัสของรางวัล</th>
                                <th class="text-center" width="15%">ของรางวัล</th>
                                <th class="text-center" width="5%">จำนวน</th>
                                <th class="text-center" width="10%">วิธีการจัดส่ง</th>
                                <th class="text-center" width="5%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td>Rxxxx</td>
                                    <td>1/6/2018</td>
                                    <td>00000001</td>
                                    <td>ทดสอบ xxxx</td>
                                    <td>Lxxxx</td>
                                    <td>xxxxxxxxxxxxxx</td>
                                    <td>1</td>
                                    <td>บริษัทขนส่ง</td>
                                </tr>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="receiveModal" role="dialog" aria-labelledby="receiveModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>บันทึก Tracking/รับของ</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="receive-form">
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">เลขการแลก </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control pull-right" id="redeemNo" name="redeemNo" required readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">ของรางวัล </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control pull-right" id="reward" name="reward" readonly>
                            <input type="hidden" class="form-control pull-right" id="rewardCode" name="rewardCode">
                            <input type="hidden" id="memberId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">จำนวน </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control pull-right" id="qty1" name="qty1" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">Tracking No. </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control pull-right" id="trackingNo" name="trackingNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">วันที่รับ </label>
                        <div class="col-md-4 datetime1">
                            <div class="input-group date">
                                <input type="text" class="form-control pull-right" id="receiveDate" name="receiveDate">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 datetime2">
                            <input type="text" class="form-control pull-right" id="_receiveDate" name="_receiveDate" readonly>
                        </div>
                    </div>

                    <div class="form-group datetime1">
                        <label class="col-md-3 control-label text-right">เวลารับ </label>
                        <div class="col-md-1" style="padding-right: 0;">
                            <input type="number" class="form-control" id="timeHH" maxlength="2" min="0" max="23" name="timeHH" pattern="[0-9]">
                        </div>
                        <label class="col-md-1 control-label text-center" style="width:10px">:</label>
                        <div class="col-md-1" style="padding-left: 0;">
                            <input type="number" class="form-control" id="timeMM" maxlength="2" min="0" max="59" name="timeMM" pattern="[0-9]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">ชื่อผู้รับ </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control pull-right" id="receiveBy" name="receiveBy">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-info btn-sm" id="btn_clear">Clear</button>*@
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary btn-sm" id="btn_save_receive"><i class="fa fa-floppy-o"></i>&nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="receiveMoneyModal" role="dialog" aria-labelledby="receiveModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>บันทึก หมายเลขอ้างอิง/รับของ</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="money_receive-form">
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">เลขการแลก </label>
                        <div class="col-md-4">
                            <input type="text" class="form-control pull-right" id="money_redeemNo" name="money_redeemNo" required readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">ของรางวัล </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control pull-right" id="money_reward" name="money_reward" readonly>
                            <input type="hidden" class="form-control pull-right" id="money_rewardCode" name="money_rewardCode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">จำนวน </label>
                        <div class="col-md-3">
                            <input type="text" class="form-control pull-right" id="money_qty" name="money_qty" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">หมายเลขอ้างอิง </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control pull-right" id="referNo" name="referNo" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">วันที่โอน </label>
                        <div class="col-md-4 datetime1">
                            <div class="input-group date">
                                <input type="text" class="form-control pull-right" id="money_receiveDate" name="receiveDate" required>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 datetime2">
                            <input type="text" class="form-control pull-right" id="txt_money_receiveDate" name="money_receiveDate" readonly>
                        </div>
                    </div>
                    <div class="form-group datetime1">
                        <label class="col-md-3 control-label text-right">เวลาโอน </label>
                        <div class="col-md-1" style="padding-right: 0;">
                            <input type="number" class="form-control" id="money_timeHH" maxlength="2" min="0" max="23" name="money_timeHH" pattern="[0-9]">
                        </div>
                        <label class="col-md-1 control-label text-center" style="width:10px">:</label>
                        <div class="col-md-1" style="padding-left: 0;">
                            <input type="number" class="form-control" id="money_timeMM" maxlength="2" min="0" max="59" name="money_timeMM" pattern="[0-9]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label text-right">ชื่อผู้รับ </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control pull-right" id="money_receiveBy" name="money_receiveBy" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-info btn-sm" id="btn_clear">Clear</button>*@
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-primary btn-sm" id="btn_save_money_receive"><i class="fa fa-floppy-o"></i>&nbsp; บันทึก</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Print-Delivery/print-delivery.js"></script>
}