﻿@{
    ViewBag.Title = "ของรางวัล";
    ViewBag.Description = "แลกของรางวัล";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .search-table-outter {
        overflow-x: scroll;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>แลกของรางวัล</h4>
            </div>
            <div class="panel-body form-horizontal form-padding" role="form">
                @Html.Partial("~/Views/Shared/_Profile.cshtml")
                <br />
                <div class="form-group">
                    <br />
                    <div class="col-md-12" style="padding-top: 20px;">
                        <label class="col-md-1 col-sm-2 control-label" style="padding-right:0;">แคตตาล็อก</label>
                        <div class="col-md-3 col-sm-4">
                            <select class="form-control " id="ddl_cat_reward"></select>
                        </div>
                        <label class="col-md-1 col-sm-2 control-label" for="demo-hor-inputpass" style="padding-left:0; padding-right:0;">ประเภทรางวัล</label>
                        <div class="col-md-3 col-sm-4">
                            <select class="form-control " id="dll_type_reward">
                                <option value=""> เลือกทั้งหมด </option>
                            </select>
                        </div>
                        <label class="col-md-1 col-sm-2 control-label" for="demo-hor-inputpass">รายการ</label>
                        <div class="col-md-3 col-sm-4">
                            <select class="form-control " id="ddl_choice_reward">
                                <option value="0"> รางวัลที่แลกได้ </option>
                                <option value="1"> รางวัลทั้งหมด </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top: 20px;">
                        <label class="col-md-1 col-sm-2 control-label" style="padding-right:0;">ตัวกรอง</label>
                        <div class="col-md-3 col-sm-4">
                            <select class="form-control" name="ddl_sort" id="ddl_sort" style="font-size: 20px;">
                                <option value="0" selected> -- เลือก -- </option>
                                <option value="1"> คะแนนน้อยไปมาก </option>
                                <option value="2"> คะแนนมากไปน้อย </option>
                            </select>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <button class="pull-right btn btn-info" id="btn_searchRedemption"><i class="fa fa-search"></i>ค้นหา</button>
                        </div>
                    </div>
                </div>
                <br />
                <div id="frm_ShowReward">
                    <div class="myBox">
                        <div class="row">
                            <div class="row pricing pricing-no-gutter-sm" style="padding:0;">
                                <div class="listProd" id="addRewardRedemption"></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="frm_showTBRward">
                        <table class="table table-striped no-margin table-bordered cf tb_RewardRedemp" id="no-more-tables">
                            <thead class="cf">
                                <tr>
                                    <th class="text-center" width="12%">รูป</th>
                                    <th class="text-center" width="8%">รหัสรางวัล</th>
                                    <th class="text-center" width="20%">ของรางวัล</th>
                                    <th class="text-center" width="8%">คะแนน/ชิ้น</th>
                                    <th class="text-center" width="5%">จำนวน</th>
                                    <th class="text-center" width="8%">คะแนนรวม</th>
                                    <th class="text-center" width="15%">การจัดส่ง</th>
                                    <th class="text-center" width="18%">หมายเหตุ</th>
                                    <th class="text-center" width="5%">ลบ</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_rewardredemp"></tbody>
                        </table>
                        <br />
                        <div class="form-group" style="margin-left: 0px;">
                            <div class="col-md-12 col-xs-12 formgroup_new" style="padding: 0 12px 0 0 !important;">
                                <div class="well wall_small">
                                    <div class="clearfix">
                                        <span class="col-md-2 col-xs-3 formgroup_new" style="margin-top:7px; text-align: right;">คะแนนสะสม</span>
                                        <div class="col-md-2 col-xs-3 formgroup_new">
                                            <input type="text" class="form-control" style="text-align:center; padding-right:5px; color:red;" id="txt_point_balance" value="0" readonly>
                                        </div>
                                        <span class="col-md-2 col-xs-3 formgroup_new" style="margin-top:7px; text-align: right;">คะแนนที่ใช้แลก</span>
                                        <div class="col-md-2 col-xs-3 formgroup_new">
                                            <input type="text" class="form-control" style="text-align:center; padding-right:5px; color:red;" id="txt_point_redeem" value="0" readonly>
                                        </div>
                                        <span class="col-md-2 col-xs-3 formgroup_new" style="margin-top:7px; text-align: right;">คะแนนคงเหลือ</span>
                                        <div class="col-md-2 col-xs-3 formgroup_new">
                                            <input type="text" class="form-control" style="text-align:center; padding-right:5px; color:red;" value="0" id="txt_remaining_redeem" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12" style="text-align:right;">
                                <button type="button" class="btn  btn-default " id="btn_cancalReward"><i class="fa fa-remove"></i>  ยกเลิก </button>
                                <button type="button" class="btn  btn-primary " id="btn_submitReward"><i class="fa fa-save"></i>  บันทึก </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end .card -->
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/Reward/js_Redeemtion.js?v=1.0"></script>
}
<div class="modal fade" id="ModalRewardDetail" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header" style="margin-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <label class="modal-title">รายละเอียดของรางวัล</label>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <span id="img_reward"></span>
                    </div>
                    <div class="col-sm-8">
                        <input type="hidden" id="hd_category_code" />
                        <div class="row">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">ของรางวัล </label>
                            </div>
                            <div class="col-md-9">
                                <span style="color:#000099;" id="rewardname"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">รหัสของรางวัล </label>
                            </div>
                            <div class="col-md-9">
                                <span id="rewardcode" style="color:#000099;"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">Catalog ฉบับ </label>
                            </div>
                            <div class="col-md-9">
                                <span id="catalog_name" style="color:#000099;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">คะแนนที่ต้องใช้ </label>
                            </div>
                            <div class="col-md-9">
                                <span id="point" style="color:#000099;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">ราคา </label>
                            </div>
                            <div class="col-md-9">
                                <span id="price" style="color:#000099;">:</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">แลกได้ตั้งแต่วันที่ </label>
                            </div>
                            <div class="col-md-9">
                                <span id="date_from_to" style="color:#000099;">:</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">รายละเอียด </label>
                            </div>
                            <div class="col-md-9">
                                <span id="detail" style="color:#000099;">:</span>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 10px;">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">จำนวน </label>
                            </div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" id="txt_qty" value="1" min="1" max="9999" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="text-align: left">
                                <label class="text-semibold text-main">การจัดส่ง </label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control " id="ddl_channel"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 20px; text-align: center;">
                    <button data-dismiss="modal" class="btn btn-default" type="button" style="width:100px;"> ยกเลิก </button>
                    <button class="btn btn-primary" type="button" style="width:100px;" id="btn_choose_reward"> ตกลง </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDeliveryReward" role="dialog">
    <div class="modal-dialog" style="width:75%;">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header" style="margin-bottom:0px;">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <label class="modal-title">ข้อมูลสมาชิกที่ต้องการแลกของรางวัล</label>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <div class="row">
                    <form class="font-size-20">
                        <div class="form-row" style="padding-bottom:45px;">
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ชื่อ <span style="color:red;">* </span></span>
                            <div class="col-md-4 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" id="txt_fname" style="background-color: #f1f1f2;margin-bottom: 0;">
                                <span style="color:red; font-size:15px;" id="vtxt_fname"></span>
                            </div>
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">นามสกุล <span style="color:red;">*</span></span>
                            <div class="col-md-4 col-sm-">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" id="txt_lname" style="background-color: #f1f1f2;margin-bottom: 0;">
                                <span style="color:red; font-size:15px;" id="vtxt_lname"></span>
                            </div>
                        </div>
                        <div class="form-row" style="padding-bottom:45px;">
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">หมายเลขบัตรประชาชน <span style="color:red;">* </span></span>
                            <div class="col-md-4 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2; margin-bottom: 0;" id="txt_idcard_redeem" maxlength="13" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                <span style="color:red; font-size:15px;" id="vtxt_idcard"></span>
                            </div>
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">สำเนาบัตรประชาชน <span style="color:red;">*</span></span>
                            <div class="col-md-3 col-sm-6" style="text-align: left;">
                                <input type="file" id="txt_copyfile" value="เลือกไฟล์" accept=".png, .jpg, .jpeg" style="margin-bottom: 0;width: 100%;" />
                                <span style="color:red; font-size:15px;" id="vtxt_copyfile"></span>
                            </div>
                            <div class="col-md-1 col-sm-2" style="text-align: left;"><input type="button" id="openimg" style="width:100%;" value="ดูภาพ" /></div>
                        </div>
                        <div class="form-row" style="padding-bottom:45px;">
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">เบอร์โทรศัพท์ <span style="color:red;">*</span></span>
                            <div class="col-md-4 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_tel_redeem" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                <span style="color:red; font-size:15px;" id="vtxt_tel"></span>
                            </div>
                            <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">E-mail <span style="color:red;" id="req_email"></span></span>
                            <div class="col-md-4 col-sm-8">
                                <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_email">
                                <span style="color:red; font-size:15px;" id="vtxt_email"></span>
                            </div>
                        </div>
                        <div id="grp_addfile">
                            <hr />
                            <div id="grp_bookbank">
                                <div class="form-row" style="padding-bottom:45px;">
                                    <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ธนาคาร <span style="color:red;">*</span></span>
                                    <div class="col-md-4 col-sm-8">
                                        <select class="form-control font-size-20 bold" id="ddl_bank" style="background-color: #f1f1f2;margin-bottom: 0 !important;"></select>
                                        <span style="color:red; font-size:15px;" id="vtxt_bank"></span>
                                    </div>
                                    <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">เลขที่บัญชี <span style="color:red;">*</span></span>
                                    <div class="col-md-4 col-sm-8">
                                        <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_bookbank" maxlength="15" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                        <span style="color:red; font-size:15px;" id="vtxt_bookbank"></span>
                                    </div>
                                </div>
                                <div class="form-row" style="padding-bottom:45px;">
                                    <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">สาขา <span style="color:red;">*</span></span>
                                    <div class="col-md-4 col-sm-8">
                                        <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_bankBranch" maxlength="50">
                                        <span style="color:red; font-size:15px;" id="vtxt_bankBranch"></span>
                                    </div>
                                    <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">สำเนาบัญชี <span style="color:red;">*</span></span>
                                    <div class="col-md-3 col-sm-6" style="text-align: left;">
                                        <input type="file" id="txt_copybookbank" value="เลือกไฟล์" accept=".png, .jpg, .jpeg" size="1024" style="margin-bottom: 0;width: 100%;" />
                                        <span style="color:red; font-size:15px;" id="vtxt_copybookbank"></span>
                                    </div>
                                    <div class="col-md-1 col-sm-2" style="text-align: left;"><input type="button" id="openbookimg" style="width:100%;" value="ดูภาพ" /></div>
                                </div>
                            </div>
                            <div id="grp_promptpay">
                                <div class="form-row" style="padding-bottom:45px;">
                                    <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">หมายเลขพร้อมเพย์ <span style="color:red;">*</span></span>
                                    <div class="col-md-4 col-sm-8">
                                        <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2;margin-bottom: 0;" id="txt_promptpay" maxlength="13" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                    </div>
                                    <div class="col-md-6 col-sm-12"></div>
                                    <div class="col-md-offset-2 font-size-14" style="color:red; margin-top: -10px;">ระบุเบอร์มือถือ / เลขบัตรประจำตัวประชาชน</div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="grp_address">
                            <div class="form-row justify-content-center" style="padding-bottom:45px;">
                                <div class="col">
                                    <div class="col-lg-4 col-md-12 col-sm-12" style="text-align:left; color:#A0A0A0;">ที่อยู่สำหรับจัดส่ง</div>
                                    @*<div class="col-lg-4 col-md-2 col-sm-2" style="text-align:left;">
                                            <label>
                                                <input type="radio" name="formCheck-2" id="rb_address_now" checked> <span class="label-text font-size-20" style="color:#A0A0A0;">ที่อยู่ปัจจุบัน</span>
                                            </label>
                                        </div>
                                        <div class="col-lg-4 col-md-2 col-sm-2" style="text-align:left;">
                                            <label>
                                                <input type="radio" name="formCheck-2" id="rb_address_new"> <span class="label-text font-size-20" style="color:#A0A0A0;">ที่อยู่ใหม่</span>
                                            </label>
                                        </div>*@
                                </div>
                            </div>
                            <div class="form-row justify-content-center" style="padding-bottom:45px;">
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">บ้านเลขที่ <span style="color:red;">*</span></span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" placeholder="" id="txt_addressno" style="background-color: #f1f1f2;margin-bottom: 0;">
                                    <span style="color:red; font-size:15px;" id="vtxt_addressno"></span>
                                </div>
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">หมู่ที่ </span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" placeholder="" id="txt_villageNo" style="background-color: #f1f1f2;margin-bottom: 0;">
                                    <span style="color:red; font-size:15px;" id="vtxt_villageNo"></span>
                                </div>
                            </div>
                            <div class="form-row justify-content-center" style="padding-bottom:45px;">
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">หมู่บ้าน / อาคาร </span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" placeholder="" id="txt_village" style="background-color: #f1f1f2;margin-bottom: 0;">
                                    <span style="color:red; font-size:15px;" id="vtxt_village"></span>
                                </div>
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ชั้น </span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" placeholder="" id="txt_floor" style="background-color: #f1f1f2;margin-bottom: 0;">
                                    <span style="color:red; font-size:15px;" id="vtxt_floor"></span>
                                </div>
                            </div>
                            <div class="form-row justify-content-center" style="padding-bottom:45px;">
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ถนน </span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" placeholder="" id="txt_road" style="background-color: #f1f1f2;margin-bottom: 0;">
                                    <span style="color:red; font-size:15px;" id="vtxt_road"></span>
                                </div>
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ตรอก /ซอย </span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" placeholder="" id="txt_soi" style="background-color: #f1f1f2;margin-bottom: 0;">
                                    <span style="color:red; font-size:15px;" id="vtxt_soi"></span>
                                </div>
                            </div>
                            <div class="form-row justify-content-center" style="padding-bottom:45px;">
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">จังหวัด <span style="color:red;">*</span></span>
                                <div class="col-md-4 col-sm-8">
                                    <select class="form-control font-size-20 bold frm_addr_redeem" id="txt_province" style="background-color: #f1f1f2;margin-bottom: 0 !important;"></select>
                                    <span style="color:red; font-size:15px;" id="vtxt_province"></span>
                                </div>
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">อำเภอ <span style="color:red;">*</span></span>
                                <div class="col-md-4 col-sm-8">
                                    <input type="hidden" id="hd_addr_district" value="" />
                                    <select class="form-control font-size-20 bold frm_addr_redeem" id="txt_district" style="background-color: #f1f1f2;margin-bottom: 0 !important;"></select>
                                    <span style="color:red; font-size:15px;" id="vtxt_district"></span>
                                </div>
                            </div>
                            <div class="form-row justify-content-center" style="padding-bottom:45px;">
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">ตำบล <span style="color:red;">*</span></span>
                                <div class="col-md-4 col-sm-8">
                                    <input type="hidden" id="hd_addr_subdistrict" value="" />
                                    <select class="form-control font-size-20 bold frm_addr_redeem" id="txt_subdistrict" style="background-color: #f1f1f2;margin-bottom: 0 !important;"></select>
                                    <span style="color:red; font-size:15px;" id="vtxt_subdistrict"></span>
                                </div>
                                <span class="col-md-2 col-sm-4 frm_rewarddetail paddingtop10">รหัสไปรษณ์ <span style="color:red;">*</span></span>
                                <div class="col-md-4 col-sm-8">
                                    <input class="form-control font-size-20 bold frm_addr_redeem" type="text" style="background-color: #f1f1f2;margin-bottom: 0;" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" id="txt_post">
                                    <span style="color:red; font-size:15px;" id="vtxt_post"></span>
                                </div>
                            </div>
                        </div>
                    </form>


                    @*<div class="col-sm-6">
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">ชื่อ-สกุล </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="addr_name" />
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">โทรศัพท์ </label>
                                </div>
                                <div class="col-md-9">

                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">E-mail </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="addr_email" />
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">ที่อยู่ </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="addr_houseno" />
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">อาคาร </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="addr_bulding" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">จังหวัด </label>
                                </div>
                                <div class="col-md-9">
                                    <select class="form-control " id="addr_province"></select>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">อำเภอ </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="hidden" id="hd_addr_district" value="" />
                                    <select class="form-control " id="addr_district"></select>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">ตำบล </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="hidden" id="hd_addr_subdistrict" value="" />
                                    <select class="form-control " id="addr_subdistrict"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3" style="text-align: right; padding-top: 4px;">
                                    <label class="text-semibold text-main">ไปรษณีย์ </label>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="addr_zipcode" readonly value="" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" />
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="row" style="padding-top: 20px; text-align: center;">
                    <button data-dismiss="modal" class="btn btn-default" type="button" style="width:100px;"> ยกเลิก </button>
                    <button class="btn btn-primary" type="button" style="width:100px;" id="btn_confirm_redeem"> ตกลง </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="validate_modal" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 22px;" id="Header_Alert2">แจ้งเตือน</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="content-text-modal">
                        <h3 class="content__title" style="font-size: 24px;">กรอกข้อมูลในช่องที่มีเครื่องหมาย * ให้ครบถ้วน</h3>
                        <h4 class="content__title" id="validateAlert" style="font-size:20px;"></h4>
                        @*<div class="content__text" style="padding-left: 150px; text-align: left;">
                                <ul class="message-desc" id="validateAlert"></ul>
                            </div>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn button button--rounded green large" style="border: 0px solid;" data-dismiss="modal"> ปิดหน้าต่าง </button>
            </div>
        </div>
    </div>
</div>
<div id="modal_openImg" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-privilege" role="document">
        <div class="modal-content ps-modal-content" style="border-radius: 0;">
            <div class="modal-body">
                <div class="text-center">
                    <div class="welcome-img">
                        <img id="img_file" style="width:100%;" src="" />
                    </div>
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-12 col-sm-12 col-xs-12"><button class="btn button button--rounded green large" style="border: 0px solid;" data-dismiss="modal"> ปิดหน้าต่าง </button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="alert-modal" class="modal detail-privilege" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 22px;" id="Header_Alert">แจ้งเตือน</h5>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="content-text-modal">
                        <h3 class="content__title" id="Reward_Alert"></h3>
                        <h4 class="content__title" id="Reward_Alert2" style="font-size:20px;"></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn button button--rounded green large" style="border: 0px solid;" data-dismiss="modal"> ปิดหน้าต่าง </button>
            </div>
        </div>
    </div>
</div>
