﻿@{
    ViewBag.Title = "ข้อมูลสมาชิก";
    ViewBag.Description = "เปลี่ยนรหัสผ่าน";
}

<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>เปลี่ยนรหัสผ่าน</h4>
            </div> 
            <div class="box-body">
                <form class="form-horizontal" id="search-reward-from" style="padding-left: 15px;">
                    <div class="col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="radio">
                                <!-- Inline radio buttons -->
                                <input id="active-all" class="magic-radio" type="radio" name="active" value="A" checked>
                                <label style="padding-left: 5px;" for="active-all">All</label>
                                &emsp;
                                <input id="active-all2" class="magic-radio" type="radio" name="active" value="Y">
                                <label style="padding-left: 5px;" for="active-all2">Active</label>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">แคตตาล็อก</label>
                        <div class="col-md-4">
                            <select class="form-control ddl_select" id="search_catalog" name="catalogue_code">
                                <option value="">PS-2018-1</option>
                                <option value="">PS-2018-2</option>
                                <option value="">PS-2018-3</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label">ประเภทรางวัล</label>
                        <div class="col-md-3">
                            <select class="form-control ddl_select" id="search_type" name="search_type">
                                <option value="">Business</option>
                                <option value="">Left Style</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label"></label>


                        @*<div class="col-md-5" style="padding-top:10px; ">
                                <span style="color:red;" id="dateCatalog"></span>
                            </div>*@
                    </div>
                </form>
            </div>

        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
