﻿@{
    ViewBag.Title = "ข้อมูลสมาชิก";
    ViewBag.Description = "คะแนนสะสม";
    Layout = "~/Views/Shared/_LayoutCall.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>คะแนนสะสม</h4>
            </div>
            <div class="card-body style-default-bright" style="padding-top:10px;">
                <form class="form-horizontal" role="form">
                    <div class="tabbable">
                        <div class="form-group" style="margin-bottom: 0;">
                            @Html.Partial("~/Views/Shared/_Profile.cshtml")
                        </div>
                        <div class="box-body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#tab1" aria-expanded="true" data-toggle="tab"><i class="fa fa-database"></i>&nbsp; ประวัติการได้รับคะแนน</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tab2" data-toggle="tab"><i class="fa fa-gift"></i>&nbsp; ประวัติการแลกของรางวัล</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab1" role="tabpanel" class="tab-pane active">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <label class="col-md-3 control-label" for="demo-hor-inputpass">คะแนนรวมที่ได้รับทั้งหมด</label>
                                            <div class="col-md-3 col-xs-6 ">
                                                <input type="text" class="form-control " id="ddl_cat_reward" value="8,525" style="color:red; text-align:center;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="padding:0px;">
                                        <div class="box-body" style="padding:0px;">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item active">
                                                    <a class="nav-link" href="#tab_point1" aria-expanded="true" data-toggle="tab"><i class="fa fa-user"></i>&nbsp; สมัครสมาชิก</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#tab_point2" data-toggle="tab"><i class="fa fa-asl-interpreting"></i>&nbsp; แนะนำเพื่อน</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#tab_point3" data-toggle="tab"><i class="fa fa-money"></i>&nbsp; การชำระเงิน</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#tab_point4" data-toggle="tab"><i class="fa fa-comments"></i>&nbsp; กิจกรรม</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="tab_point1" role="tabpanel" class="tab-pane active">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <label class="col-md-2 control-label" for="demo-hor-inputpass">คะแนนรวม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="ddl_cat_reward" value="25" style="text-align:center;"> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab_point2" role="tabpanel" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <label class="col-md-2 control-label" for="demo-hor-inputpass">คะแนนรวม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="ddl_cat_reward" value="50" style="text-align:center;">
                                                            </div>
                                                            <label class="col-md-3 control-label text-right" for="demo-hor-inputpass">จากจำนวนผู้ถูกแนะนำ</label>
                                                            <div class="col-md-3 col-xs-6 ">
                                                                <input type="text" class="form-control " id="ddl_cat_reward" value="5" style="color:red; text-align:center;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body" style="padding:0px;">
                                                        <table id="tb_recommend" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;" width="10%;">ลำดับ</th>
                                                                    <th style="text-align:center;" width="20%;">วันที่แนะนำ</th>
                                                                    <th style="text-align:center;" width="20%;">คะแนน</th>
                                                                    <th style="text-align:center;" width="30%;">ชื่อผู้ถูกแนะนำ</th>
                                                                    <th style="text-align:center;" width="20%;">วันที่ตรวจสอบ</th>
                                                                    <th style="text-align:center;" width="20%;">สถานะ</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="text-align:left;">
                                                                    <td style="text-align:center;">1</td>
                                                                    <td>28/05/2018</td>
                                                                    <td style="text-align:center;">10</td>
                                                                    <td>นาย ก</td>
                                                                    <td>29/05/2018</td>
                                                                    <td style="text-align:center;">ผ่าน</td>
                                                                </tr>
                                                                <tr style="text-align:left;">
                                                                    <td style="text-align:center;">2</td>
                                                                    <td>01/05/2018</td>
                                                                    <td style="text-align:center;">10</td>
                                                                    <td>นาย ข</td>
                                                                    <td>02/05/2018</td>
                                                                    <td style="text-align:center;">ผ่าน</td>
                                                                </tr>
                                                                <tr style="text-align:left;">
                                                                    <td style="text-align:center;">3</td>
                                                                    <td>20/04/2018</td>
                                                                    <td style="text-align:center;">10</td>
                                                                    <td>นาย ง</td>
                                                                    <td>21/04/2018</td>
                                                                    <td style="text-align:center;">ผ่าน</td>
                                                                </tr>
                                                                <tr style="text-align:left;">
                                                                    <td style="text-align:center;">4</td>
                                                                    <td>20/04/2018</td>
                                                                    <td style="text-align:center;">10</td>
                                                                    <td>นาย จ</td>
                                                                    <td>21/04/2018</td>
                                                                    <td style="text-align:center;">ผ่าน</td>
                                                                </tr>
                                                                <tr style="text-align:left;">
                                                                    <td style="text-align:center;">5</td>
                                                                    <td>05/03/2018</td>
                                                                    <td style="text-align:center;">10</td>
                                                                    <td>นาย ฉ</td>
                                                                    <td>06/03/2018</td>
                                                                    <td style="text-align:center;">ผ่าน</td>
                                                                </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div id="tab_point3" role="tabpanel" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <label class="col-md-2 control-label" for="demo-hor-inputpass">คะแนนรวม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="ddl_cat_reward" value="6,000" style="text-align:center;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body" style="padding:0px;">
                                                        <table id="tb_money" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;" width="5%;">ลำดับ</th>
                                                                    <th style="text-align:center;" width="15%;">ชื่อผู้ถูกแนะนำ</th>
                                                                    <th style="text-align:center;" width="10%;">คะแนน</th>
                                                                    <th style="text-align:center;" width="15%;">Project</th>
                                                                    <th style="text-align:center;" width="20%;">เลขที่สัญญา</th>
                                                                    <th style="text-align:center;" width="15%;">Unit</th>
                                                                    <th style="text-align:center;" width="15%;">ยอดเงินที่ชำระ</th>
                                                                    <th width="5%;"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="text-align:left;">
                                                                    <td style="text-align:center;">1</td>
                                                                    <td>คุณเซ้ง</td>
                                                                    <td style="text-align:center;">2,500</td>
                                                                    <td>The Connect 9 นวมินทร์ 70</td>
                                                                    <td>EE6EB612-EC77-E611-80C1-005056B44C23</td>
                                                                    <td>CON240-0041</td>
                                                                    <td style="text-align:center;">2,500,000</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModaltab1">
                                                                            <i class="fa fa fa-file"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:center;">2</td>
                                                                    <td>คุณต้อม</td>
                                                                    <td style="text-align:center;">2,000</td>
                                                                    <td>ไอวี่ ริเวอร์</td>
                                                                    <td>DF5A26B4-A575-E711-80D6-005056B44C23</td>
                                                                    <td>CON240-0022</td>
                                                                    <td style="text-align:center;">2,000,000</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModaltab1">
                                                                            <i class="fa fa fa-file"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align:center;">3</td>
                                                                    <td>คุณรอด</td>
                                                                    <td style="text-align:center;">1,500</td>
                                                                    <td>เดอะทรี พริวาต้า</td>
                                                                    <td>63D612E6-F6FF-E711-80D7-005056B44C23</td>
                                                                    <td>CON240-0034</td>
                                                                    <td style="text-align:center;">1,500,000</td>
                                                                    <td>
                                                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModaltab1">
                                                                            <i class="fa fa fa-file"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div id="tab_point4" role="tabpanel" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="col-md-12">
                                                            <label class="col-md-2 control-label" for="demo-hor-inputpass">คะแนนรวม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="ddl_cat_reward" value="20" style="text-align:center;">
                                                            </div>
                                                            <label class="col-md-2 control-label text-right" for="demo-hor-inputpass">จากจำนวนกิจกรรม</label>
                                                            <div class="col-md-2 col-xs-6 ">
                                                                <input type="text" class="form-control " id="ddl_cat_reward" value="2" style="text-align:center;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body" style="padding:0px;">
                                                        <table id="tb_activities" class="table table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th style="text-align:center;" width="10%;">ลำดับ</th>
                                                                    <th style="text-align:center;" width="20%;">วันที่</th>
                                                                    <th style="text-align:center;" width="60%;">กิจกรรม</th>
                                                                    <th style="text-align:center;" width="10%;">คะแนน</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr style="text-align:left;">
                                                                    <td style="text-align:center;">1</td>
                                                                    <td>28/05/2018</td>
                                                                    <td>ปลูกป่า เขาใหญ่</td>
                                                                    <td style="text-align:center;">10</td>
                                                                </tr>
                                                                <tr style="text-align:left;">
                                                                    <td style="text-align:center;">2</td>
                                                                    <td>01/03/2018</td>
                                                                    <td>สมทบทุนช่วยผู้ประสบภัยน้ำท่วม</td>
                                                                    <td style="text-align:center;">10</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab2" role="tabpanel" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <label class="col-md-3 control-label" for="demo-hor-inputpass">คะแนนรวมที่ใช้ทั้งหมด</label>
                                            <div class="col-md-3 col-xs-6 ">
                                                <input type="text" class="form-control " id="ddl_cat_reward" value="7,000" style="color:red; text-align:center;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <table id="tb_recommend" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;" width="5px;">ลำดับ</th>
                                                    <th style="text-align:center;" width="10%;">วันที่</th>
                                                    <th style="text-align:center;" width="25%;">ของรางวัล</th>
                                                    <th style="text-align:center;" width="10%;">จำนวน</th>
                                                    <th style="text-align:center;" width="10%;">คะแนนรวม</th>
                                                    <th style="text-align:center;" width="10%;">สถานะการส่ง</th>
                                                    <th style="text-align:center;" width="10%;">วันที่ส่ง</th>
                                                    <th style="text-align:center;" width="10%;">ส่งโดย</th>
                                                    <th style="text-align:center;" width="10%;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="text-align:left;">
                                                    <td style="text-align:center;">1</td>
                                                    <td>28/05/2018</td>
                                                    <td>Japan tour 5 days 3 nights</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:center;">2,500</td>
                                                    <td>รอส่ง</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModaltab2">
                                                            <i class="fa fa fa-file"></i>&nbsp; รายละเอียด
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr style="text-align:left;">
                                                    <td style="text-align:center;">2</td>
                                                    <td>01/03/2018</td>
                                                    <td>คอมพิวเตอร์ Acer</td>
                                                    <td style="text-align:center;">1</td>
                                                    <td style="text-align:center;">4,500</td>
                                                    <td>ส่งเรียบร้อย</td>
                                                    <td>11/03/2018</td>
                                                    <td>Kerry</td>
                                                    <td>
                                                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModaltab2">
                                                            <i class="fa fa fa-file"></i>&nbsp; รายละเอียด
                                                        </button>
                                                    </td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div><!--end .row -->
<script src="~/Content/js/plugins/jquery/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        $('#tb_activities').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
        $('#tb_recommend').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
        $('#tb_money').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<div id="myModaltab1" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>รายละเอียดการจ่ายเงิน</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table id="notification-tabel" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center;" width="10px;">ลำดับ</th>
                                <th style="text-align:center;" width="20%;">จาก</th>
                                <th style="text-align:center;" width="30%;">วันที่</th>
                                <th style="text-align:center;" width="30%;">ยอดเงินที่ชำระ</th>
                                <th style="text-align:center;" width="10%;">คะแนน</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center;">1</td>
                                <td>โอน</td>
                                <td>01/05/2018</td>
                                <td style="text-align:center;">2,445,000</td>
                                <td style="text-align:center;">2,445</td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">2</td>
                                <td>ผ่อน</td>
                                <td>01/04/2018</td>
                                <td style="text-align:center;">15,000</td>
                                <td style="text-align:center;">15</td>
                               
                            </tr>
                            <tr>
                                <td style="text-align:center;">3</td>
                                <td>ผ่อน</td>
                                <td>01/03/2018</td>
                                <td style="text-align:center;">15,000</td>
                                <td style="text-align:center;">15</td>

                            </tr>
                            <tr>
                                <td style="text-align:center;">4</td>
                                <td>ผ่อน</td>
                                <td>01/02/2018</td>
                                <td style="text-align:center;">15,000</td>
                                <td style="text-align:center;">15</td>

                            </tr>
                            <tr style="text-align:left;">
                                <td style="text-align:center;">5</td>
                                <td>จอง</td>
                                <td>01/01/2018</td>
                                <td style="text-align:center;">10,000</td>
                                <td style="text-align:center;">10</td>

                            </tr>
                    </table>

                </div>
            </div>
            <div class="modal-footer" style="background-color: #fffae9;">
                <button type="button" class="btn btn-default" data-dismiss="modal">&nbsp; ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>
<div id="myModaltab2" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:500px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"><b>รายละเอียดการส่งของรางวัล</b></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" style="margin-left:15px;">
                    <table id="notification-tabel" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align:center;" width="20%;">เลขที่การส่ง</th>
                                <th style="text-align:center;" width="30%;">วันที่รับ</th>
                                <th style="text-align:center;" width="30%;">ผู้รับ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align:left;">
                                <td>RW180600001</td>
                                <td>01/06/2017</td>
                                <td>คุณ ก.</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer" style="background-color: #fffae9;">
                <button type="button" class="btn btn-default" data-dismiss="modal">&nbsp; ปิดหน้าต่าง</button>
            </div>
        </div>
    </div>
</div>