﻿@{
    ViewBag.Title = "การจัดการ";
    ViewBag.Description = "FAQ";
}


<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <div class="box-header">
                <h4>การจัดการข้อมูล FAQ</h4>
            </div>
            <div class="panel-body form-horizontal form-padding" role="form">
                <div class="form-horizontal">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 control-label">กลุ่มคำถาม</label>
                            <div class="col-md-2">
                                <select class="form-control ddl_select" id="search_grp_faq">
                                    <option value=""> - เลือกทั้งหมด - </option>

                                </select>
                            </div>
                            <label class="col-md-1 control-label">วันที่</label>
                            <div class="col-md-2">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="search_start_date">
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                            <label class="col-md-1 control-label text-center">ถึง</label>
                            <div class="col-md-2">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="search_end_date">
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-danger" id="search_btn"><i class="fa fa-search"></i> ค้นหา </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="box-header">
                <h4>รายละเอียด</h4>
            </div>
            <div class="panel-body text-left pull-right">

                <!--Buttons with label-->
                <!--===================================================-->
                <button class="btn btn-danger btn-labeled" data-target="#myModalAddGroup" data-toggle="modal"><i class="fa fa-plus"></i> &nbsp; เพิ่มกลุ่มคำถาม FAQ</button>
                <button class="btn btn-dark  btn-labeled" data-target="#myModalEditGroup" data-toggle="modal" id="btnEditGroup">
                    <i class="fa fa-pencil"></i> &nbsp; แก้ไขกลุ่มคำถาม FAQ
                </button>
                <button class="btn btn-success btn-labeled" data-target="#myModalAddFAQ" data-toggle="modal"><i class="fa fa-plus"></i> &nbsp; เพิ่มคำถาม-คำตอบ</button>
                <!--===================================================-->
                <!--===================================================-->

            </div>
            <div class="panel-body form-horizontal form-padding" role="form">
                <h5>  รายการ FAQ ที่พบ : <span class="text-danger" id="totRecord"> 1</span> <span>รายการ</span></h5>
                <table class="table table-striped no-margin table-bordered" id="data_source_faq" style="overflow-x: scroll;">
                    <thead>
                        <tr>
                            @*<th style="text-align:center;" width="60px;">ลำดับ</th>*@
                            <th style="text-align:center;" width="150px;">กลุ่มคำถาม</th>
                            <th style="text-align:center;" width="180px;">คำถาม</th>
                            <th style="text-align:center;" width="200px;">คำตอบ</th>
                            <th style="text-align:center;" width="180px;">คำถาม (ภาษาอังกฤษ)</th>
                            <th style="text-align:center;" width="200px;">คำตอบ (ภาษาอังกฤษ)</th>
                            <th style="text-align:center;" width="50px;">สถานะ</th>
                            <th style="text-align:center;" width="80px;">วันที่เริ่มต้น</th>
                            <th style="text-align:center;" width="80px;">วันที่สิ้นสุด</th>
                            <th style="text-align:center;" width="80px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>สมาชิก</td>
                            <td>สมาชิก Pruksa Member มีอายุกี่ปี</td>
                            <td>
                                สมาชิกทุกระดับของ Pruksa Member จะไม่มีวันหมดอายุ
                            </td>
                            <td>How long does member on Pruksa Member ?</td>
                            <td>
                                The member of Pruksa Member <br />
                                is not expire.
                            </td>
                            <td>ใช้งาน</td>
                            <td>10/01/2018</td>
                            <td>10/12/2018</td>
                            <td><button class="btn btn-sm btn-danger"><i class="fa fa-pencil"></i> แก้ไข</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModalAddFAQ" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>คำถาม-คำตอบ FAQ</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="add-q-a-form">
                    <div style="margin: 0 15px;">
                        <div class="form-group">
                            <label class="col-md-2 control-label">กลุ่มคำถาม</label>
                            <div class="col-md-6">
                                <select class="form-control ddl_select" id="add-q-faq-group" name="FAQ_GROUP_ID">
                                    <option value=""> - เลือกทั้งหมด - </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">คำถาม</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="QUESTION" id="add-q-question" placeholder="คำถาม">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label ">คำตอบ</label>
                            <div class="col-md-10">
                                <input type="hidden" name="ANSWER" maxlength="1000000000" id="add-q-answer" />
                                <textarea class="form-control" name="ANSWER" id="add-q-answer" placeholder="คำตอบ" rows="5"></textarea>
                                @*<div id="faq-summernote">
                                        <h5><span style="color: rgb(128, 128, 128); font-family: inherit;line-height:unset;">กรุณาระบุ</span></h5>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">คำถาม EN</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="QUESTION" id="add-q-question" placeholder="คำถาม">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label ">คำตอบ EN</label>
                            <div class="col-md-10">
                                <input type="hidden" name="ANSWER" maxlength="1000000000" id="add-q-answer" />
                                <textarea class="form-control" name="ANSWER" id="add-q-answer" placeholder="คำตอบ" rows="5"></textarea>
                                @*<div id="faq-summernote">
                                        <h5><span style="color: rgb(128, 128, 128); font-family: inheritHom ;line-height:unset;">กรุณาระบุ</span></h5>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">วันที่</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="START_DATE" id="Add-START_DATE">
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                            <label class="col-md-1 control-label ">ถึง</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="END_DATE" id="Add-END_DATE">
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 col-xs-6 control-label"> สถานะ </span>
                            <div class="col-md-10 col-xs-6 ">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <input id="radio-add-q-faq" class="magic-radio" type="radio" name="ACTIVE" value="Y" checked>
                                    <label for="radio-add-q-faq">ใช้งาน</label>

                                    <input id="radio-add-q-faq-2" class="magic-radio" type="radio" name="ACTIVE" value="N">
                                    <label for="radio-add-q-faq-2">ยกเลิก</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger" id="saveAdd-FAQ">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalAddGroup" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รายละเอียด FAQ</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="AddGroup">
                    <div style="margin: 0 15px;">
                        <div class="form-group">
                            <label class="col-md-2 control-label">กลุ่มคำถาม</label>
                            <div class="col-md-4 ">
                                <input type="hidden" name="FAQ_GROUP_ID" id="AddGroupFAQ_GROUP_ID" value="0" />
                                <input type="text" id="AddGroupFAQ_GROUP_DESC" name="FAQ_GROUP_DESC" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">วันที่</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="START_DATE" id="AddGroupSTART_DATE">
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                            <label class="col-md-1 control-label ">ถึง</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="END_DATE" id="AddGroupEND_DATE">
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger" id="saveAddGroup">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalEditGroup" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รายละเอียด FAQ</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="EditGroup" role="form">
                    <div style="margin: 0 15px;">
                        <div class="form-group">
                            <label class="col-md-2 control-label">กลุ่มคำถาม</label>
                            <div class="col-md-4 ">
                                <input type="hidden" name="FAQ_GROUP_ID" id="EditGroupFAQ_GROUP_ID" />
                                <input type="text" class="form-control" name="FAQ_GROUP_DESC" id="EditGroupFAQ_GROUP_DESC" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">วันที่</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="START_DATE" id="EditGroupSTART_DATE" required>
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                            <label class="col-md-1 control-label ">ถึง</label>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="END_DATE" id="EditGroupEND_DATE" required>
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 col-xs-6 control-label"> สถานะ </span>
                            <div class="col-md-10 col-xs-6 ">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <input id="demo-inline-form-radio" class="magic-radio" type="radio" name="ACTIVE" value="Y" checked>
                                    <label for="demo-inline-form-radio">ใช้งาน</label>

                                    <input id="demo-inline-form-radio-2" class="magic-radio" type="radio" name="ACTIVE" value="N">
                                    <label for="demo-inline-form-radio-2">ยกเลิก</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="panel-body form-horizontal form-padding" role="form">
                    <table class="table table-striped table-bordered" id="table-FaqGroup">
                        <thead>
                            <tr>
                                <th style="text-align:center;" width="150px;">กลุ่มคำถาม-คำตอบ</th>
                                <th style="text-align:center;" width="50px;">สถานะ</th>
                                <th style="text-align:center;" width="80px;">วันที่เริ่มต้น</th>
                                <th style="text-align:center;" width="80px;">วันที่สิ้นสุด</th>
                                <th style="text-align:center;" width="80px;"></th>
                            </tr>
                        </thead>
                        <tbody style="height: 230px; width: 100%;">
                            <tr>
                                <td>คะแนน</td>
                                <td>ใช้งาน</td>
                                <td>01/01/2018</td>
                                <td>31/12/2018</td>
                                <td><button class="btn btn-danger btn-sm"> แก้ไข </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger" id="saveEditFaqGroup">บันทึก</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModalDetail" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>รายละเอียด FAQ</b></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="detail_form" role="form">
                    <div style="margin: 0 15px;">
                        <div class="form-group">
                            <span class="col-md-2 col-xs-6 control-label"> โครงการ </span>
                            <div class="col-md-4 col-xs-6 ">
                                <select class="form-control" id="project_detail" name="PROJECT" disabled>
                                    <option value=""> - เลือกทั้งหมด - </option>
                                </select>
                            </div>
                            <span class="col-md-1 col-xs-1 "></span>

                        </div>
                        <div class="form-group">
                            <span class="col-md-2 col-xs-6 control-label"> กลุ่มคำถาม </span>
                            <div class="col-md-4 col-xs-6 ">
                                <select class="form-control" id="detail_faqGrp_id" name="FAQ_GROUP_ID">
                                    <option value=""> - เลือกทั้งหมด - </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 col-xs-6 control-label"> คำถาม </span>
                            <div class="col-md-10 col-xs-6 ">
                                <input type="text" class="form-control" id="detail_question" name="QUESTION" />
                                <input type="hidden" class="form-control" id="detail_faqId" name="FAQ_ID" />
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 col-xs-6 control-label"> คำตอบ </span>
                            <div class="col-md-10 col-xs-6 ">
                                <input type="hidden" name="ANSWER" id="detail_answer" />
                                <input class="form-control" id="detail_answer_summernote" />
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 col-xs-6 control-label"> วันที่เริ่มต้น </span>
                            <div class="col-md-3 col-xs-6 ">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="detail_startDate" name="START_DATE" required>
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                            <span class="col-md-2 col-xs-6 control-label">วันที่สิ้นสุด </span>
                            <div class="col-md-3 col-xs-6 ">
                                <div class="input-group date">
                                    <input type="text" class="form-control" id="detail_endDate" name="END_DATE" required>
                                    <span class="input-group-addon"><i class="demo-pli-calendar-4"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 col-xs-6 control-label"> สถานะ </span>
                            <div class="col-md-10 col-xs-6 ">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <input id="detail_radio" class="magic-radio" value="Y" type="radio" name="ACTIVE" checked>
                                    <label for="detail_radio">ใช้งาน</label>

                                    <input id="detail_radio2" class="magic-radio" value="N" type="radio" name="ACTIVE">
                                    <label for="detail_radio2">ยกเลิก</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">ปิดหน้าต่าง</button>
                <button type="button" class="btn btn-danger" id="saveDetailFaq">บันทึก</button>
            </div>
        </div>
    </div>
</div>